/* image description styling */

//width calculated by js
.mp-description-wrapper
  position absolute
  overflow auto
  text-align center
  padding-top 1%
  height 75%
  font-size 100%
/* img description */

// height calculated by js
.mp-status-wrapper
  width 100%
  float left

.mp-options-wrapper
  width 100%
  height 25%
  border-top $border-light
  background $background-color-darker
  text-align center

.mp-description-name
	position absolute

.mp-options
  position relative
  float left
  img
    cursor pointer

.mp-status-image
  float right
  color white
  position absolute
  right 1%
