/* image description styling */

//width calculated by js
.mp-description-wrapper
  position absolute
  overflow auto
  text-align center
  padding-top 1%
  height 75%
  font-size 100%
/* img description */

#mp-photo-description
  display none
  
.mp-description-name
  position absolute

.mp-status-image
  float right
  color white
  position absolute
  right 1%
