/* image description styling */

//width calculated by js
.mp-description-wrapper
  height 100%
  width 100%
  overflow auto
  text-align center
  padding-top 1%
  font-size 100%
/* img description */

#mp-photo-description
  position absolute
  background $background-color-darker
  color $background-color-light
  opacity 0.7
  
.mp-description-name

.mp-status-image
  float right
  color white
  right 1%
