{% extends "account/base.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block name %}{% trans "Account Info & Settings" %}{% endblock %}

{% block account_info %}

<h2>{% trans "Account Info" %}</h2>

<table border="1"
       frame="below"
       rules="rows"
       cellpadding="15"
       cellspacing="5">

  <colgroup>
    <col width="40%" />
    <col width="60%" />
  </colgroup>

  <tbody>
    <tr style="display: none">
      <td>{% trans "Profile picture" %}</td>
      <td>{{ user.userprofile.picture }}</td>
    </tr>
    <tr>
      <td>{% trans "Name" %}</td>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
    </tr>
    <tr>
      <td>{% trans "Username/Email" %}</td>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <td>{% trans "Account-Status" %}</td>
      <td>{% if user.is_active %}{% trans "Active" %}{% else %}{% trans "Inactive" %}{% endif %}</td>
    </tr>
    <tr>
      <td>{% trans "Storage Space" %}</td>
      <td>
        <span id="mp-user-quota">{{ quota }}</span>MB
        ({% trans "Already in use:" %} <span id="mp-user-used-space">{{ used_space }}</span>MB)
      </td>
    </tr>
    <tr>
      <td>{% trans "Free space left" %}</td>
      <td><span id="mp-user-free-space">{{ free_space }}</span>MB</td>
    </tr>
    <tr>
      <td>{% trans "Usage" %}</td>
      <td>{{ n_albums }} {% trans "Albums" %} -- {{ n_places }} {% trans "Places" %} -- {{ n_photos }}
        {% trans "Photos" %}</td>
    </tr>
    {% if not is_test_user %}
    <tr>
      <td></td>
      <td><a href="/account/delete">{% trans "DELETE_ACCOUNT" %}</a></td>
    </tr>
    {% endif %}
  </tbody>

</table>
{% endblock %}

{% block account_settings %}
{% if not is_test_user %}
<a href="{% url 'password_change' %}"
   class="mp-button">{% trans "Update Password" %}</a>
{% else %}
<p>
  {% trans "ACCOUNTS_TEST_USER_INFO" %}
</p>
{% endif %}
{% endblock %}
