{% autoescape off %}
Guten Tag,

jemand hat eine Zurücksetzung des Passworts für Ihren User Account bei {{ site_name }} beantragt.

Um Ihr aktuelles Passwort zurückzusetzen, gehen folgen Sie bitte dem Link und bestimmen Sie ein neues Passwort:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url reset_password_confirm uidb36=uid token=token %}
{% endblock %}

Ihr Nutzername - wird für die Anmeldung gebraucht - ist {{ user.email }}.

Sollten Sie keine Zurücksetzung des Passworts beantragt haben oder sollte Ihnen Ihr Passwort wieder eingefallen sein, 
können Sie die Mail einfach ignorieren. Ihr Passwort bleibt dann unverändert.

Danke, dass Sie unsere App nutzen und weiterhin viel Spaß beim erstellen und teilen ihrer eigenen Fotoalben.

Das {{ site_name }} Team.

{% endautoescape %}