/* img album and slideshow */
$album-width = 49%
.mp-album-zoom
  width 10%
  height auto
  position absolute
  display none

//sized and positioned with js
.mp-slideshow
  width 100%
  height 100%
  position absolute
  padding 0 0 0 1%
.mp-slideshow-background
  width 100%
  height 100%
  position absolute
  background $background-color-dark
  opacity 0.7
.mp-current-image
    border 2px solid #FFFFFF

 
.mp-album
  z-index 5
  position absolute
  overflow hidden
  width 45%
  //no idea where these weird values come from - maybe should be changed later - for now works though
  height 75% //$height-main - 10%
  border $border-dark
  margin 0.5% 0 0 51%
  opacity 0.8
  background $background-color-light url(../../images/bgalbum.png) no-repeat center center

.mp-album-wrapper
  width 99%
  height 93%
  padding 1% 0 0 1%
  
.mp-gallery-title-bar
  width 100%
  height 5%
  background $background-color-darker
  color white
  text-align center
  border-bottom $border-dark

.mp-gallery img
  display block
  float left
  padding 2px
  background $background-color-light
  width 30% //trial and error with debugger
  height 30%
  transition
  &.current
    background $current-color
  &.visited
    background $visited-color
  imghover, &.current img
    opacity 0.8

// display was table-cell before -> incompatible with oper
// div around slideshow image and zoom
.mp-album-image
  display block
  text-align center
  vertical-align middle
  position relative
  img
    vertical-align middle
    max-height 95%
    max-width 95%
    border($box-shadow-light-grey)

.mp-slideshow-close
  position absolute
  width 5%
  height auto
  top 0%
  right 0%
  z-index 100

.mp-album-nav img
  position absolute
  width 5%
  height auto
  top 50%
  margin-top -2.5%
  z-index 10
  &.mp-album-nav-next
    left auto
    right 0%

.mp-image-loading-small
  width 5%
  height auto
  position absolute
  display none
  
.mp-photo-controls-wrapper
	z-index 1000 //100 less than fancybox
	width 10%
	height 8%
	&.mp-photo-controls
		height 80%
		width 45%
	
.mp-photo-controls-background
	position absolute
	z-index -1
	width 100%
	height 100%
	
