$album-width = 49%

/* main album styling */
.mp-album
  width 45%
  height 75%
  border $border-dark
  margin 0.5% 0 0 51%
  z-index 1025
  position absolute
  overflow hidden
  background $background-rgba-alpha08-light
  
.mp-gallery-title-bar
  width 100%
  height 5%
  border-bottom $border-dark
  z-index 1030
  background $background-color-darker
  color white
  text-align center
  span
    z-index 1035
    
.mp-image-loading-small
  width 5%
  height auto
  position absolute
  display none
  
/* slideshow and fullscreen styling */
.mp-album-zoom
  width 10%
  height auto
  position absolute
  display none
.mp-slideshow
  width 100%
  height 100%
  padding 0 0 0 1%
  position absolute
.mp-slideshow-background
  width 100%
  height 100%
  position absolute
  background $background-color-dark
  opacity 0.7
.mp-current-image
    border 2px solid #FFFFFF

.mp-album-image
  display block
  text-align center
  vertical-align middle
  position relative
  img
    max-width 95%
    max-height 95%
    border($box-shadow-light-grey)
    vertical-align middle

.mp-slideshow-close
  width 5%
  height auto
  z-index 100
  position absolute
  top 0%
  right 0%

.mp-album-nav img
  width 5%
  height auto
  margin-top -2.5%
  z-index 10
  position absolute
  top 50%
  &.mp-album-nav-next
    left auto
    right 0%

/* gallery styling */
.mp-album-wrapper
  width 99%
  height 93%
  padding 1% 0 0 1%

.mp-gallery img
  width 30%
  height 30%
  padding 2px
  display block
  float left
  background $background-color-light
  transition
  &.current
    background $current-color
  &.visited
    background $visited-color
