/* ------------------------------------------------- */
/* ---- styling of controls, links and buttons ----- */
/* ------------------------------------------------- */


/* ------------------------------ */
/* ---- control box styling ----- */

.mp-controls-wrapper
  height 7% // box must contain 2 or 3 icons and must grow dynamically in width
  margin 0 2px
  position absolute
  background #eaeaea
  border-radius 15px
  box-shadow(5px 5px 25px #4a4a4a)
  text-align center
  img
    height 90%
    // width 40px
    margin 2px 5px 0 5px
    
/* ------- end control box ------ */


/* ------------------------------- */
/* -- styling of extra controls -- */

.mp-option-add-wrapper
  width 19%
  height 20%
  border 1px solid $background-color-darker
  float left
  display block
  background $background-color-light
  .mp-option-add
    width 20%
    height 20%
    padding 0
    float none
    display inline
  
.mp-option-to-login
  margin 50px
  text-align center

/* ------ end extra controls ----- */

/* ------------------------------- */
/* ----- fullscreen controls ----- */

.mp-image-zoom
  width 5%
  height auto
  z-index 999
  position absolute
  display none

.mp-image-overlay-close
  float none
  right 4%

.mp-image-overlay-close, .mp-image-nav img
  width 3%
  height auto
  z-index 10
  position absolute
 .mp-image-nav-next
    right 1%
 .mp-image-nav-prev
    left 1%

/* ---- end fullscreen controls ---- */

/* ---- photo editor controls ----*/
#ui-editor-controls
  width 30%
  float right
  button
    width 100%
  .slider
    width 60%
  input[type="number"]
    width 30%
#ui-editor-preview
  max-width 65%

