/* --------------------------------------------------- */
/* --- styling of the core parts used on all pages --- */
/* --------------------------------------------------- */

/* --------------------------------------- */
/* -- styling of the core html elements -- */


/* Styling the size (including margin) in this stylesheet does not work.
 * This is, because it is not present, when the site is first displayed. 
 * The style must go into the head of the html document as inline css(!).
 */
html
  font-family $font-family // "Droid Sans"
  // width // see comment above!
  // height // see comment above!

/* make every element a border-box
 * this makes styling the grid more easy, cause you can define the width one time
 * without the need to adjust it every time you add paddings and such.
 * Also you can now add paddings and borders with "px" even though the grid is defined with "%" widths
 */
*
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

aside
  width 80%
  padding 5px
  border 2px solid gray
  margin 10px auto
  font-size 95%
  border-radius 5px
  h3
    padding 0
    margin 0
    margin-top 5px
    font-size 100%

a
  cursor pointer

/* --------- end core elements ----------- */

/* --------------------------------------- */
/* -- core classes - used on every side -- */

.mp-container
  background-color $background-color
  // box-shadow(5px 5px 25px #A4A4A4)
  overflow hidden
  height 100%
  min-height 100%

#mp-no-script div, #mp-no-cookies
  margin 0 auto // center element
  width 75%
  padding 0.7em
  
.mp-warning
  font-weight bolder
  color red
  font-size 1.1em
  a
    margin 0 5px
    
.mp-reference
  letter-spacing 1px
  font-size .9em
  font-weight bolder

.mp-placeholder-halfheight
  height 50%

.mp-placeholder-fullheight
  height 100%

.mp-disabled
  opacity 0.5

.mp-content
 height 80%
 padding 20px 10px 10px 10px
 h2, h3, ol
  max-width 90%
  margin 5px auto
 ol
  padding-left 50px

.mp-zoom
  cursor -moz-zoom-in
  cursor -webkit-zoom-in
  cursor zoom-in

.mp-invisible
  position absolute
  visibility hidden
  whitespace nowrap

.disabled
  opacity .3

.mp-floatleft
  float-left
.mp-floatright
  float right

.mp-cursor-pointer
  cursor pointer

.mp-nodisplay
 display none

.mp-empty-box
  height 45%
  margin 1.5%
  background-color #BBB
  text-align center
  gradientEW()
  span
    margin 10%

.mp-bold
  font-weight bold

.mp-animate-100
  transition(0.1s)
.mp-animate-200
  transition(0.2s)
.mp-animate-300
  transition(0.3s)
.mp-animate-400
  transition(0.4s)
.mp-animate-500
  transition(0.5s)
.mp-animate-600
  transition(0.6s)
.mp-animate-700
  transition(0.7s)
.mp-animate-800
  transition(0.8s)
.mp-animate-900
  transition(0.9s)
.mp-animate-1000
  transition(1s)
.mp-animate-2000
  transition(2s)
.mp-animate-5000
  transition(5s)
  
.mp-delay-100
  delayTransition(0.1s)
.mp-delay-200
  delayTransition(0.2s)
.mp-delay-500
  delayTransition(0.5s)


.mp-rotate-Y-90
  transform(rotateY(90deg))

.mp-rotate-Y-0
  transform(rotateY(0deg))

.mp-scaleX-0
  transform(scaleX(0))
.mp-scaleX-1
  transform(scaleX(1))
.mp-flipX
  transform(scaleX(-1))
  
.mp-clearing
  clear both
  
.mp-dark-loader,
.mp-light-loader
  max-width 32px
  max-height 32px
 
.mp-infotext,
#mp-infoalert
  width 100%
  height 100%
  padding 0 10%
  position absolute
  top 0
  left 0
  overflow auto
  background rgba(15,15,15,0.8)
  color white
  text-align center
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box
  div
    width 100%
    height 100%
    display table // to vertically center the text
  a
    color white
  span
    display table-cell
    vertical-align middle

#mp-infoalert
  width 60%
  height 20%
  top 40%
  left 20%
  z-index 101

#mp-mask
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  z-index 100
  background-color rgba(244, 244, 244, 0.5)
  
#mp-infotext-closing-help
  position absolute
  right 0
  bottom 0
  font-size .7em

.mp-infotext-close
  width auto
  height 10px
  max-height 10px
  float right
  font-size 20px !important
  cursor pointer

/* ---------- end core classes ----------- */

/* --------------------------------------- */
/* ----------- header styling ------------ */

.mp-page-header
  height 13%
  min-height 13%
  border-bottom 1px solid black
  z-index 50
  section
    height 100%
    margin 0 .166%
    padding 0

.mp-keiken-logo
 height 95%
 margin-left 3%

.mp-top-panel
  height 100%

.mp-page-title
  height 100%
  max-height 100%
  overflow auto // prevent long album titles from being cut
  h1
    /* for compatiblities sake, the font-size is set via js */
    // font-size 5vh // former 200%
    margin 0 // reset browser stylesheets
    margin-top 4% // (13% (header) - 5% (font height)) / 2
    text-align right
    padding-right 10px
/* ------------ end header ------------- */

/* ------------ drop up menu ------------- */

.mp-dropup-menu
  padding 10px
  position absolute
  display none
  background-color $background-color // #dadada
  box-shadow(5px 5px 25px #A4A4A4)
  z-index 50

/* ------------ end drop up -------------- */

/* ------------------------------------- */
/* ---------- footer styling ----------- */

.mp-page-footer
  height 7%
  padding-top 6px // buffer for other margins and varying glyphs
  /* this is done with js now */
  // font-size 2.4vh /* source: http://dev.w3.org/csswg/css3-values/#vw-unit. Scales to 2% of the viewport height */
  border-top 1px solid black
  letter-spacing 2px
  z-index 50 // cover menu
  background-color $background-color // other menu will be visible through transparent menu

.mp-internal-links
  display inline-block
  float right
  a
    text-decoration none
    color $font-color
    padding-right 5px
  a:hover
    background-color $border-color

#mp-user,
#mp-login-link
  letter-spacing 1px
  a
    text-decoration none
  a:hover
    text-decoration none


/* ------------- end footer ------------- */
