/* --------------------------------------------------- */
/* --- styling of the core parts used on all pages --- */
/* --------------------------------------------------- */

/* --------------------------------------- */
/* -- styling of the core html elements -- */

body 
  height 99%
  margin 5px
  padding 0
  
html
  height 99%
  margin 0
  padding 0  
  font-family $font-family // "Droid Sans"
  color $font-color
  
aside
  width 80%
  padding 5px
  border 2px dashed black
  margin 10px auto
  font-size 95%
  border-radius 5px
  h3
    padding 0
    margin 0
    margin-top 5px
    font-size 100%

/* --------- end core elements ----------- */

/* --------------------------------------- */
/* -- core classes - used on every side -- */

.mp-container
  background-color $background-color
  box-shadow(5px 5px 25px #A4A4A4)

.mp-alignment-div
  min-width 100%
  width 100%
  min-height 1px
  height 1px

.mp-placeholder-halfheight
  height 50%

.mp-placeholder-fullheight
  height 100%

.mp-content
 height 80%
 padding 1% 0

.mp-zoom
  cursor -moz-zoom-in
  cursor -webkit-zoom-in
  cursor zoom-in

.mp-invisible
  position absolute
  visibility hidden
  whitespace nowrap

.disabled
  opacity .3

.mp-floatleft
  float-left
.mp-floatright
  float right

.mp-control
  cursor pointer
  
.mp-construction
  transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);

.mp-nodisplay
 display none

.mp-empty-box
  height 45%
  margin 1.5%
  background-color #BBB
  text-align center
  gradientEW()
  span
    margin 10%

.mp-title-bar
  width 100%
  height 10%
  border-bottom 1px solid black
  text-align right
#mp-gallery .mp-title-bar
  margin 0

/* ---------- end core classes ----------- */


/* --------------------------------------- */
/* ----------- header styling ------------ */

.mp-page-header
  height 13%
  min-height 13%
  border-bottom 1px solid black
  section
    margin 0 .16%
    padding 0

.mp-logo .mp-keiken-logo
 margin-left 3%

.mp-top-panel
  height 100%
  border-top 1% solid $background-color-light

.mp-search
  height 50%
  span
    margin-left 30%

.mp-option-to-dashboard
  width 30%
  height 85%
  border 1px solid white
  margin-top 1px
  margin-left 5px
  float left
  color white
  text-decoration none
  border-radius 25px

.mp-page-title
  height 100%
  h1
    margin 0 3% 0 0
    float right
    color $background-color-darker
    letter-spacing 2px
/* ------------ end header ------------- */


/* ------------------------------------- */
/* ---------- footer styling ----------- */

.mp-page-footer
  height 3%
  border-top 1px solid black
  letter-spacing 2px
  vertical-align middle
  section
    margin 0 .16%
    padding 0

.mp-internal-links
  height 100%
  a
    float right
    text-decoration none
    color $font-color
    padding-right 5px
  a:hover
    background-color $border-color

.mp-user,
.mp-login-link
  height 100%
  text-align left
  a
    height 100%
    text-decoration none
  span
    height 100%
    margin-left 1%
    float left
    
/* ------------- end footer ------------- */
