/* ------------------------------------------- */
/* ----------- dashboard styling ------------- */
/* ------------------------------------------- */

/* ------------------------------- */
/* ----------- imports ----------- */

@import "setup"
@import "core"
@import "interactive"
@import "controls"
@import "input"

/* -------- end imports ---------- */

/* -------------------------------- */
/* ------- newsfeed styling ------- */

.mp-news-feed
  height 25%

/* --------- end newsfeed --------- */