/* ------------------------------------------- */
/* ----------- dashboard styling ------------- */
/* ------------------------------------------- */

/* ------------------------------- */
/* ----------- imports ----------- */

@import "setup"
@import "core"
@import "interactive"
@import "controls"
@import "input"

/* -------- end imports ---------- */

/* ------------------------- */
/* ---- general styling ---- */

#dashboard
  overflow hidden
  
#dashboard .mp-right-column
  z-index 1
  left 100%

#album-url:hover
  color #88ff88

#mp-open-album-password-form,
#mp-open-album-share-help
  margin-bottom 5px
  
#mp-album-password-form,
#mp-album-share-help
  display none
  
#mp-album-share-help
  width 80%
  font-size .8em

/* ------ end general ------ */

/* -------------------------------- */
/* ------- map styling ------- */

#dashboard .mp-content
  padding 0 /* reset the container padding so that the map is actually fullscreen */
  
#dashboard .mp-full-page
  display block

#dashboard .mp-map
  width 100%
  height 100%
  

/* --------- end map --------- */

/* -------------------------------- */
/* ------- newsfeed styling ------- */

/* --------- end newsfeed --------- */
