/* image description styling */

//width calculated by js

#mp-description
  border $border-dark
  position absolute
  background $background-color-light
  opacity 0.8
  
.mp-description-wrapper
  width 100%
  height 92%
  overflow auto
  text-align center
  font-size 100%

.mp-description-title
  width 100%
  height 8%
  background $background-color-darker
  color white
  font-weight bold

.mp-description-overlay-close
  height 40px
  width 40px
  position absolute
  
.mp-image-number
  float left
  font-size 90%
