/* still not percentage layout */
.mp-dialog 
  & > div > * 
    margin-top $mp-dialog-margin-top
  & > *
    margin-top $mp-dialog-margin-top
  & input, textarea
    margin-left 10px
    width 70%
    float left
  & textarea
    height 100px
  & label
    width 20%
    float left
  & input[name=submit]
    position relative
    left 20%    
  & input[type="checkbox"]
    float right
    margin-right  10px
    width 20px
  & .mp-dialog-long
    width 80%

