/* ------------------------------------------------*/
/* ------ styling of input form and overlays ----- */
/* ----------------------------------------------- */

/* ------------------------------ */
/* ----- input form styling ----- */

/* define the maxHeight and width for the UIInput class */
#mp-dialog
  width 60%
  height 75%
  position absolute
  z-index -100 //hide behind map

.mp-dialog-content
  .mp-button
    float right
  label
    margin 1% 0
    float left
    width 25%
  input, textarea
    margin 1% 0
    width 75%

div.mp-dialog-content
  display inline-block //strech dialog background to full height

#mp-dialog-message
  clear both

// used to set success/failure text next to icon
.mp-inline-block
  display inline-block

.error
 border 4px solid red
  
.mp-form-error
  z-index -1
  display inline
  position absolute


/* ------- end input forms ------ */

