/* still not percentage layout */
    
.mp-input-title
  text-align center

.mp-button
  cursor pointer
  
.mp-dialog
  .mp-button
    float right
  label
    margin 1% 3px
  input
    margin 1% 0
    
#input-dialog
  background-color #CCC
  border 2px solid black
  display none
  min-width 400px
  min-height 400px
  
.mp-form-error
  z-index -1
  display inline
  position absolute
