/* ----------------------------------------------------------- */
/* ---- styling of the core elements on interactive pages ---- */
/* ----------------------------------------------------------- */

/* ------------------------- */
/* ----- column styling ---- */

#mp-status-message
 position absolute
 top 0
 left 50%
 z-index 10 //maybe we can get rid of that
 

.mp-left-column
  width 47%
  margin 0 0 0 1%
  position relative
  float left
  height 100% // necessary because children are also still relative to height
  overflow hidden // full gallery pushes map down. this will hide the overflowing map

.mp-right-column
  width 49%
  margin 0 1% 0 2%
  position relative
  float left
  height 100% // necessary because children are also still relative to height

.mp-full-column
  width 100%
  height 100%
  position absolute 
  top 0 
  left 0
  background-color $background-color
  //TODO mp-data is not a good name
  .mp-data
    width 100%
    height 90%

/* this is needed for the full gallery */
.mp-full-left-column
  /* absolute is behind the map, unless z-index is specified. But: EditControls don't have z-index. */
  position relative
  

.mp-full-column-controls
  width 100%
  height 10%
  text-align right

/* ------- end column ------ */

/* ------------------------- */
/* ------ map styling ------ */

.mp-map
  width 98%
  height 79%
  padding 0
  border 5px solid #dadada
  margin 0

.mp-map-dashboard
   height 97%

.mp-map-wrapper
  width 100%
  height 100%

/* -------- end map -------- */


/* ------------------------- */
/* -- description styling -- */

// .mp-description
//   width 100%
//   height 43%
//   padding 2% 0 0 0

/* The styling of both description and detail box is very similar. They both are wrapped inside a div,
 * #mp-detail-wrapper and #mp-detail-teaser. The title is a simple p and the description is wrapped
 * inside a div both times. */

#mp-detail-wrapper
  height 90% // 100% - 10% (detail-controls)

#mp-detail-teaser
  height 40% // 100% - 56% (+ 1% margin of slideshow) 

/* Styling all titles & all descriptions.*/
#mp-detail-title,
#mp-detail-teaser-title,
#mp-detail-description-wrapper,
#mp-detail-teaser-description-wrapper
  width 80% 
  padding 0 10%
  
/* Changes only the titles */
#mp-detail-title,
#mp-detail-teaser-title
  width 80%
  text-decoration underline
  font-weight bold
  padding 0 10%

/* The detail title can take more less (in %) compared to the teaser title */
#mp-detail-title
  height 5%
  margin 5% 0 // overwrite browser stylesheets default of 1em

/* The teaser title must take up more space in order to be readable */
#mp-detail-teaser-title
  height 10%
  margin 2% 0

/* Changes only the descriptions */
#mp-detail-description-wrapper,
#mp-detail-teaser-description-wrapper
  height 80% // 100% - 5% (+ 4% margin of title)
  overflow auto // show scrollbars in case the description gets too long

/* ---- end description ---- */

/* ------------------------- */
/* --- ui-loading-overlay -- */

.mp-ui-loading
  width 300px
  height 150px
  padding 25px
  border $border-dark
  border-radius 15px
  display none
  background-color $background-color
  .mp-loading-img
    text-align center
  .mp-loading-msg
    text-align left

/* ----- end ui-loading ---- */