/* ----------------------------------------------------------- */
/* ---- styling of the core elements on interactive pages ---- */
/* ----------------------------------------------------------- */


/* ------------------------- */
/* ------ map styling ------ */

.mp-map
  height 45%
  padding 2% 2% 0 2%
  
.mp-map-wrapper
  width 100%
  height 100%

/* -------- end map -------- */


/* ------------------------- */
/* -- description styling -- */

.mp-description
  height 45%
  padding 2% 2% 0 2%
  
.mp-description-wrapper
  width 90%
  height 87% // title-bar is 10% (core.styl)
  padding 0 5% 3% 5%
  overflow auto
  font-size 100%

/* ---- end description ---- */
