/* Photo Map Style */

/* variable declaration */

$visited-color = #d60000
$current-color = #306d12

$background-color-dark = #000
$background-color-darker = #333
$background-color-lighter = #fff
$background-color-light = #f4f4f4
/*
 * for all objects which shall have an alpha value <1 (opacity < 1), but also have child-elements 
 * that should have a normal alpha-value (usually the opacity value is inherited to all child-elements)
 * therefor rgba is used in these cases.. this won't work for IE though.. -> workaround needed!
 *
 */
$background-rgba-alpha08-light = rgba(244,244,244,.8) // same as #f4f4f4
$background-rgba-alpha09-light = rgba(244,244,244,.9) // same as #f4f4f4

$padding = 5px

$border = 3px 
$border-light = $border solid #fff
$border-dark = $border solid #000

$height-main = 84%
$width-main = 50%

$box-shadow = 1px 1px 3px
$box-shadow-light-grey = $box-shadow #999
$box-shadow-lighter-grey = $box-shadow #cac4ab
$box-shadow-black = $box-shadow #000

$transition = all 0.2s ease-in-out

$font-family = 'Rokkitt',sans-serif

$mp-dialog-margin-top = 5px

/*end variable declaration */

/* mixins */

center-element(width,height)
  top 50%
  left 50%
  margin-left -(width/2)
  margin-top -(height/2)

box-shadow(color) 
  -moz-box-shadow color
  -webkit-box-shadow color
  box-shadow color
  
transition
  -webkit-transition $transition
  -moz-transition $transition
  -o-transition $transition
  -ms-transition $transition
  transition $transition
  
gradient
  background-image: linear-gradient(to bottom, #F4F4F4 21%, #333333 95%);
  background-image: -o-linear-gradient(to bottom, #F4F4F4 21%, #333333 95%);
  background-image: -moz-linear-gradient(to bottom, #F4F4F4 21%, #333333 95%);
  background-image: -webkit-linear-gradient(to bottom, #F4F4F4 21%, #333333 95%);
  background-image: -ms-linear-gradient(to bottom, #F4F4F4 21%, #333333 95%);

/* end mixins */

/* imports */

@import "input"
@import "album"
@import "image"
@import "description"
@import "panel"
@import "noninteractive"

/* end imports */


/* css */

/* highest level styling */  
body 
  height 100%
  
html
  height 100%  

.mp-footer
  height 3%
  width 100%
  border-top $border-light
  clear both
  background $background-color-darker
  letter-spacing 2px

.mp-container
  border $border-light
  margin 0 auto
  background #f4f4f4
  box-shadow($box-shadow-lighter-grey)
  
.mp-header
  width 100%
  height 12%
  border-bottom $border-light
  background-image linear-gradient(to bottom, #CFCFCF 15%, #4A4A4A 95%);
  background-image -o-linear-gradient(to bottom, #CFCFCF 15%, #4A4A4A 95%);
  background-image -moz-linear-gradient(to bottom, #CFCFCF 15%, #4A4A4A 95%);
  background-image -webkit-linear-gradient(to bottom, #CFCFCF 15%, #4A4A4A 95%);
  background-image -ms-linear-gradient(to bottom, #CFCFCF 15%, #4A4A4A 95%);

/* general classes */
.mp-invisible
  position absolute
  visibility hidden
  whitespace nowrap

.mp-font 
  font-family $font-family
  font-size 120%
  text-align center

.mp-label
  max-width 50%
  margin auto
  font-weight 700
  text-shadow 1px 1px 1px #000
  text-align center
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  color white

.disabled
  opacity 0.3

.mp-control
  cursor pointer
  
.mp-construction
  transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);

/* general html tag styles */
aside
  width 80%
  padding 5px
  border 2px dashed black
  margin 10px auto
  font-size 95%
  border-radius 5px
  h3
    padding 0
    margin 0
    margin-top 5px
    font-size 100%
    
/* styling of the html tags of map */
.mp-map
  width 100%
  height $height-main
  float left
  background $background-color-light
  float left
  
.mp-map-container
  width 100%
  height 100%
  background $background-color-light
  
.mp-map-wrapper
  width 100%
  height 100%
  
/* styling of controls */
.mp-controls-wrapper
  width 10%
  height 8%
  margin 0 2px
  z-index 1050 //50 less than fancybox and more than overlay
  position absolute
  .mp-controls-options
    height 80%
    width 45%
    position relative
    top 20%
    float right
    cursor pointer
    
.mp-controls-background
  width 100%
  height 100%
  z-index -1
  position absolute
  
.mp-option-to-login
  margin 50px
  text-align center
  
#mp-share
  display none
  background-color #eee
  width 80%
  min-height 100px
  z-index 100
  padding 25px
  border 2px solid #333
  opacity 0.9
  border-radius 25px
  box-shadow 0 0 50px #ccc
  .close
    background-image url(../../images/close.png)
    position absolute 
    right -15px 
    top -15px 
    cursor pointer 
    height 35px
    width 35px
  .mp-copy-button
    margin-left 5px
.mp-overlay-trigger
  display none
  
 
