/* ---------------------------------------------------- */
/* ------- styling of the non-interactive pages ------- */
/* ---------------------------------------------------- */

/* ------------------------------ */
/* ---------- imports ----------- */

@import "setup"
@import "core"

/* -------- end imports --------- */


/* ------------------------------- */
/* -------- map styling ---------- */

.mp-map
  height $height-main
  
.mp-map-wrapper
  height 100%

/* ---------- end map ------------ */


/* ------------------------------- */
/* -------- core stylings -------- */

.mp-left-noninteractive-placeholder
  position absolute

.mp-right-noninteractive-placeholder
  position absolute

.mp-non-interactive-content
  height 84%
  padding 3%
  border-right 2px solid $background-color-darker
  border-left 2px solid $background-color-darker
  //margin-top .25%
  position absolute
  background $background-rgba-alpha09-light
  overflow hidden
  a
    text-decoration none
    color black
    letter-spacing 0.25em
  a:hover
    color $background-color-darker
    text-decoration underline
  h2,
  h3
    text-decoration underline
  li
    margin 5px

/* --------- end core --------- */


/* ---------------------------- */
/* -- styling for login page -- */

.mp-register
  width 45%
  padding 2%
  border-left 5px solid $background-color-darker
  float left
  & input
    float right
  
.mp-login
  width 46%
  padding 2%
  float left
  & input
    float right

/* -------- end login -------- */    


/* --------------------------- */
/* -- styling for help page -- */

.mp-faq-entry
  padding 5px
  border 1px dashed black
  margin 3px 0
  .mp-faq-question
    font-weight bold
  .mp-faq-answer
    display none
    
.mp-tutorial-wrapper
  padding-top 10px
  border-top 4px solid $background-color-dark
  margin-top 30px
.mp-tutorial-entry
  padding 5px
  border 1px dashed black
  margin 1px 0
  .mp-tutorial-description
    font-size 95%
    h5
      font-size 105%
    li
      border 1px dashed black
      margin 3px
      list-style-type none
  .mp-tutorial-subtopic
    font-weight bold
  .mp-tutorial-subtopic-desc
    display none

/* -------- end help --------- */


/* --------------------------- */
/* -- styling for team page -- */

.mp-profile
  clear both
  text-align left
  ul
    float left
  li
    list-style-type none
    margin 5px
  .mp-profile-text
    margin-left 15px
    margin-bottom 10px
  img
    float left
    margin 15px
    margin-right 30px

/* -------- end team -------- */

/* ------------------------------ */
/* -- styling for landing page -- */

.mp-index-section
  height 50%
  min-height 50%
/* ------ end landing page ------ */