/* ---------------------------------------------------- */
/* ------- styling of the non-interactive pages ------- */
/* ---------------------------------------------------- */

/* ------------------------------ */
/* ---------- imports ----------- */

@import "setup"
@import "core"
@import "input"

/* -------- end imports --------- */

/* ------------------------- */
/* ---- general styling ---- */



/* ------ end general ------ */

/* ------------------------------- */
/* -------- core stylings -------- */

.mp-non-interactive-content
  overflow auto
  width 96% // 100% - 4% padding
  height 100%
  // margin 0 20%
  padding 0 2%
  a
    text-decoration none
    color $font-color
    letter-spacing 0.25em
  a:hover
    background-color $border-color
    text-decoration underline
  li
    margin 5px
    
article
  p
    width 90%
    margin 8px auto
    padding 0 0 0 10px

address
  width 90%
  margin 8px auto
  padding 0 0 0 10px

.mp-form
  .mp-form-submit
    margin-left 28% // position under last input field => 3% label margin-right + 25% label width
  label
    margin 1% 0
    margin-right 3%
    float left
    width 25% 
  input, textarea
    margin 1% 0
    width 72% // 100% - 3% label margin right (= space between laveb and input) - 25% label width

// this is djangos css class for errors
.errorlist
  color red

/* --------- end core --------- */

/* ------------------------------ */
/* -- styling for payment page -- */

.mp-payment-info
  width 40%
  border 1px solid gray
  margin 5px auto
  border-radius 5px
  span
    font-weight bolder

/* --------- end payment -------- */

/* ---------------------------- */
/* -- styling for login page -- */

.mp-login-tab
  overflow auto

 #mp-login-register
  width 50%
  margin-left 25%
  
/* -------- end login -------- */    


/* --------------------------- */
/* -- styling for help page -- */

.mp-tutorial-wrapper
  width 80%
  padding-top 10px
  border-top 4px solid $background-color-dark
  margin 20px auto
  h2
    margin-left 5px
.mp-tutorial-entry
  padding 5px
  border 1px dashed black
  margin 1px 0
  .mp-tutorial-description
    font-size 95%
    h4
      margin-left 50px
      font-size 105%
    li
      border 1px dashed black
      margin 3px
      list-style-type none
  .mp-tutorial-subtopic
    font-weight bold
    cursor pointer
  .mp-tutorial-subtopic-desc
    display none

/* -------- end help --------- */


/* --------------------------- */
/* -- styling for team page -- */

.mp-profile
  // clear both
  display inline-block
  width 20%
  text-align center
  ul
    float left
  li
    list-style-type none
    margin 5px
  .mp-profile-text
    margin-left 15px
    margin-bottom 10px
  img
    height 30% // this is necessary to level all profiles on a horizontal line
    max-height 250px // necessary for IE (is max-size of the images)
    max-width 250px // necessary for IE
    // margin 15px
    // margin-right 30px

.mp-team-members
  text-align center

/* -------- end team -------- */

/* ------------------------------ */
/* -- styling for landing page -- */

/* ....... general styles ........*/

#landingpage .mp-content
  background-color #000 //#dadada

#landingpage .background-image,
#landingpage .background-overlay-black,
#landingpage .mp-non-interactive-content
  width 100%
  height 80%
  position absolute
  top 13%
  left 0

#landingpage .background-image
  height  auto //80%
  max-height 80%
  opacity 0.5
  
#landingpage .background-overlay-black
  z-index 1
  background-color rgba(0,0,0,0.6)
  display none

#landingpage .mp-non-interactive-content
  height 100%
  position relative
  top 0%
  background none
  font-size 1.2em
  color #dadada
  overflow hidden

section.keiken-intro
  width 30%
  max-height 85%
  padding 30px
  position absolute
  top 5%
  left 1%
  background-color rgba(0,0,0,0.6)
  text-align left
  overflow auto
  h2
    margin-bottom 30px
    margin-left 0
    text-align left
  div
    margin-bottom 10px

/* ....... main styles ....... */
.mp-landing-page-links
  width 100%

.mp-dashboard-button,
.mp-demo-button,
.mp-test-button
  width 100%
  margin-top 30px
  font-size .8em

/* ....... guest styles ..... */
section.keiken-intro
  form input
    width 47%
    min-height 25px
    float left
    background-color rgba(0,0,0,0.6)
    color white
    border-radius 5px
    box-shadow(inset 0px 0px 5px rgba(255,255,255,0.8))
  .submit-guest-password
    margin-left 6%
    cursor pointer
    box-shadow(0px 0px 5px rgba(255,255,255,0.8))
    
.mp-guest-login-explain
  margin-top 30px
  font-size .8em
  font-style italic

/* ......... login styles ...... */ 

section#keiken-login
  width 25%
  max-height 85%
  position absolute
  top 5%
  left 100%
  font-size .8em
  opacity 0.8
  visibility hidden

#keiken-login .login-toggle
  padding 0
  float right
  cursor pointer
  a
    padding 0
    text-align center
  img
    width 100%
    height auto
    max-width 27px
    max-height 27px
    margin 0
    padding 0

/* ------ end landing page ------ */

/* ------------------------------ */
/* -- styling for contact page -- */

#mp-contact
  width 50%
  margin-left 10%

/* ------ end contact page ------ */

/* ------------------------------ */
/* -- impressum -- */

.mp-impressum-contact aside
  width 60%
  margin-left 5%
  font-size .9em

/* ------ end impressum ------ */
