/* ---------------------------------------------------- */
/* ------- styling of the non-interactive pages ------- */
/* ---------------------------------------------------- */

/* ------------------------------ */
/* ---------- imports ----------- */

@import "setup"
@import "core"
@import "input"

/* -------- end imports --------- */

/* ------------------------------- */
/* -------- core stylings -------- */

.mp-non-interactive-content
  width 60%
  height 100%
  margin 0 20%
  overflow hidden
  a
    text-decoration none
    color $font-color
    letter-spacing 0.25em
  a:hover
    background-color $border-color
    text-decoration underline
  h2,
  h3
    text-decoration underline
  li
    margin 5px

/* --------- end core --------- */


/* ---------------------------- */
/* -- styling for login page -- */

.mp-tabs
  width 45%
  span
    padding 0 5%

.mp-register
  width 45%
  float left
  
.mp-login
  width 45%
  float left
 
/* -------- end login -------- */    


/* --------------------------- */
/* -- styling for help page -- */

.mp-faq-entry
  padding 5px
  border 1px dashed black
  margin 3px 0
  .mp-faq-question
    font-weight bold
  .mp-faq-answer
    display none
    
.mp-tutorial-wrapper
  padding-top 10px
  border-top 4px solid $background-color-dark
  margin-top 30px
.mp-tutorial-entry
  padding 5px
  border 1px dashed black
  margin 1px 0
  .mp-tutorial-description
    font-size 95%
    h5
      font-size 105%
    li
      border 1px dashed black
      margin 3px
      list-style-type none
  .mp-tutorial-subtopic
    font-weight bold
  .mp-tutorial-subtopic-desc
    display none

/* -------- end help --------- */


/* --------------------------- */
/* -- styling for team page -- */

.mp-profile
  clear both
  text-align left
  ul
    float left
  li
    list-style-type none
    margin 5px
  .mp-profile-text
    margin-left 15px
    margin-bottom 10px
  img
    float left
    margin 15px
    margin-right 30px

/* -------- end team -------- */

/* ------------------------------ */
/* -- styling for landing page -- */

.mp-index-section
  height 50%
  min-height 50%
/* ------ end landing page ------ */