/* ---------------------------------------- */
/* ---------- view-album styling ---------- */
/* ---------------------------------------- */

/* ------------------------- */
/* -------- imports -------- */

@import "setup"
@import "core"
@import "interactive"
@import "controls"
@import "input"

/* ------ end imports ------ */


/* ------------------------- */
/* ---- gallery styling ---- */

.mp-gallery
  height 15%
  padding 0.5%
  position relative
  overflow hidden
  .mp-place-title
    width 80%
    margin 0

.mp-gallery-controls
  width 20%
  height 100%
  img.mp-control
    width auto
    height 95%
    padding 0 2.5%
    float left
    background none

.mp-gallery-thumbs
  width 99%
  height 96% // title-bar is 10% (core.styl)
  padding 5px 0 0 0
  position relative
  overflow hidden
  img
    height 95%
    padding 1.5%
    float left
    background $background-color-light
    transition

.mp-gallery-inner
  height 95%
  width 20000em
  position absolute
.mp-thumb-page
  height 95%
  float left
/* ------ end gallery ------ */

/* ------------------------- */
/* slideshow & fullscreen styling */

.mp-slideshow
  height 45%
  padding 1% 1% 1% 0
  .mp-photo-title
    width 80%

.mp-slideshow-controls
  width 20%
  height 100%
  img.mp-control
    width auto
    height 95%
    padding 0 2.5%
    float left
    background none

.mp-slideshow-inner
  height 86%
  width 98%
  padding 5px 0 0 0

.mp-current-image
  max-width 90%
  max-height 90%
  border 5px solid #bababa

.mp-slideshow-image
  height 90% // title-bar is 10% (core.styl)
  display block

.mp-slideshow-nav
  height 90%
   
.mp-image-number
  float left
  font-size 90%

/* ------ end slideshow ------ */