/* ---------------------------------------- */
/* ---------- view-album styling ---------- */
/* ---------------------------------------- */

/* ------------------------- */
/* -------- imports -------- */

@import "setup"
@import "core"
@import "interactive"
@import "controls"
@import "input"

/* ------ end imports ------ */


/* ------------------------- */
/* ---- gallery styling ---- */

.mp-gallery
  width 98%
  height 19%
  padding 5px 0
  position relative
  overflow hidden
  background-color #dadada
  .mp-place-title
    width 80%
    margin 0

.mp-gallery-nav
  width 10%
  height 100%
  span
    height 49%
    width 100%
    display block
  img.mp-control
    width 50%
    height auto

.mp-gallery-main
  width 80%
  height 100%

.mp-gallery-controls
  width 20%
  height 100%
  img.mp-control
    width auto
    height 95%
    padding 0 2.5%
    float left
    background none

.mp-gallery-thumbs
  width 100%
  height 100%
  padding 0
  position relative
  overflow hidden
.mp-thumb
  float left
  background $background-color
  transition

.mp-gallery-inner
  height 100%
  width 20000em
  position absolute

.mp-thumb-page
  height 100%
  float left

/* ------ end gallery ------ */

/* ------------------------- */
/* slideshow & fullscreen styling */

.mp-slideshow
  height 54%
  padding 1% 0 0 0

.mp-slideshow-nav
  width 10%
  height 100%
  img.mp-control
    width 60%
    max-width 50px
    height auto
    max-height 50px
    background none

.mp-slideshow-inner
  height 90%
  width 100%
  padding 0

.mp-current-image
  max-width 95%
  max-height 95%
  border 5px solid #dadada

.mp-slideshow-image
  width 80%
  height 100%
   
.mp-slideshow-info
  height 10%
  width 100%
  padding-top 2%
  text-align center
  
.mp-photo-title
  width 100%
  height 60%
  float left

.mp-fullscreen-photo-title
  z-index 1201
  color $font-color-inverse

.mp-dark-loader
 top 48%
 left 48%
 position absolute


/* ------ end slideshow ------ */