/* ---------------------------------------- */
/* ---------- view-album styling ---------- */
/* ---------------------------------------- */

/* ------------------------- */
/* -------- imports -------- */

@import "setup"
@import "core"
@import "interactive"
@import "controls"
@import "input"

/* ------ end imports ------ */

/* ------------------------- */
/* ---- general styling ---- */

#albumview .mp-left-column,
#albumview .mp-right-column
  z-index 0

/* ------ end general ------ */

/* ------------------------- */
/* ---- gallery styling ---- */

/*
 * The proportions for the gallery are 780 : 280 (w : h)
 * nav-boxes are 60 : 240 | content-part is 650 (=780-2*60-10) : 240 | tiles are 120 : 240 | top&bottom border 20 (h) | space between tiles 10 (w)
 * (the percentages are calculated accordingly) | note: % in padding refers to width of containing box!
 * size and margins of thumbs has to be calculated (UIGallery.js) due to using liquid layout and jquerytools "scrollable" (-> 20000em width)
 */

.mp-gallery
  width 100%
  height 20%
  padding 0 5px
  position relative
  overflow hidden
  background-image url(/static/images/gallery-bg.png)
  background-repeat no-repeat
  background-origin padding-box
  background-position top left
  background-size 100% 100%

.mp-gallery-nav
  width 7%
  height 100%
  padding 1.2% 0  //padding refers to width of containing box -> the 1.2% are about 7% of the height
  text-align center
  span
    height 50%
    width 100%
    padding 10%
    display block
  img.mp-control
    width 65%
    max-height 75% // when the window is very flat, this will prevent icons from disappearing
    height auto
    

.mp-gallery-inner
  width 86% // 100% - 2 * 7% (navi)
  height 100%
  padding 1.2% 0 //padding refers to width of containing box -> the 1.2% are about 7% of the height
  padding-left 1.3%
  overflow hidden
  position relative

#mp-gallery-no-image,
#mp-gallery-not-started
  width 90%
  height 80%
  text-align center
  overflow auto
  p 
    display table-cell
    vertical-align middle

#mp-gallery-no-image
  display none

#mp-gallery-not-started
  display table

.mp-gallery-no-image-msg
  display none

.mp-gallery-tile
  width 18.46%
  height 100%
  padding 0.8%
  margin-right 1.54%
  float left
  position relative
  text-align center

.mp-empty-tile:hover
  cursor copy
  background-image url(/static/images/add-back.png)
  background-position center center
  background-size 15px 15px
  background-repeat no-repeat

.mp-thumb
  max-width 95%
  max-height 95%
  margin 0 auto
  visibility hidden

#mp-full-left-column .mp-full-gallery
  width 95%
  padding-left 5%
  overflow hidden
  position relative

.mp-sortable-tile
  width 20%
  height 20%
  margin-bottom 5px
  float left
  img
    border 3px solid #dadada
    margin 0 auto
    display block

/* -------- end gallery --------- */

/* ------------------------------ */
/* ------ slideshow styling ----- */

.mp-slideshow
  height 54%
  padding 1% 0 0 0

.mp-slideshow-nav
  width 10%
  height 90%
  img.mp-control
    width 60%
    max-width 50px
    height auto
    max-height 50px
    background none

.mp-slideshow-inner
  height 90%
  width 80%
  padding 0

.mp-slideshow-tile
  width 100%
  height 100%
  text-align center

.mp-slideshow-image
  max-width 95%
  max-height 95%
  border 5px solid #dadada
  display none

.mp-slideshow-loader
  width 5%
  /* margin-top is specified in the % of the width of the containing element, not the height. fuck you css! */




.mp-slideshow-no-image-msg
  text-align center
  margin-top 20%
   
.mp-slideshow-info
  height 10%
  width 100%
  padding-top 2%
  text-align center

/* -------- end slideshow --------- */

/* ------------------------------ */
/* ----- fullscreen styling ----- */

.mp-fullscreen
  width 100%
  height 100%
  display none
  z-index 1200
  position fixed
  top 0px
  left 0px
  background-color rgba(000, 000, 000, .9)
  text-align center

.mp-fullscreen-loader
  opacity 0.9

.mp-fullscreen-header
  width 100%
  height 10%
  z-index 1201

.mp-fullscreen-nav,
.mp-fullscreen-close
  width 10%
  height 100%
  float left
  img
    height 95% // we need to scale all icons even behind their native resolution
    max-width 95%

.mp-fullscreen-close
  height 10%
  position absolute
  top 95%
  left 91%
  color white
  font-size 3vh
  font-weight bold

.mp-fullscreen-title-wrapper
  width 80%
  height 100%
  float left
  text-align center
  h2
  z-index 1202
  color $font-color-inverse

.mp-fullscreen-main
  width 100%
  height 90%
  text-align center

.mp-fullscreen-image-wrapper
  width 90%
  height 91%
  max-width 98%
  max-height 91%
  margin 2% 5% 1% 5%
  position relative
  float left
  overflow hidden

#mp-fullscreen-image
  max-width 99%
  max-height 99%
  border $border-light


// .mp-fullscreen-image-description
//   width 19%
//   height 91%
//   padding 0 5%
//   border $border-light
//   border-left none
//   margin 2% 5% 1% 0
//   float left
//   z-index 1202
//   color $font-color-inverse

.mp-image-overlay-wrapper
  border $border-light
  position absolute
  top 50%
  left 50%
  box-shadow($box-shadow-black)

.mp-dark-loader
 top 48%
 left 48%
 position absolute
 display none


/* ------ end fullscreen ------ */