# Node
node_modules/

# Python
*.pyc
.pydevproject
__pycache__/

environment.py

python_libs/

# Dojo dependencies
dojo/
dojox/
dijit/
build/

# Eclipse
.project

# Static assets
static/CACHE
static/profile-picture
static/js/util/
res/export/
