upload/
photomap/*.sql
photomap-legacy/*.sqlite
photomap/static/photo
photomap-legacy/public/stylesheets/main.css
.metadata/
*.*#
*.dump
*.pyc
*.aux
*.log
*.bbl
*.blg
*.dvi
*.glg
*.out
*.ps
*.toc
*.glo
*.ist
*.lof
*.*~
*.acn
*.css
*.project
CACHE/
.sass-cache
