# Node
node_modules/

# Python
*.pyc
.pydevproject
__pycache__/
.venv/
test_db.sqlite

environment.py

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars

python_libs/

# Dojo dependencies
dojo/
dojox/
dijit/
build/

# Eclipse
.project

# Static assets
static/CACHE
static/profile-picture
static/js/util/
res/export/
