{% load i18n %}
<section class="mp-full-column mp-full-left-column mp-nodisplay" id="mp-full-left-column">
  <div class="mp-full-column-controls">
    <span class="mp-control mp-cursor-pointer mp-full-column-closer mp-close-full-left-column" data-dojo-attach-point="closeNode">{% trans "Schließen" %}</span>
  </div>
  <div class="mp-data" data-dojo-attach-point="photoContainerNode"></div>
  <script id="fullGalleryTmpl" type="text/html">
    <% for (index in this.photos) { %>
    <div class="mp-sortable-tile mp-cursor-pointer mp-control">
      <img class="mp-thumb" src="<%= this.photos[index].thumb %>" data-keiken-id="<%= this.photos[index].id %>" />
    </div>
    <% }; %>
  </script>
</section>


