{% load i18n %}
<section class="mp-slideshow" id="mp-slideshow">
  <div class="mp-nodisplay" id="mp-slideshow-photos">
  </div>
  <div class="mp-slideshow-nav column">
    <img class="mp-cursor-pointer mp-control" id="mp-slideshow-nav-prev" data-dojo-attach-point="navLeftNode" src="/static/images/album-arrow-left.png" title='{% trans "Previous Image" %}' />
    {% if user.is_authenticated %}
    <span>
      <img class="mp-open-full-gallery mp-cursor-pointer mp-control mp-nodisplay" src="/static/images/openEdit.png" title='{% trans "Open Full Gallery" %}' />
    </span>
    {% endif %}
  </div>
  <div class="mp-slideshow-inner column" id="mp-slideshow-inner" data-dojo-attach-point="innerNode">
    <div class="mp-slideshow-tile" id="mp-slideshow-image-wrapper" data-dojo-attach-point="imageWrapperNode">
      <img class="mp-slideshow-image mp-control mp-zoom" id="mp-slideshow-image" data-dojo-attach-point="imageNode" src=""/>
      <img class="mp-slideshow-loader mp-light-loader mp-nodisplay" data-dojo-attach-point="loaderNode" src="/static/images/light-loader.gif" />
    </div>
  </div>
  <div class="mp-slideshow-nav column">
    <img class="mp-cursor-pointer mp-control" id="mp-slideshow-nav-next" data-dojo-attach-point="navRightNode" src="/static/images/album-arrow-right.png" title='{% trans "Next Image" %}' />
    {% if user.is_authenticated %}
    <span>
      <img class="mp-option-insert-photo mp-cursor-pointer mp-control mp-nodisplay" src="/static/images/add.png" title='{% trans "Add Image" %}' />
    </span>
    {% endif %}
  </div>
  <div class="mp-slideshow-info column">
    <!-- {% trans "Bild" %} -->
    <span class="mp-image-number" data-dojo-attach-point="photoNumberNode"><!-- 0/0 --></span>
  </div>
</section>
