{% load i18n %}
<section class="mp-slideshow" id="mp-slideshow">
  <div class="mp-nodisplay" id="mp-slideshow-photos">
  </div>
  <div class="mp-slideshow-nav column">
    <img class="mp-cursor-pointer mp-control" id="mp-slideshow-nav-prev" src="/static/images/album-arrow-left.png" title='{% trans "Previous Image" %}' />
  </div>
  <div class="mp-slideshow-inner column" id="mp-slideshow-inner">
    <div class="mp-slideshow-tile" id="mp-slideshow-image-wrapper">
      <img class="mp-slideshow-image mp-control mp-zoom" id="mp-slideshow-image" src=""/>
      <img class="mp-slideshow-loader mp-light-loader mp-nodisplay" src="/static/images/light-loader.gif" />
    </div>
  </div>
  <div class="mp-slideshow-nav column">
    <img class="mp-cursor-pointer mp-control" id="mp-slideshow-nav-next" src="/static/images/album-arrow-right.png" title='{% trans "Next Image" %}' />
  </div>
  <div class="mp-slideshow-info column">
    <!-- {% trans "Bild" %} -->
    <span class="mp-image-number"><!-- 0/0 --></span>
  </div>
</section>
