{% extends "account/base.html" %}

{% load i18n %}

{% block name %}{% trans "Reset Password" %}{% endblock %}

{% block account_info %}
<p>{% trans "RESET_PASSWORD_GIVE_EMAIL" %}</p>
{% endblock %}

{% block account_settings %}
<form class="mp-form"
      action="{% url 'password_reset' %}"
      method="post">
  {% csrf_token %}
  <p class="mp-form-errors">
    {{ form.non_field_errors}}
  </p>
  {{ form.email.errors }}
  <p>
    {{ form.email.label_tag }}
    {{ form.email }}
    {{ form.email.errors}}
    <input class="mp-form-submit ui-button ui-widget ui-state-default ui-corner-all"
           type="submit"
           value="Reset password" />
  </p>
</form>
{% endblock %}
