{% extends "account/base.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block name %}{% trans "Change password" %}{% endblock %}


{% block account_settings %}
<div>
  <p>{% trans "UPDATE_PASSWORD_INFO" %}</p>
  <form class="mp-form"
        method="post"
        action="{% url 'password_change' %}">
    {% csrf_token %}
    <p class="mp-form-errors">
      {{ form.non_field_errors}}
    </p>
    {% for field in form %}
    <p>
      {{ field.label_tag }}
      {{ field }}
      {{ field.errors}}
    </p>
    {% endfor %}
    <p>
      <input type="submit"
             class="mp-form-submit ui-button ui-widget ui-state-default ui-corner-all"
             value='{% trans "Save" %}' />
    </p>
  </form>
</div>
{% endblock %}
