{% autoescape off %}
Hi there,

Someone requested a password-reset for your user account at {{ site_name }}.

To reset your password please follow the link below and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url reset_password_confirm uidb36=uid token=token %}
{% endblock %}

Your username - which you'll need to login - is {{ user.email }}

If you didn't request a password-reset or remembered your old password, feel free to ignore this email. 
You're password will remain unchanged.

Thanks for using our app! We hope you enjoy creating your own photoalbums and sharing them with your family and friends.

The {{ site_name }} team.

{% endautoescape %}