<div>
  {% block content %}
  {% endblock %}
  <div id="mp-dialog-message">
    <div class="ui-state-error ui-corner-all"
         id="mp-dialog-message-failure">
      <p>
        <span class="ui-icon ui-icon-alert mp-inline-block"></span>
        <strong>{% trans "FAILURE" %}</strong>
        <em></em>
      </p>
    </div>

    <div class="ui-state-highlight ui-corner-all mp-nodisplay"
         id="mp-dialog-message-success">
      <p>
        <span class="ui-icon ui-icon-check mp-inline-block"></span>
        <strong>{% trans "SUCCESS" %}</strong>
        <br />
        <input type="checkbox"
               name="auto-close">
        <label for="auto-close">{% trans "CLOSE_ON_SUCCESS" %}</label>
      </p>
    </div>
  </div>
</div>
