# Python
*.pyc
.pydevproject

environment.py

python_libs/

# Dojo dependencies
dojo/
dojox/
dijit/
build/

# Static assets
static/photo
static/profile-picture
static/js/util/
res/export/

# GAE
.gaedata/
django
dbindexer
djangotoolbox
filetransfers
autoload
djangoappengine
compressor
boto
registration
appconf