/* fullscreen img view */

.mp-image-zoom
  width 5%
  height auto
  position absolute
  display none
  z-index 999

#mp-image-overlay-close
  right 4%
  left auto
  float none

.mp-image-overlay-close, .mp-image-nav img
  position absolute
  width 3%
  height auto
  left 1%
  cursor pointer
  z-index 10
  &.mp-image-nav-next
    left auto
    right 1%


.mp-image-overlay
  position fixed
  z-index 1000
  top 0px
  left 0px
  background transparent url(static/images/black.png) repeat top left
  width 100%
  height 100%
  text-align center
  .mp-image-overlay-wrapper
    position absolute
    top 50%
    left 50%
    border $border-light
    box-shadow($box-shadow-black)

.mp-image-overlay-desc
  position absolute
  top 0px
  left 0px
  width 100%
  background transparent url(static/images/black.png) repeat top left

.mp-loading
  background transparent url(static/images/ajax-loader.gif) no-repeat center center
  width 48px
  height 48px
  position absolute
  top 50%
  left 50%
  margin -24px 0 0 -24px
  text-indent -9000px
