/* panel styling */

.mp-userpanel
  width 100%
  height 100%

.mp-controls-wrapper
  width 78%
  height 100%
  padding 0 1%
  float left
  text-align center

.mp-controls
  position relative
  float right
  img
    cursor pointer
    margin 0 5px
  .mp-option-logout
    margin 0 -5px 0 5px

.mp-bottom-panel
  background $background-color-darker
  border-top $border-light
  border-bottom $border-light
  height 100%
  width 98%
  padding 0 1%
  text-align right
  a
    text-decoration none
    color white
    
.mp-logo
  background-color blue
  float left
  color white
  text-align center
  font-size 120%
  width 20%
  height 100%
