{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Kontakt" %}{% endblock %}

{% block name %}{% trans "Kontakt" %}{% endblock %}

{% block pageID %}contact{% endblock %}

{% block non_interactive_content %}

<article>
  <div>
    <p>
      {% trans "contact form intro" %}
      <span class="mp-bold mp-nodisplay" id="mp-email-jsenabled">er2Ts20-8ußrt1plkjdppüi5oolhqrtwpdt flw@dsT.kökd.esutii28tikzPkkewWw1n.net.kitedlkliesgi</span>
    </p>
    <noscript>
      <span class="mp-bold" id="mp-email-cssenabled">
	{% trans "EMAIL_ONLY_WITH_JS" %}
      </span>
    </noscript>
    <p>
      {% trans "contact privacy note" %}
    </p>
  </div>
  <div>
    <p>
      {% trans "contact form social networks info" %}
    </p>
  </div>
</article>


<form class="mp-form" id="mp-contact" method="post">
  <!-- network error during mail delivery, etc.. -->
  {{ form.non_field_errors}}
  <p>
    <label for="contactform-name">{% trans "NAME" %}
      <sup title="{% trans 'MANDATORY_FIELD' %}">*</sup>
    </label>
    <input type="text" name="name" id="contactform-name" required="required" autofocus="autofocus" value='{{ form.data.name }}' />
    {{ form.name.errors }}
  </p>

  <p>
    <label for="contactform-email">{% trans "Email" %}
      <sup title="{% trans 'MANDATORY_FIELD' %}">*</sup>
    </label>
    <input type="email" name="email" id="contactform-email" required="required" value='{{ form.data.email }}'/>
    {{ form.email.errors }}
  </p>

  <p>
    <label for="contactform-subject">{% trans "SUBJECT" %} 
      <sup title="{% trans 'MANDATORY_FIELD' %}">*</sup>
    </label>
    <input type="text" name="subject" id="contactform-subject" required="required" value='{{ form.data.email }}'/>
    {{ form.subject.errors }}
  </p>

  <p>
    <label for="contactform-message">{% trans "MESSAGE" %}
      <sup title="{% trans 'MANDATORY_FIELD' %}">*</sup>
    </label>
    <textarea name="message" id="contactform-message" required="required" rows="10">{{ form.data.message }} </textarea>
    {{ form.message.errors }}
  </p>
  <p style="font-size: 0.8em; text-align: right;">{% trans "MANDATORY_FIELDS_NOTE" %}</p>
  <input type="submit" class="mp-form-submit" value="{% trans 'Senden' %}" />
</form>
{% endblock %}
