{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Hilfe" %}{% endblock %}

{% block name %}{% trans "Hilfe und Support" %}{% endblock %}

{% block pageID %}help{% endblock %}

{% block non_interactive_content %}
<nav id="help-navigation">
	<a class="mp-active-link" href="#mp-project-introduction" name="introduction">{% trans "Introduction" %}</a>
	<a href="#mp-tutorial" name="tutorial">{% trans "Tutorial" %}</a>
</nav>
<section id="mp-project-introduction" class="mp-active-section">
  <h2>KEIKEN</h2>
  <h3><span>{% trans "KEIKEN_SHORT" %}</span></h3>
  <p class="mp-keiken-before">{% trans "KEIKEN_BEFORE" %}</p>
  <div class="mp-keiken-alternatives">
	  <p class="mp-keiken-alternative">
	    <span>{% trans "KEIKEN_ALTERNATIVE_EMAIL" %}</span>
	  </p>
	  <p class="mp-keiken-alternative">
	    <span>{% trans "KEIKEN_ALTERNATIVE_PRESENTATION" %}</span>
	  </p>
	  <p class="mp-keiken-alternative">
	    <span>{% trans "KEIKEN_ALTERNATIVE_NETWORK" %}</span>
	  </p>
  </div>
  <p class="mp-keiken-reasons">{% trans "KEIKEN_REASONS" %}</p>
  <div class="mp-keiken-presentation">
  	<div class="mp-keiken-presentation-text">
  		<p>{% trans "KEIKEN_PRESENTATION_MEANING" %}</p>
	  	<p>{% trans "KEIKEN_PRESENTATION_NOT" %}</p>
	  	<p class="mp-keiken-presentation-text-firsty">{% trans "KEIKEN_PRESENTATION_BUT_1" %}</p>
	  	<p>{% trans "KEIKEN_PRESENTATION_BUT_2" %}</p>
	  	<p class="mp-keiken-presentation-text-lasty">{% trans "KEIKEN_PRESENTATION_BUT_3" %}</p>
	  	<p class="mp-keiken-presentation-text-firsty">{% trans "KEIKEN_PRESENTATION_STRUCTURE_1" %}</p>
	  	<p>{% trans "KEIKEN_PRESENTATION_STRUCTURE_2" %}</p>
	  	<p>{% trans "KEIKEN_PRESENTATION_STRUCTURE_3" %}</p>
	  	<p class="mp-keiken-presentation-text-lasty">{% trans "KEIKEN_PRESENTATION_STRUCTURE_4" %}</p>
  	</div>
  	<div class="mp-keiken-presentation-graphic">
  		<img src="/static/images/hierarchy.png" alt="Graphic presenting the KEIKEN structure of Albums>Places>Photos">
  	</div>
  </div>
</section>
<section id="mp-tutorial" class="mp-tutorial-tabs-wrapper">
  <ul>
  	<li><a class="tab-option" href="#mp-tutorial-general">{% trans "General" %}</a></li>
  	<li><a class="tab-option" href="#mp-tutorial-dashboard">{% trans "Dashboard" %}</a></li>
  	<li><a class="tab-option" href="#mp-tutorial-albumview">{% trans "Albumview" %}</a></li>
  </ul>
  <div id="mp-tutorial-general" class="mp-tutorial-tabs-wrapper">
  	  <ul>
	  	<li><a class="tab-option" href="#mp-tutorial-webspace">{% trans "Webspace" %}</a></li>
	  	<li><a class="tab-option" href="#mp-tutorial-cookies">{% trans "Cookies" %}</a></li>
	  	<li><a class="tab-option" href="#mp-tutorial-contact">{% trans "Contact" %}</a></li>
	  	<li><a class="tab-option" href="#mp-tutorial-sharesecurity">{% trans "Sharing &amp; Security" %}</a></li>
	  </ul>
  	  <div id="mp-tutorial-webspace">
  	  	  {% trans "TUTORIAL_WEBSPACE" %}
   	  </div>
  	  <div id="mp-tutorial-cookies">
  		  {% trans "TUTORIAL_COOKIES" %}
  	  </div>
  	  <div id="mp-tutorial-contact">
  		  {% trans "TUTORIAL_CONTACT" %}
  	  </div>
  	  <div id="mp-tutorial-sharesecurity">
  		  {% trans "TUTORIAL_SHARESECURITY" %}
  	  </div>
  </div>
  <div id="mp-tutorial-dashboard" class="mp-tutorial-tabs-wrapper">
  	  <ul>
	  	<li><a class="tab-option" href="#mp-tutorial-albums">{% trans "Albums" %}</a></li>
	  </ul>
	  <div id="mp-tutorial-albums" class="mp-tutorial-tabs-wrapper">
	  	<ul>
	  		<li><a class="tab-option" href="#mp-tutorial-whatisthis-album">{% trans "What is this?" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-colors-album">{% trans "Meaning of Colors" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-insert-album">{% trans "Insert" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-update-album">{% trans "Update" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-delete-album">{% trans "Delete" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-share-album">{% trans "Share" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-open-album">{% trans "Open" %}</a></li>
	  	</ul>
	  	<div id="mp-tutorial-whatisthis-album">
	  		{% trans "TUTORIAL_ALBUMS_EXPLANATION" %}
	  	</div>
	  	<div id="mp-tutorial-colors-album">
	  		<table class="mp-tutorial-color-table" border="1" cellpadding="5" cellspacing="5" frame="void">
	  			<colgroup>
	  				<col width="30%" />
	  				<col width="70%" />
	  			</colgroup>
	  			<thead>
		  			<tr>
		  				<th>{% trans "Color" %}</th>
		  				<th>{% trans "Meaning" %}</th>
		  			</tr>
	  			</thead>
	  			<tbody>
		  			<tr>
		  				<td style="background-color: green;">{% trans "Green" %}</td>
		  				<td>{% trans "TUTORIAL_MARKER_MEANING_GREEN" %}</td>
		  			</tr>
		  			<tr>
		  				<td style="background-color: yellow;">{% trans "Yellow" %}</td>
		  				<td>{% trans "TUTORIAL_MARKER_MEANING_YELLOW" %}</td>
		  			</tr>
		  			<tr>
		  				<td style="background-color: gray;">{% trans "Gray" %}</td>
		  				<td>{% trans "TUTORIAL_MARKER_MEANING_GRAY" %}</td>
		  			</tr>
	  			</tbody>
	  		</table>
	  	</div>
	  	<div id="mp-tutorial-insert-album">
	  		{% trans "TUTORIAL_INSERT_PA" %}
	  	</div>
	  	<div id="mp-tutorial-update-album">
	  		{% trans "TUTORIAL_UPDATE_PPA" %}
	  	</div>
	  	<div id="mp-tutorial-delete-album">
	  		{% trans "TUTORIAL_DELETE_PPA" %}
	  	</div>
	  	<div id="mp-tutorial-share-album">
	  		{% trans "TUTORIAL_SHARE_ALBUM" %}
	  	</div>
	  	<div id="mp-tutorial-open-album">
	  		{% trans "TUTORIAL_OPEN_ALBUM" %}
	  	</div>
	  </div>
  </div>
  <div id="mp-tutorial-albumview" class="mp-tutorial-tabs-wrapper">
  	  <ul>
	  	<li><a class="tab-option" href="#mp-tutorial-places">{% trans "Places" %}</a></li>
	  	<li><a class="tab-option" href="#mp-tutorial-photos">{% trans "Photos" %}</a></li>
	  </ul>
	  <div id="mp-tutorial-places" class="mp-tutorial-tabs-wrapper">
	  	<ul>
	  		<li><a class="tab-option" href="#mp-tutorial-whatisthis-place">{% trans "What is this?" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-colors-place">{% trans "Meaning of Colors" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-insert-place">{% trans "Insert" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-update-place">{% trans "Update" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-delete-place">{% trans "Delete" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-share-place">{% trans "Share" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-open-place">{% trans "Open" %}</a></li>
	  	</ul>
	  	<div id="mp-tutorial-whatisthis-place">
	  		{% trans "TUTORIAL_PLACE_EXPLANATION" %}
	  	</div>
	  	<div id="mp-tutorial-colors-place">
	  		<table class="mp-tutorial-color-table" border="1" cellpadding="5" cellspacing="5" frame="void">
	  			<colgroup>
	  				<col width="20%" />
	  				<col width="80%" />
	  			</colgroup>
	  			<thead>
		  			<tr>
		  				<th>{% trans "Color" %}</th>
		  				<th>{% trans "Meaning" %}</th>
		  			</tr>
	  			</thead>
	  			<tbody>
		  			<tr>
		  				<td style="background-color: green;">{% trans "Green" %}</td>
		  				<td>{% trans "TUTORIAL_MARKER_MEANING_GREEN" %}</td>
		  			</tr>
		  			<tr>
		  				<td style="background-color: yellow;">{% trans "Yellow" %}</td>
		  				<td>{% trans "TUTORIAL_MARKER_MEANING_YELLOW" %}</td>
		  			</tr>
		  			<tr>
		  				<td style="background-color: orange;">{% trans "Orange" %}</td>
		  				<td>{% trans "TUTORIAL_MARKER_MEANING_ORANGE" %}</td>
		  			</tr>
		  			<tr>
		  				<td style="background-color: red;">{% trans "Red" %}</td>
		  				<td>{% trans "TUTORIAL_MARKER_MEANING_RED" %}</td>
		  			</tr>
		  			<tr>
		  				<td style="background-color: gray;">{% trans "Gray" %}</td>
		  				<td>{% trans "TUTORIAL_MARKER_MEANING_GRAY" %}</td>
		  			</tr>
	  			</tbody>
	  		</table>
	  	</div>
	  	<div id="mp-tutorial-insert-place">
	  		{% trans "TUTORIAL_INSERT_PA" %}
	  	</div>
	  	<div id="mp-tutorial-update-place">
	  		{% trans "TUTORIAL_UPDATE_PPA" %}
	  	</div>
	  	<div id="mp-tutorial-delete-place">
	  		{% trans "TUTORIAL_DELETE_PPA" %}
	  	</div>
	  	<div id="mp-tutorial-share-place">
	  		{% trans "TUTORIAL_SHARE_PP" %}
	  	</div>
	  	<div id="mp-tutorial-open-place">
	  		{% trans "TUTORIAL_OPEN_PLACE" %}
	  	</div>
	  </div>
	  <div id="mp-tutorial-photos" class="mp-tutorial-tabs-wrapper">
	  	<ul>
	  		<li><a class="tab-option" href="#mp-tutorial-whatisthis-photo">{% trans "What is this?" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-insert-photo">{% trans "Insert" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-update-photo">{% trans "Update" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-delete-photo">{% trans "Delete" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-share-photo">{% trans "Share" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-open-photo-slideshow">{% trans "Start Slideshow" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-open-photo-fullscreen">{% trans "Open Fullscreen" %}</a></li>
	  		<li><a class="tab-option" href="#mp-tutorial-open-photo-fullgallery">{% trans "Sort Photos/Open FullGallery" %}</a></li>
	  	</ul>
	  	<div id="mp-tutorial-whatisthis-photo">
	  		{% trans "TUTORIAL_PHOTO_EXPLANATION" %}
	  	</div>
	  	<div id="mp-tutorial-insert-photo">
	  		{% trans "TUTORIAL_INSERT_PHOTO" %}
	  	</div>
	  	<div id="mp-tutorial-update-photo">
	  		{% trans "TUTORIAL_UPDATE_PPA" %}
	  	</div>
	  	<div id="mp-tutorial-delete-photo">
	  		{% trans "TUTORIAL_DELETE_PPA" %}
	  	</div>
	  	<div id="mp-tutorial-share-photo">
	  		{% trans "TUTORIAL_SHARE_PP" %}
	  	</div>
	  	<div id="mp-tutorial-open-photo-slideshow">
	  		{% trans "TUTORIAL_OPEN_SLIDESHOW" %}
	  	</div>
	  	<div id="mp-tutorial-open-photo-fullscreen">
	  		{% trans "TUTORIAL_OPEN_FULLSCREEN" %}
	  	</div>
	  	<div id="mp-tutorial-open-photo-fullgallery">
	  		{% trans "TUTORIAL_OPEN_FULLGALLERY" %}
	  	</div>
	  </div>
  </div>
</section>
{% endblock %}
