{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Urheberrecht" %}{% endblock %}

{% block name %}{% trans "Urheberrechtserklärung" %}{% endblock %}

{% block pageID %}copyright{% endblock %}

{% block non_interactive_content %}

<article class="mp-textbox" id="copyright">
  <h2>{% trans "Urheberrecht bei internen Inhalten" %}</h2>
  <div>
    <ol>
      <li>{% trans "Urheberrecht bei internen Inhalten list-item-1" %}</li>
      <li>{% trans "Urheberrecht bei internen Inhalten list-item-3" %}</li>
      <li>{% trans "Urheberrecht bei internen Inhalten list-item-4" %}</li>
    </ol>
  </div>
  <h2>{% trans "Urheberrecht der Nutzer" %}</h2>
  <div>
    <ol>
      <li>{% trans "Urheberrecht der Nutzer list-item-1" %}</li>
      <li>{% trans "Urheberrecht der Nutzer list-item-2" %}</li>
      <li>{% trans "Urheberrecht der Nutzer list-item-3" %}</li>
    </ol>
  </div>
  <h2>{% trans "Urheberrecht Dritter" %}</h2>
  <div>
    <ol>
      <li>{% trans "Urheberrecht Dritter list-item-1" %}</li>
      <li>{% trans "Urheberrecht Dritter list-item-2" %}</li>
      <li>{% trans "Urheberrecht Dritter list-item-3" %}</li>
      <li>{% trans "Urheberrecht Dritter list-item-4" %}</li>
      <li>{% trans "Urheberrecht Dritter list-item-5" %}</li>
    </ol>
  </div>
</article>

{% endblock %}
