<section>
  <section id="mp-left-column"
           class="mp-left-column">
    <div data-dojo-type="keiken/widget/MapWidget"
         data-widget-instance-name="map" />
    {% if is_album_view %}
    <div data-dojo-type="keiken/widget/GalleryWidget"
         data-widget-instance-name="gallery" />
    {% endif %}
  </section>


  <section id="mp-right-column"
           class="mp-right-column">
    <div data-dojo-type="keiken/widget/DetailWidget"
         data-widget-instance-name="information">
      {% if is_album_view %}
      <div data-dojo-type="keiken/SlideshowWidget"
           data-widget-instance-name="slideshow" />
      {% endif %}
    </div>
  </section>

  <div data-dojo-type="keiken/widget/ModelOperationWidget"
       include-share-operation="is_album_view"
       data-widget-instance-name="controls"> </div>

  <div data-dojo-type="keiken/widget/LoadingScreenWidget"
       data-widget-instance-name="loadingScreen" />

  <div data-dojo-type="keiken/widget/InfoText">
    <p id='mp-infotext-closing-help'>
      {% trans CLOSE_INFOTEXT_ALERT %}
    </p>
  </div>
</section>
