<section class="dashboard">
  <section class="dashboard__map">
    <div data-dojo-type="keiken/map/MapWidget"
         data-widget-instance-name="map"
         marker-models="mapMarkerModels"
         fallback-marker-model="mapFallbackMarkerModel"></div>
    {% if isAlbumView %}
    <div data-dojo-type="keiken/widget/GalleryWidget"
         data-widget-instance-name="gallery"
         admin-mode="isAdmin"></div>
    {% endif %}
  </section>


  <section class="dashboard__detail">
    <div data-dojo-type="keiken/widget/DetailWidget"
         data-widget-instance-name="description">
      <div>
        {% if isAlbumView %}
        <div data-dojo-type="keiken/widget/SlideshowWidget"
             data-widget-instance-name="slideshow"></div>
        {% endif %}
      </div>
    </div>
  </section>

  {% if isAdmin %}
  <div data-dojo-type="keiken/widget/ModelOperationWidget"
       include-share-operation="is_album_view"
       data-widget-instance-name="controls"> </div>
  {% endif %}

  <div data-dojo-type="keiken/widget/FullscreenWidget"
       data-widget-instance-name="fullscreen"></div>

  <div data-dojo-type="keiken/widget/InfoTextWidget">
    <p id='mp-infotext-closing-help'>
      {% trans CLOSE_INFOTEXT_ALERT %}
    </p>
  </div>
</section>
