{% extends "account.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block name %}{% trans "Account Deleted" %}{% endblock %}

{% block account_info %}
	<p>{% trans "ACCOUNT_DELETE_SUCCESS" %}</p>
{% endblock %}

{% block account_settings %}

<form class="mp-form" action="/account/delete/success" method="post">
	
	<p>
		<input type="hidden" name="username" value="{{ username }}" />
	</p>
	<p>
		<input id="cause_testing" type="radio" name="cause" value="{% trans 'DELETION_FORM_CAUSE_TESTING' %}" />{% trans 'DELETION_FORM_CAUSE_TESTING' %}<br />
		<input id="cause_alternative" type="radio" name="cause" value="{% trans 'DELETION_FORM_CAUSE_ALTERNATIVE' %}" />{% trans 'DELETION_FORM_CAUSE_ALTERNATIVE' %}<br />
		<input id="cause_service" type="radio" name="cause" value="{% trans 'DELETION_FORM_CAUSE_SERVICE' %}" />{% trans 'DELETION_FORM_CAUSE_SERVICE' %}<br />
		<input id="cause_usage" type="radio" name="cause" value="{% trans 'DELETION_FORM_CAUSE_USAGE' %}" />{% trans 'DELETION_FORM_CAUSE_USAGE' %}<br />
		<input id="cause_limitations" type="radio" name="cause" value="{% trans 'DELETION_FORM_CAUSE_LIMITATIONS' %}" />{% trans 'DELETION_FORM_CAUSE_LIMITATIONS' %}<br />
		<input id="cause_need" type="radio" name="cause" value="{% trans 'DELETION_FORM_CAUSE_NEED' %}" />{% trans 'DELETION_FORM_CAUSE_NEED' %}<br />
		<input id="cause_like" type="radio" name="cause" value="{% trans 'DELETION_FORM_CAUSE_LIKE' %}" />{% trans 'DELETION_FORM_CAUSE_LIKE' %}
	</p>
	<p>
		<label id="cause-label" for="cause_message">{% trans "DELETION_FORM_CAUSE_MESSAGE"}</label>
		<textarea id="cause_message" name="cause_message" rows="5"></textarea>
	</p>
	<p>
		<label for="optional_message">{% trans "DELETION_FORM_OPTIONAL_MESSAGE"}</label>
		<textarea id="optional_message" name="optional_message" rows="5"></textarea>
	</p>
	<p>
		<input type="submit" class="mp-form-submit" value="{% trans 'Save' %}" />
	</p>
	
</form>

{% endblock %}