{% extends "index.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block keiken_intro %}
  <div class="mp-guest-login-explain">{% trans "KEIKEN_GUEST_LOGIN" %}</div>
  <form class="mp-guest-login jquery-validator" method="post" action="">
    <p>
      <input type="password" id="guest-password" name="guest-password" placeholder='{% trans "Enter password..." %}' autofocus="autofocus"/>
      <input class="submit-guest-password" type="submit" value='{% trans "View Album" %}' />
    </p>
    <p> {{ password_incorrect_error }} </p>
  </form>
{% endblock %}

<!--
<section class="mp-guest-welcome">
  <h1>{% trans "Welcome to Keiken" %}</h1>
  <p>{% trans "LOGIN_GUEST_WELCOME_1" %}</p>
  <p>{% trans "LOGIN_GUEST_WELCOME_2" %}<img width="50%" style="float:right;" src="/static/images/hierarchy.png">{% trans "LOGIN_GUEST_WELCOME_3" %}</p>
  <p>{% trans "LOGIN_GUEST_WELCOME_4" %}</p>
  <p>
    {% trans "LOGIN_GUEST_WELCOME_5" %}<br />
    {% trans "LOGIN_GUEST_WELCOME_6" %}
  </p>
  <p>{% trans "Welcome to Keiken" %}</p>
  <p><a href="/login#mp-guest">{% trans "Zum Login" %}</a></p>
</section>

<h1>Welcome to keiken</h1>
<p>
Keiken is no place to share pictures of … temporary social interest of whatever kind. Go to facebook if you are looking for the fast thrill. Keiken is also no place to drag and drop the whole picture folder into the web.</p>
<p>Albums on keiken are structured in places and photos. <img width="50%" style="float:right;" src="/static/images/hierarchy.png">. This helps you explore the adventure behind this trip more easily.
Yes, we are looking at you big DCIM folder. But every adventure is different! A place can be as big as a country on a world journey or as small as a sight on a city trip. </p>
<p>Photos are … well Photos. But we try to make photos meaningful, therefore Photo titles are mandatory, descriptions are not (though we hope they are still there :). Yes, we are looking at you IMG_20122708_2014.jpg. Think of it as a photo album that has received a fair amount of care. We hope you still know what a photo album is ;). </p>
<form class="jquery-validator" method="post" action="" >
  <label for="guest-password">Password</label>
  <input type="password" name="password" id="guest-password">
  <input type="submit">
  <p> {{ password_incorrect_error }} </p>
</form>
-->
