<!DOCTYPE html>
<html lang="de" >
	<head>
	
		<title>PhotoMap | {% block title %}{% endblock %}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="shortcut icon" href="static/images/icon.png" />
		
		<!-- displays information when link is shared on FB or similiar -->
		<meta property="og:title" content="Photo Map" />
		<meta property="og:type" content="website" />
		<!--
		<meta property="og:image" content="#{imgurl}" />
		<meta property="og:url" content="#{url}" />
		-->
		<meta property="mp:map" {% block mode %}{% endblock %} />
		<meta property="og:description" content="Karte mit Photos und Beschreibungen" />
		{% block meta %}
		{% endblock %}		
		
		
		<!-- styles -->
		
		{% load compress %}
		{% compress css file %}
			<link rel="stylesheet" type="text/x-stylus" href="static/css/main.styl" />
			{% block css %}
			{% endblock %}
		{% endcompress %}
		<!-- fancybox and jscrollpane style sheets can't be compressed or else they won't work -->
		<link rel="stylesheet" type="text/css" href="static/fancybox/jquery.fancybox-1.3.4.css" />
		<link rel="stylesheet" type="text/css" href="static/css-plain/jquery.jscrollpane.css" />
		
		<link rel="stylesheet" type="text/css" href="static/css-plain/sans.narrow.css" />
		<link rel="stylesheet" type="text/css" href="static/css-plain/rokkitt.css" />
		

		
		<!-- end styles -->
				
		<!-- js -->
		{% compress js %}
		
			<!-- javascript libraries -->
			<script type="text/javascript" src="static/js/noconsole.js" ></script>
			<script type="text/javascript" src="static/js/jquery.all.min.js" ></script>
			<script type="text/javascript" src="static/js/main/Extensions.js" ></script>
			<script type="text/javascript" src="static/js/jquery.mousewheel.min.js" ></script>
			<script type="text/javascript" src="static/js/tzoom.min.js" ></script>
			<script type="text/javascript" src="static/js/jquery.cookie.js" ></script>
			<script type="text/javascript" src="static/js/jquery.json.js" ></script>
			<script type="text/javascript" src="static/js/ie.js" ></script>
			<script type="text/javascript" src="static/js/date.js" ></script>
			<script type="text/javascript" src="static/js/jquery.jqote2.js" ></script>
			<script type="text/javascript" src="static/js/jquery.jscrollpane.min.js" ></script>
			<script type="text/javascript" src="static/js/main/Map.js" ></script>
			<script type="text/javascript" src="static/js/main/Marker.js" ></script>	
			<script type="text/javascript" src="static/js/main/Photo.js" ></script>
			<script type="text/javascript" src="static/js/main/Album.js" ></script>
			
			<script type="text/javascript" src="static/js/main/UI/UIState.js" ></script>
			<script type="text/javascript" src="static/js/main/UI/UIInput.js" ></script>
			<script type="text/javascript" src="static/js/main/UI/UIControls.js" ></script>
			<script type="text/javascript" src="static/js/main/UI/UIPanel.js" ></script>
			<script type="text/javascript" src="static/js/main/UI/UITools.js" ></script>
			<script type="text/javascript" src="static/js/main/UI/UICursor.js" ></script>
			{% block js %}
			{% endblock %}
		{% endcompress %}
		
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"> </script>
		
	</head>
	<body>
	
		<div class="mp-container" id="mp-container">
				
			<header class="mp-header" id="mp-header">
				<section class="mp-logo"><a href="/"></a></section>
				<section class="mp-page-title mp-control">
					<h1>{% block name %} {% endblock %}</h1>
				</section>
				<section class="mp-top-panel">
					<div class="mp-searchfield"></div>
					<div class="mp-controls-wrapper">
						{% block controls %} {% endblock %}
					</div>
				</section>
			</header>
			
			{% block content %}
			{% endblock %}	
			
			<footer class="mp-footer" id="mp-footer">
				<section class="mp-user">
					<span>
						<a href="/logout"><img class="mp-option-logout" src="static/images/logout.png" title="Logout"></img></a>
					</span>
					<span>Testnutzer</span>
				</section>
				<section class="mp-internal-links">
					<a href="/impressum" title="Details zu den kreativen Köpfen hinter PhotoMap">Impressum</a> |
					<a href="/privacy" title="Erläuterungen zur Nutzung von persönlichen Daten auf PhotoMap">Datenschutz</a> |
					<a href="/copyright" title="Details zum Urheberrecht">Copyright</a> |
					<a href="/contact" title="Für Support, Fragen, Anmerkungen und Kritik..">Kontakt</a> |
					<a href="/help" title="Hilfe zu PhotoMap und FAQ">Hilfe</a> |
					<a href="/team" title="Vorstellung des Projekts und der Verantwortlichen">Team</a>
				</section>
			</footer>
		</div>
		
		<script type="text/javascript" src="static/js/main/init.js" ></script>
	</body>
</html>
