{% extends "base.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block mode %}
content="interactive"
{% endblock %}

<!-- no javascript here -->

{% block content %}
	<div class="mp-controls-wrapper">
			<img class="mp-controls-background" src="static/images/controls-box.png" />
			<img class="mp-controls-options mp-option-delete" src="static/images/delete.png" title='{% trans "control-title delete" %}' />
			<img class="mp-controls-options mp-option-modify" src="static/images/modify.png" title='{% trans "control-title modify" %}' />
			{% block controls %}{% endblock %}
	</div>
	<div id="input-dialog">
	</div>
	{% block content_interactive %}
	{% endblock %}
{% endblock %}
