<!DOCTYPE html>
<html>
{% load i18n %}
  <head>
    <meta charset="UTF-8" />
    <title>KEIKEN | {% block title %}{% endblock %}</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- This only works here! Putting this in core.styl will not work, because core.styl is not present, when the document gets displayed. -->
    <style type="text/css">
      body,html { margin : 0px; padding : 0px; min-height : 100%; height : 100%  }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" />

    <!-- displays information when link is shared on FB or similiar -->
    <meta property="og:title" content="KEIKEN" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.keiken.de/static/images/icon.png" />
    <meta property="og:url" content="http://www.keiken.de" />
    <meta property="og:description" content="{% trans 'KEIKEN_SHORT' %}"/>
    
    <!-- used for google verification, linking keiken search results to keiken-google+ page and to generally improve search results -->
    <meta name="google-site-verification" content="FfCsCzP68IIoV3bVbLsDAUoeUHBXQZl2EvbOD942AnE" />
    <link href="https://plus.google.com/111238553236963807299" rel="publisher" />

    <!-- THE IMAGE LINKS BREAK WHEN COMPRESSED -->
    <link rel="stylesheet" type="text/css" href="/static/css/lib/smoothness-custom-font/jquery-ui-1.10.1.custom.css" />

    {% load compress %}
    {% block css %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="/static/css/lib/droid.sans.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/grid.css" />
    {% endcompress %}
    {% endblock %}
    <!-- LIBS DONT COMPRESS ANYMORE - MAYBE UNCOMPRESSED VERSION -->    
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>


    {% block js %}
    {% compress js %}
    <script type="text/javascript" src="/static/js/lib/noconsole.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery-1.7.2.js"></script>

    <script type="text/javascript" src="/static/js/lib/jquery-ui-1.10.0.custom.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.validate.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.cookie.js" ></script>

    <script type="text/javascript" src="/static/js/lib/assert.js"></script>
    <!-- IE currently not supported. -->
    <!-- <script type="text/javascript" src="/static/js/lib/ie.js" ></script> -->
    <!-- FF 4+ and Chrome 7+  support FormData -->
    <!-- <script type="text/javascript" src="/static/js/lib/formdata.js"></script> -->
    <!-- <script type="text/javascript" src="/static/js/lib/flexie.min.js"></script> -->
    <!-- This is necessary for all side pages. -->
    <script type="text/javascript" src="/static/js/lib/html5shiv.js"></script>

    <script type="text/javascript" src="/static/js/keiken/util/constants.js"></script>
    <script type="text/javascript" src="/static/js/keiken/main/panel.js"></script>
    <script type="text/javascript" src="/static/js/keiken/main/settings.js"></script>

    {% endcompress %}
    {% endblock %}

    {% block mapjs %}
    {% endblock %}
    <!-- Oh you very annoying IE7 ;) -->
    <!--[if !IE]><!-->
	 <link rel="stylesheet" type="text/css" href="/static/css/non-ie.css" /> 
    <!--<![endif]-->
    <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="/static/css/ie7.css" />
    <![endif]-->
  </head>
  <body id="{% block pageID %} {% endblock %}"> <!-- TODO What happened with the body id -->

    <div class="mp-container container" id="mp-container">

      <header class="mp-page-header column span-24 last" id="mp-page-header">
        <section class="mp-logo column span-6">
          <a style="height : 100%" {% if not request.user.is_authenticated %} href="/" {% else %} href="/dashboard" {% endif %}>
           <img src="/static/images/beta-logo.png" class="mp-control mp-cursor-pointer mp-keiken-logo" alt="KEIKEN"/>
          </a>
        </section>
		<section class="mp-top-panel column span-8">
	          <div class="mp-placeholder-fullheight column span-24"></div>
		</section>
		<section class="mp-page-title column span-10">
          <h1 id="mp-page-title">{% block name %} {% endblock %}</h1>
        </section>
      </header>

      <main class="mp-content column span-24 last" id="mp-content">
	{% block content %}
	{% endblock %}
      </main>

      <ul id="menu" class="mp-nodisplay mp-dropup-menu">
        <li><a href="/dashboard/">{% trans "Dashboard" %}</a></li>
        <li id="mp-goto-account"><a href="/account">{% trans "Settings" %}</a></li>
        <li><a href="/account/logout/">Logout</a></li>
      </ul>


      <footer class="mp-page-footer column span-24 last" id="mp-page-footer">
	{% if user.is_authenticated %}
          <span id="mp-user"><span class="mp-user-email">{{user.username}}</span></span>
          <span>|</span>
          <span id="mp-user-limit">{{user.userprofile.get_limit}}</span>
	{% else %}
	  <span id="mp-login-link" class="mp-login-link mp-button">
	    <a href="/account/login/" title ='{% trans "Login or Register" %}'>|{% trans "Anmelden/Registrierung" %}</a>
	  </span>
        {% endif %}
	  <section class="mp-internal-links">
	    <a href="/payment" title='{% trans "Spenden" %}'>|{% trans "Spenden" %} </a> 	
	    <a href="/team" title='{% trans "link-title-team" %}'>|{% trans "Team" %} </a>
	    <a href="/contact/" title='{% trans "link-title-contact" %}'>|{% trans "Kontakt" %} </a>
	    <a href="/privacy" title='{% trans "link-title-privacy" %}'>|{% trans "Datenschutz" %} </a>
	    <a href="/copyright" title='{% trans "link-title-copyright" %}'>|{% trans "Urheberrecht" %} </a>
	    <a href="/help" title='{% trans "link-title-help" %}'>|{% trans "Hilfe" %} </a>
	    <a href="/impressum" title='{% trans "link-title-impressum" %}'>|{% trans "Impressum" %} </a>
	  </section>
      </footer>
    </div>
  </body>
</html>
