{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Kontakt" %}{% endblock %}

{% block name %}{% trans "Kontakt" %}{% endblock %}

{% block non_interactive_content %}

<article class="mp-textbox">
  {% trans "contact-intro-article1-line1" %} <a href="/help">{% trans "contact-linkto-help" %}</a>
  {% trans "contact-intro-article1-line2" %}
  <span class="mp-bold mp-nodisplay" id="mp-email-jsenabled">
    er2Ts20-8ußrt1plkjdppüi5oolhqrtwpdt flw@dsT.kökd.esutii28tikzPkkewWw1n.net.kitedlklie
  </span>
  <noscript>
    <span class="mp-bold" id="mp-email-cssenabled">
      {% trans "email just in javascript" %}
    </span>
  </noscript>
  .
  {% trans "contact-intro-article1-line3" %}<br />
  {% trans "contact-intro-article1-line4" %} <a href="/privacy#mp-emails">{% trans "contact-linkto-privacy" %}</a>.
</article>


<!-- sup screws up the layout -->
<form class="jquery-validator mp-dialog-content" method="post">
  <div>
    {{ form.name.errors }}
    <label for="name">Name 
      <!-- <sup title="Dieses Feld ist ein Pflichtfeld.">*</sup> -->
    </label>
    <input type="text" name="name" required="required" />
  </div>

  <div>
    {{ form.email.errors }}
    <label for="email">Email 
      <!-- <sup title="Dieses Feld ist ein Pflichtfeld.">*</sup> -->
    </label>
    <input type="email" name="email" required="required" />
  </div>

  <div>
    {{ form.subject.errors }}
    <label for="subject">Betreff 
      <!-- <sup title="Dieses Feld ist ein Pflichtfeld.">*</sup> -->
    </label>
    <input type="text" name="subject" required="required" />
  </div>

  <div>
    {{ form.message.errors }}
    <label for="message">Nachricht 
      <!-- <sup title="Dieses Feld ist ein Pflichtfeld.">*</sup> -->
    </label>
    <textarea name="message" required="required" rows="10"> </textarea>
  </div>

  <input type="submit" class="mp-button mp-single-upload" value="{% trans 'Speichern' %}" />
</form>
{% endblock %}
