{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Kontakt" %}{% endblock %}

{% block name %}{% trans "Kontakt" %}{% endblock %}

{% block non_interactive_content %}

	<article class="mp-textbox">
		{% trans "contact-intro-article1-line1" %} <a href="/help">{% trans "contact-linkto-help" %}</a>
		{% trans "contact-intro-article1-line2" %}
		<a class="email" href="mailto:team.keiken@gmail.com?subject=Nachricht%20per%20Mail%20über%20Kontaktseite">
			<strong>team_PUNKT_keiken (ÄT) mail_from_popular_search_engine_starting_with_g</strong>
		</a>.
		{% trans "contact-intro-article1-line3" %}<br />
		{% trans "contact-intro-article1-line4" %} <a href="/privacy#mp-emails">{% trans "contact-linkto-privacy" %}</a>.
	</article>
	<!--
	<form class="mp-contactform">
		<label class="mandatory" for="name">Name <sup title="Dieses Feld ist ein Pflichtfeld.">*</sup></label>
		<input class="mandatory" id="name" type="text" value="" required="required" />
		<label class="mandatory" for="email">Email <sup title="Dieses Feld ist ein Pflichtfeld.">*</sup></label>
		<input class="mandatory" id="email" type="email" value="" required="required" />
		<label class="mandatory" for="subject">Betreff <sup title="Dieses Feld ist ein Pflichtfeld.">*</sup></label>
		<input class="mandatory" id="subject" type="text" value="" required="required" />
		<label class="mandatory" for="message">Nachricht <sup title="Dieses Feld ist ein Pflichtfeld.">*</sup></label>
		<textarea class="mandatory" id="message" type="text" rows="20" value="" required="required" />
	</form>
	-->
{% endblock %}
