{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Kontakt" %}{% endblock %}

{% block name %}{% trans "Kontakt" %}{% endblock %}

{% block non_interactive_content %}

<article class="mp-textbox">
  {% trans "contact-intro-article1-line1" %} <a href="/help">{% trans "contact-linkto-help" %}</a>
  {% trans "contact-intro-article1-line2" %}
  <span class="mp-bold mp-nodisplay" id="mp-email-jsenabled">er2Ts20-8ußrt1plkjdppüi5oolhqrtwpdt flw@dsT.kökd.esutii28tikzPkkewWw1n.net.kitedlkliesgi</span>
  <noscript>
    <span class="mp-bold" id="mp-email-cssenabled">
      {% trans "email just in javascript" %}
    </span>
  </noscript>
  .
  {% trans "contact-intro-article1-line3" %}<br />
  {% trans "contact-intro-article1-line4" %} <a href="/privacy#mp-emails">{% trans "contact-linkto-privacy" %}</a>.
</article>


<form class="mp-form" id="mp-contact" method="post">
  <!-- network error during mail delivery, etc.. -->
  {{ form.non_field_errors}}
  <p>
    <label for="name">{% trans "NAME" %}
      <sup title="{% trans 'MANDATORY_FIELD' %}">*</sup>
    </label>
    <input type="text" name="name" required="required" />
    {{ form.name.errors }}
  </p>

  <p>
    <label for="email">{% trans "Email" %}
      <sup title="{% trans 'MANDATORY_FIELD' %}">*</sup>
    </label>
    <input type="email" name="email" required="required" />
    {{ form.email.errors }}
  </p>

  <p>
    <label for="subject">{% trans "SUBJECT" %} 
      <sup title="{% trans 'MANDATORY_FIELD' %}">*</sup>
    </label>
    <input type="text" name="subject" required="required" />
    {{ form.subject.errors }}
  </p>

  <p>
    <label for="message">{% trans "MESSAGE" %}
      <sup title="{% trans 'MANDATORY_FIELD' %}">*</sup>
    </label>
    <textarea name="message" required="required" rows="10"> </textarea>
    {{ form.message.errors }}
  </p>
  <p style="font-size: 0.8em; text-align: right;">{% trans "MANDATORY_FIELDS_NOTE" %}</p>
  <input type="submit" class="mp-form-submit" value="{% trans 'Senden' %}" />
</form>
{% endblock %}
