{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Urheberrecht" %}{% endblock %}

{% block name %}{% trans "Urheberrechtserklärung" %}{% endblock %}

{% block non_interactive_content %}

	<article class="mp-textbox" id="copyright">
		<h3>{% trans "Urheberrecht bei internen Inhalten" %}</h3>
		<p>{% trans "copyright-article1-paragraph1" %}</p>
		<h3>{% trans "Urheberrecht Dritter" %}</h3>
		<p>{% trans "copyright-article1-paragraph2" %}</p>
	</article>
	<br /><br /><br /><br />
	<p>
		<img class="mp-construction" src="static/images/construction.png" title="Diese Seite ist noch in der Entwicklings-Phase">
	</p>

		
{% endblock %}
