<!-- for the translation with django -->
{% load i18n %}
{% trans "Urheberrecht" as page_name %}

{% extends "base-non-interactive.html" %}

{% block title %}{{ page_name }}{% endblock %}

{% block name %}{{ page_name }}{% endblock %}

{% block non_interactive_content %}

	<article class="mp-textbox" id="copyright">
		<p>{% trans "copyright-article1-paragraph1" %}</p>
		<p>{% trans "copyright-article1-paragraph2" %}</p>
	</article>
	<br /><br /><br /><br />
	<p>
		<img class="mp-construction" src="static/images/construction.png" title="Diese Seite ist noch in der Entwicklings-Phase">
	</p>

		
{% endblock %}
