{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Urheberrecht" %}{% endblock %}

{% block name %}{% trans "Urheberrechtserklärung" %}{% endblock %}

{% block non_interactive_content %}

	<article class="mp-textbox" id="copyright">
		<h3>{% trans "Urheberrecht bei internen Inhalten" %}</h3>
		<p>
			<ol>
				<li>{% trans "Urheberrecht bei internen Inhalten list-item-1" %}</li>
				<li>{% trans "Urheberrecht bei internen Inhalten list-item-2" %}</li>
				<li>{% trans "Urheberrecht bei internen Inhalten list-item-3" %}</li>
				<li>{% trans "Urheberrecht bei internen Inhalten list-item-4" %}</li>
			</ol>
		</p>
		<h3>{% trans "Urheberrecht der Nutzer" %}</h3>
		<p>
			<ol>
				<li>{% trans "Urheberrecht der Nutzer list-item-1" %}</li>
				<li>{% trans "Urheberrecht der Nutzer list-item-2" %}</li>
				<li>{% trans "Urheberrecht der Nutzer list-item-3" %}</li>
			</ol>
		</p>
		<h3>{% trans "Urheberrecht Dritter" %}</h3>
		<p>
			<ol>
				<li>{% trans "Urheberrecht Dritter list-item-1" %}</li>
				<li>{% trans "Urheberrecht Dritter list-item-2" %}</li>
				<li>{% trans "Urheberrecht Dritter list-item-3" %}</li>
				<li>{% trans "Urheberrecht Dritter list-item-4" %}</li>
				<li>{% trans "Urheberrecht Dritter list-item-5" %}</li>
			</ol>
		</p>
	</article>
	<br /><br /><br /><br />
	<p>
		<img class="mp-construction" src="static/images/construction.png" title="Diese Seite ist noch in der Entwicklings-Phase">
	</p>

		
{% endblock %}
