{% extends "base-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}Dashboard{% endblock %}

{% block name %}Dashboard{% endblock %}

{% block css %}
<!-- pull in the compiled css from base.html -->
{{ block.super }}
{% load compress %}
{% compress css %}
<link rel="stylesheet" type="text/x-stylus" href="/static/css/dashboard-main.styl" />
{% endcompress %}
{% endblock %}

{% block js %}
<!-- pull in the compressed javascript from base-interactive.html -->
{{ block.super }}
{% load compress %}
{% compress js %}
<script type="text/javascript" src="/static/js/keiken/main/dashboard.js" ></script>
{% endcompress %}
{% endblock %}

{% block pageID %}dashboard{% endblock %}

{% block content_top %}
<section id="mp-full-page" class="mp-full-page">
  <section class="mp-map" id="mp-map">
    <div class="mp-map-wrapper" id="map"></div>
  </section>
</section>
{% endblock %}




