{% extends "base-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}Dashboard{% endblock %}

{% block name %}Dashboard{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="static/css-plain/jquery.jscrollpane.css" />
	<link rel="stylesheet" type="text/css" href="static/fancybox/jquery.fancybox-1.3.4.css" />
{% endblock %}

{% block js %}
	
	<script type="text/javascript" src="static/js/main/UI/UI.js" ></script>
	<script type="text/javascript" src="static/js/main/UI/UITest.js" ></script>
	
	<script type="text/javascript" src="static/js/main/ClientState.js" ></script>
	<script type="text/javascript" src="static/js/main/ClientServer.js" ></script>
	
	<script type="text/javascript" src="static/js/main/Main.js" ></script>
	
	<script type="text/javascript" src="static/js/main/dashboard.js" ></script>
	
	<script type="text/javascript" src="static/js/zeroclipboard/jquery.zclip.min.js" ></script>
{% endblock %}

{% block controls %}
<img class="mp-controls-options mp-option-share" src="static/images/share.png" title='{% trans "control-title share" %}' />
{% endblock %}

{% block content_interactive %}
	
	<section class="mp-map" id="mp-map">
		<div class="mp-map-container">
			<div class="mp-map-wrapper" id="map"></div>
		</div>
	</section>
	
	<div id="mp-share">
		<span class="mp-share-overlay" rel="#mp-share"></span>
		<p>
			<input id="mp-share-link" name="share-link" value="" size="100"/>
			<input id="mp-copy-button" name="copy" type="button" value='{% trans "mp-copy-link-title" %}' />
		</p>
		<aside>
			<p>
				<strong>{% trans "How to Share" %}</strong>
			</p>
			<p>
				{% trans "How to Share -> description" %}
			</p>
			<p>
				<strong>{% trans "How to Share -> attention!" %}</strong>
			</p>
		</aside>
	</div>
	<!-- helpers for selenium ide. remove from production system -->
	<div class="mp-invisible">
		<button class="mp-insert-album"></button>
		<button class="mp-update-album"></button>
		<button class="mp-delete-album"></button>
	</div>

{% endblock %}

