{% extends "base-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}Dashboard{% endblock %}

{% block name %}Dashboard{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/x-stylus" href="/static/css/dashboard-main.styl" />
{% endblock %}

{% block js_interactive %}

	<script type="text/javascript" src="/static/js/ui/UI.js" ></script>

	<script type="text/javascript" src="/static/js/util/dashboard/ClientServer.js" ></script>

	<script type="text/javascript" src="/static/js/main/dashboard.js" ></script>

	<script type="text/javascript" src="/static/js/zeroclipboard/jquery.zclip.min.js" ></script>
{% endblock %}

{% block controls %}
<img class="mp-cursor-pointer mp-control mp-option-share" src="/static/images/share.png" title='{% trans "control-title share" %}' />
{% endblock %}
{% block slideshow/??? %}
   <section class="" >
     <div class="mp-empty-box">
      <span>This box doesn't have a purpose yet!</span>
     </div>
   </section>
{% endblock %}
{% block gallery/news-feed %}
{% endblock %}



{% block content_interactive %}
	<!-- helpers for selenium ide. remove from production system -->
	<div class="mp-invisible">
		<button class="mp-insert-album"></button>
		<button class="mp-update-album"></button>
		<button class="mp-delete-album"></button>
		<button class="mp-show-album-share"></button>
	</div>

{% endblock %}

