{% extends "dialog.html" %}

{% load i18n %} <!-- we always need to load i18n -->

{% block title %}Delete Photo{% endblock %}
  
{% block content %}
<form class="jquery-validator mp-dialog" action="/delete-photo" method="post">
  <input type="hidden" name="id" required="required"/>
</form>
  <div>{% trans "Do you really want to delete" %} Photo<span class="data-title"></span></div>
  <span class="mp-nodisplay" id="mp-confirm">{% trans "Yes" %}</span> 
  <span class="mp-nodisplay" id="mp-abort">{% trans "No" %}</span> 
 
{% endblock %}
