{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Hilfe" %}{% endblock %}

{% block name %}{% trans "Hilfe und Support" %}{% endblock %}

{% block js %}
<!-- pull in the compressed javascript from base.html & base-non-interactive.html -->
{{ block.super }}
{% load compress %}
{% compress js %}
<script type="text/javascript" src="/static/js/main/help.js" ></script>
{% endcompress %}
{% endblock %}

{% block non_interactive_content %}

<p>
  {% trans "help-intro-paragraph" %}
</p>
<!-- <section id ="mp-faq" class="mp-faq-wrapper"> -->
  <!-- <h3>{% trans "help-faq-title" %}</h3> -->
  <!-- <article class="mp-faq-entry"> -->
  <!--   <p class="mp-faq-question">{% trans "help-faq topic 'Warum Klarnamen?' question" %}</p> -->
  <!--   <p class="mp-faq-answer">{% trans "help-faq topic 'Warum Klarnamen?' answer" %}</p> -->
  <!-- </article> -->
  <!-- <article class="mp-faq-entry"> -->
  <!--   <p class="mp-faq-question">{% trans "help-faq topic 'Was ist ein sicheres Passwort?' question" %}</p> -->
  <!--   <p class="mp-faq-answer"> -->
  <!--     {% trans "help-faq topic 'Was ist ein sicheres Passwort?' answer part1" %} -->
  <!--     <a href="http://xkcd.com/936/" title='{% trans "link-title passwort security comic" %}'>{% trans "link to password security comic" %}</a> -->
  <!--     {% trans "help-faq topic 'Was ist ein sicheres Passwort?' answer part2" %} <br /><br /> -->
  <!--   </p> -->
  <!-- </article> -->
<!-- </section> -->
<section id="mp-tutorial" class="mp-tutorial-wrapper">
  <h3>{% trans "help-tutorial-title" %}</h3>
  <article class="mp-tutorial-entry">
    <h4 class="mp-tutorial-topic">{% trans "help-tutorial topic: Dashboard" %}</h4>
    <div class="mp-tutorial-description">
      <p>{% trans "help-tutorial topic: Dashboard -> description" %}</p>
      <div>
	<h5>{% trans "Alben" %}</h5>
	<ul>
	  <li>
	    <p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Dashboard, subtopic: Alben, function: Add" %}</p>
	    <p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Dashboard, subtopic: Alben, function: Add -> description" %}</p>
	  </li>
	  <li>
	    <p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Dashboard, subtopic: Alben, function: Delete/Modify" %}</p>
	    <p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Dashboard, subtopic: Alben, function: Delete/Modify -> description" %}</p>
	  </li>
	  <li>
	    <p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Dashboard, subtopic: Alben, function: Select" %}</p>
	    <p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Dashboard, subtopic: Alben, function: Select -> description" %}</p>
	  </li>
	  <li>
	    <p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Dashboard, subtopic: Alben, function: Share" %}</p>
	    <p class="mp-tutorial-subtopic-desc">
	      {% trans "help-tutorial topic: Dashboard, subtopic: Alben, function: Share -> description" %}
	      <strong>{% trans "help-tutorial topic: Dashboard, subtopic: Alben, function: Share -> attention!" %}</strong>
	    </p>
	  </li>
	</ul>
      </div>
    </div>
  </article>
  <article class="mp-tutorial-entry">
    <h4 class="mp-tutorial-topic">{% trans "Albumsansicht" %}</h4>
    <div class="mp-tutorial-description">
      <p>{% trans "help-tutorial topic: Albumview -> description" %}</p>
      <div>
	<h5>{% trans "Plätze" %}</h5>
	<ul>
	  <li>
	    <p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Places, function:Add" %}</p>
	    <p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Places, function: Add -> description" %}</p>
	  </li>
	  <li>
	    <p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Places, function: Delete/Modify" %}</p>
	    <p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Places, function: Delete/Modify -> description" %}</p>
	  </li>
	  <li>
	    <p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Places, function: Select" %}</p>
	    <p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Places, function: Select -> description" %}</p>
	  </li>
	</ul>
	<h5>{% trans "Gallerie" %}</h5>
	<ul>
	  <li>
	    <p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Add" %}</p>
	    <p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Add -> description" %}</p>
	  </li>
	  <li>
	    <p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Delete/Modify" %}</p>
	    <p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Delete/Modify -> description" %}</p>
	  </li>
	  <li>
	    <p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Slideshow" %}</p>
	    <p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Slideshow -> description" %}</p>
	  </li>
	  <li>
	    <p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Fullscreen" %}</p>
	    <p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Fullscreen -> description" %}</p>
	  </li>
	  <li>
	    <p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Drag'n'Drop" %}</p>
	    <p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Drag'n'Drop -> description" %}</p>
	  </li>
	</ul>
	<h5>{% trans "DESCRIPTION" %}</h5>
	<ul>
	  <li>
	    <p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Description, function: toggle visibility" %}</p>
	    <p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Description, function: toggle visibility -> description" %}</p>
	  </li>
	</ul>
      </div>
    </div>
  </article>
</section>
{% endblock %}
