{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Hilfe" %}{% endblock %}

{% block name %}{% trans "Hilfe und Support" %}{% endblock %}

{% block extrajs %}
	<script type="text/javascript" src="static/js/main/non-interactive/help.js" ></script>
{% endblock %}

{% block non_interactive_content %}
	
	<p>
		{% trans "help-intro-paragraph" %} (<strong>s.u.p.p.0.r.t.lghp.projekt@gmail.com</strong>)
	</p>
	<section id ="mp-faq" class="mp-faq-wrapper">
		<h3>{% trans "help-faq-title" %}</h3>
		<article class="mp-faq-entry">
			<h4 class="mp-faq-question">{% trans "help-faq-question1" %}</h4>
			<p class="mp-faq-answer">{% trans "help-faq-answer1" %}</p>
		</article>
	</section>
	<section id="mp-tutorial" class="mp-tutorial-wrapper">
		<h3>{% trans "help-tutorial-title" %}</h3>
		<article class="mp-tutorial-entry">
			<h4 class="mp-tutorial-topic">{% trans "help-tutorial topic: Dashboard" %}</h4>
			<div class="mp-tutorial-description">
				<p>{% trans "help-tutorial topic: Dashboard -> description" %}</p>
				<div>
					<h5>{% trans "help-tutorial topic: Dashboard, subtopic: Alben" %}</h5>
					<ul>
						<li>
							<p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Dashboard, subtopic: Alben, function: Add" %}</p>
							<p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Dashboard, subtopic: Alben, function: Add -> description" %}</p>
						</li>
						<li>
							<p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Dashboard, subtopic: Alben, function: Delete/Modify" %}</p>
							<p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Dashboard, subtopic: Alben, function: Delete/Modify -> description" %}</p>
						</li>
						<li>
							<p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Dashboard, subtopic: Alben, function: Select" %}</p>
							<p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Dashboard, subtopic: Alben, function: Select -> description" %}</p>
						</li>
					</ul>
				</div>
			</div>
		</article>
		<article class="mp-tutorial-entry">
			<h4 class="mp-tutorial-topic">{% trans "help-tutorial topic: Albumview" %}</h4>
			<div class="mp-tutorial-description">
				<p>{% trans "help-tutorial topic: Albumview -> description" %}</p>
				<div>
					<h5>{% trans "help-tutorial topic: Albumview, subtopic: Places" %}</h5>
					<ul>
						<li>
							<p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Places, function:Add" %}</p>
							<p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Places, function: Add -> description" %}</p>
						</li>
						<li>
							<p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Places, function: Delete/Modify" %}</p>
							<p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Places, function: Delete/Modify -> description" %}</p>
						</li>
						<li> 
							<p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Places, function: Select" %}</p>
							<p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Places, function: Select -> description" %}</p>
						</li>
					</ul>
					<h5>{% trans "help-tutorial topic: Albumview, subtopic: Gallery" %}</h5>
					<ul>
						<li>
							<p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Add" %}</p>
							<p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Add -> description" %}</p>
						</li>
						<li>
							<p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Delete/Modify" %}</p>
							<p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Delete/Modify -> description" %}</p>
						</li>
						<li>
							<p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Slideshow" %}</p>
							<p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Slideshow -> description" %}</p>
						</li>
						<li>
							<p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Fullscreen" %}</p>
							<p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Fullscreen -> description" %}</p>
						</li>
						<li>
							<p class="mp-tutorial-subtopic">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Drag'n'Drop" %}</p>
							<p class="mp-tutorial-subtopic-desc">{% trans "help-tutorial topic: Albumview, subtopic: Gallery, function: Drag'n'Drop -> description" %}</p>
						</li>
					</ul>
				</div>
			</div>
		</article>
	</section>
	<br /><br /><br /><br />
	<p>
		<img class="mp-construction" src="static/images/construction.png" title="Diese Seite ist noch in der Entwicklings-Phase">
	</p>
{% endblock %}
