{% extends "base-non-interactive.html" %}

{% block title %}Hilfe{% endblock %}


{% block non_interactive_content %}
	
				<h2>Hilfe</h2>
				<p>
					Momentan steht Ihnen leider noch keine Hilfe-Seite zur Verfügung. Später wird hier ein Tutorial und ein
					FAQ erstellt. Wenn Sie jedoch Fragen haben, schreiben Sie uns doch gerne eine email an <strong>photomap-support@gmail.com</strong>!
				</p>
				<br /><br /><br /><br /><br /><br /><br /><br />
				<p>
					<img class="mp-construction" src="static/images/construction.png" title="Diese Seite ist noch in der Entwicklings-Phase">
				</p>
		
{% endblock %}
