{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Impressum" %}{% endblock %}

{% block name %}{% trans "Impressum" %}{% endblock %}

{% block non_interactive_content %}

<article class="mp-textbox" id="mp-impressum">
	<div>
		  <p>{% trans "impressum Angaben gemäß § 5 TMG" %}</p>
		  <address>
		    Frederik Claus <br />
		    Gaußstrasse 18 <br />
		    D-68165 Mannheim <br />
		    Germany
		  </address>
		  <p>
		    {% trans "impressum Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV:" %}<br />
		    Frederik Claus ( {% trans "impressum Anschrift wie oben" %} )
		  </p>
	</div>
	<div>
		  <h2>{% trans "impressum Vertreten durch" %}</h2>
		  <p>
		    <a href="/team#frederik-claus">Frederik Claus</a> <br />
		    <a href="/team#philipp-banhardt">Philipp Banhardt</a> <br />
		    <a href="/team#marc-leon-roemer">Marc-Leon Römer</a> <br />
		  </p>
	</div>
	<div>
		  <h2>{% trans "Kontakt" %}</h2>
		  <p>
		    {% trans "Telefon" %} - 1: +49 176 96181399 ({% trans "Handy" %})<br />
		    {% trans "Telefon" %} - 2: +49 152 29569610 ({% trans "Handy" %})<br />
		    {% trans "Email-Adresse" %}: 
		    <span class="mp-bold mp-nodisplay" id="mp-email-jsenabled">er2Ts20-8ußrt1plkjdppüi5oolhqrtwpdt flw@dsT.kökd.esutii28tikzPkkewWw1n.net.kitedlkliesgi</span>
		    <noscript>
		      {% trans "EMAIL_ONLY_WITH_JS" %}
		    </noscript>
		  </p>
		  <aside>
		    <h3>{% trans "impressum-sidenote Missbrauch von Kontaktdaten" %}</h3>
		    <p>{% trans "impressum-sidenote Missbrauch von Kontaktdaten -> description" %}</p>
		  </aside>
	</div>
</article>
	
{% endblock %}
