{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}
{% trans "Impressum" as page_name %}

{% block title %}{{ page_name }}{% endblock %}

{% block name %}{{ page_name }}{% endblock %}

{% block non_interactive_content %}

	<article class="mp-textbox" id="mp-impressum">
		<p>{% trans "impressum Angaben gemäß § 5 TMG" %}</p>
		<address>
			Frederik Claus <br />
			Gaußstrasse 18 <br />
			D-68165 Mannheim <br />
			Germany
		</address>
		<p>
			{% trans "impressum Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV:" %}<br />
			Frederik Claus ( {% trans "impressum Anschrift wie oben" %} )
		</p>
		<h3>{% trans "impressum Vertreten durch" %}</h3>
		<p>
			<a href="/team#frederik-claus">Frederik Claus</a> <br />
			<a href="/team#philipp-banhardt">Philipp Banhardt</a> <br />
			<a href="/team#marc-leon-roemer">Marc-Leon Römer</a> <br />
		</p>
		<h3>{% trans "Kontakt" %}</h3>
		<p>
			{% trans "Telefon" %}: +49 176 96181399 ({% trans "Handy" %})<br />
			{% trans "Email-Adresse" %}: s.u.p.p.0.r.t.lghp.projekt@gmail.com
		</p>
		<aside>
			<h3>{% trans "impressum-sidenote Missbrauch von Kontaktdaten" %}</h3>
			<p>{% trans "impressum-sidenote Missbrauch von Kontaktdaten -> description" %}</p>
		</aside>
	</article>
	<article class="mp-textbox" id="mp-liability">
		<h3>{% trans "impressum-liability Haftung für Inhalte" %}</h3>
		<p>{% trans "impressum-liability Haftung für Inhalte -> description" %}</p>
		<h3>{% trans "impressum-liability Haftung für Links" %}</h3>
		<p>{% trans "impressum-liability Haftung für Links -> description" %}</p>
	</article>
	
{% endblock %}
