{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Impressum" %}{% endblock %}

{% block name %}{% trans "Impressum" %}{% endblock %}

{% block non_interactive_content %}

	<article class="mp-textbox" id="mp-impressum">
		<p>{% trans "impressum Angaben gemäß § 5 TMG" %}</p>
		<address>
			Frederik Claus <br />
			Gaußstrasse 18 <br />
			D-68165 Mannheim <br />
			Germany
		</address>
		<p>
			{% trans "impressum Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV:" %}<br />
			Frederik Claus ( {% trans "impressum Anschrift wie oben" %} )
		</p>
		<h3>{% trans "impressum Vertreten durch" %}</h3>
		<p>
			<a href="/team#frederik-claus">Frederik Claus</a> <br />
			<a href="/team#philipp-banhardt">Philipp Banhardt</a> <br />
			<a href="/team#marc-leon-roemer">Marc-Leon Römer</a> <br />
		</p>
		<h3>{% trans "Kontakt" %}</h3>
		<p>
        <span class="mp-bold mp-nodisplay" id="mp-email-jsenabled">
			 23rwtsg4he2tchaH46Imff2D.2R2tkwwtWeaqzei3tsmkGh 8e6s8fnsfG5@sadTg3tr5mGhjZaRSlpihJxwly-äp.swüicoioiomj3tm
        </span>
        <noscript>
          <span class="mp-bold" id="mp-email-cssenabled">
            tea<span class="mp-nodisplay">party</span>m.keike<span class="mp-nodisplay">.frecki</span>n@gmail<span class="mp-nodisplay">.net</span>.com
          </span>
        </noscript>
		</p>
		<aside>
			<h3>{% trans "impressum-sidenote Missbrauch von Kontaktdaten" %}</h3>
			<p>{% trans "impressum-sidenote Missbrauch von Kontaktdaten -> description" %}</p>
		</aside>
	</article>
	<article class="mp-textbox" id="mp-liability">
		<h3>{% trans "impressum-liability Haftung für Inhalte" %}</h3>
		<p>
			<ol>
				<li>{% trans "impressum-liability Haftung für Inhalte list-item-1" %}</li>
				<li>{% trans "impressum-liability Haftung für Inhalte list-item-2" %}</li>
				<li>{% trans "impressum-liability Haftung für Inhalte list-item-3" %}</li>
				<li>{% trans "impressum-liability Haftung für Inhalte list-item-4" %}</li>
				<li>{% trans "impressum-liability Haftung für Inhalte list-item-5" %}</li>
			</ol>
		</p>
		<h3>{% trans "impressum-liability Haftung für Links" %}</h3>
		<p>
			<ol>
				<li>{% trans "impressum-liability Haftung für Links list-item-1" %}</li>
				<li>{% trans "impressum-liability Haftung für Links list-item-2" %}</li>
				<li>{% trans "impressum-liability Haftung für Links list-item-3" %}</li>
				<li>{% trans "impressum-liability Haftung für Links list-item-4" %}</li>
			</ol>
		</p>
	</article>
	
{% endblock %}
