{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Willkommen" %}{% endblock %}

{% block name %}{% trans "Willkommen" %}{% endblock %}

{% block pageID %}landingpage{% endblock %}

{% block mode %}
content="non-interactive"
{% endblock %}

{% block content %}
<noscript class="mp-noscript-warning"><p>{% trans "JS_DISABLED_WARNING" %}</p></noscript>

<section class="keiken-intro">
  <h2><span>{% trans "Welcome to KEIKEN!" %}</span></h2>
  <span>{% trans "KEIKEN_ABSTRACT" %}</span>
  <span>{% trans "KEIKEN_GUEST_LOGIN" %}</span>
  <form class="mp-guest-login">
    <label for="guest-password">{% trans "Password" %}</label>
    <input type="password" id="guest-password" name="guest-password"/>
    <input type="submit" value='{% trans "View Album" %}' />
  </form>
</section>
  
<section id="keiken-login">
  <ul class="mp-login-register-tabs">
    <li><a href="#mp-login">{% trans "Login" %}</a></li>
    <li><a href="#mp-register">{% trans "Registration" %}</a></li>
    <li class="login-toggle"><img src="/static/images/close-login.png" alt="Close" /></li>
  </ul>
  <!-- hide tabs to avoid ugly moving around during page load -->
  <div class="mp-login-tab" id="mp-login">
    <!-- action is necessary because this template is also populated by /test -->
    <form class="mp-form" action="/login" method="post">
      <!-- displays the password || email wrong message -->
      {{ login.non_field_errors }}
      <p>
        <label for="login_email">{% trans "Email" %}:</label>
        <input type="text" name="email" id="login_email" autofocus="autofocus" required="required" value="{{ email }}"/>
        <!-- field required error -->
        {{ login.email.errors }}
      </p>
      <p>
        <label for="login_password">{% trans "Password" %}:</label>
        <input type="password" name="password" id="login_password" required="required" value="{{ password }}"/>
        <!-- field required error -->
        {{ login.password.errors }}
      </p>
      <p>
	<input id="login-submit" class="mp-form-submit" type="submit" name="login" value='{% trans "Sign in" %}' />
      </p>
    </form>
  </div>
  <!-- hide tabs to avoid ugly moving around during page load -->
  <div class="mp-login-tab" id="mp-register">
    <!-- action is necessary because this template is also populated by /test -->
    <form class="mp-form" action="/login" method="post">
      <p>
        <label for="register_first_name">{% trans "First name" %}:</label>
        <input disabled="disabled" type="text" name="first_name" id="register_first_name" autofocus="autofocus" />
      </p>
      <p>
        <label for="register_last_name">{% trans "Last name" %}:</label>
        <input disabled="disabled" type="text" name="last_name" id="register_last_name" />
      </p>
      <p>
        <label for="register_email">{% trans "Email" %}:</label>
        <input disabled="disabled" type="text" name="email" id="register_email" />
      </p>
      <p>
        <label for="register_password">{% trans "Password" %}:</label>
        <input disabled="disabled" type="password" name="password" id="register_password" />
      </p>
      <p>
        <label for="id_confirm">{% trans "Confirm Password" %}:</label>
        <input disabled="disabled" type="password" name="confirm" id="register_confirm" />
      </p>
      <p>
	<input class="ui-widget mp-form-submit" type="submit" name="register" value='{% trans "Register" %}' disabled="disabled" />
      </p>
    </form>
  </div>
</section>

<!--
<section class="mp-guest-welcome">
  <h1>{% trans "Welcome to Keiken" %}</h1>
  <p>{% trans "LOGIN_GUEST_WELCOME_1" %}</p>
  <p>{% trans "LOGIN_GUEST_WELCOME_2" %}<img width="50%" style="float:right;" src="/static/images/hierarchy.png">{% trans "LOGIN_GUEST_WELCOME_3" %}</p>
  <p>{% trans "LOGIN_GUEST_WELCOME_4" %}</p>
  <p>
    {% trans "LOGIN_GUEST_WELCOME_5" %}<br />
    {% trans "LOGIN_GUEST_WELCOME_6" %}
  </p>
  <p>{% trans "Welcome to Keiken" %}</p>
  <p><a href="/login#mp-guest">{% trans "Zum Login" %}</a></p>
</section>
-->
{% endblock %}

