{% extends "index.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block keiken_intro %}
	<div class="mp-landing-page-links">
	  {% if user.is_authenticated %}
	  <p>
	  	<input type="button" id="mp-dashboard-button" class="mp-landingpage-button" title='{% trans "TO_DASHBOARD" %}' value='{% trans "TO_DASHBOARD" %}' />
	  </p>
	  {% else %}
	  <p>
	  	<input type="button" id="mp-demo-button" class="mp-landingpage-button" title='{% trans "VIEW_ALBUM" %}' value='{% trans "VIEW_ALBUM" %}' />
	  </p>
	  <p>
	  	<input type="button" id="mp-test-button" class="mp-landingpage-button" title='{% trans "TRY_KEIKEN" %}' value='{% trans "TRY_KEIKEN" %}' />
	  </p>
	  {% endif %}
	</div>
{% endblock %}