{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block extrajs %}
{% load compress %}
{% compress js %}
<script type="text/javascript" src="/static/js/main/landingpage.js" ></script>
{% endcompress %}
{% endblock %}

{% block title %}{% trans "Willkommen" %}{% endblock %}

{% block name %}{% trans "Willkommen" %}{% endblock %}

{% block pageID %}landingpage{% endblock %}

{% block background_image %}
	<!-- if passed along the "day"-parameter gives the current weekday from sunday = 0 to saturday = 6; each day there is a different background -->
	{% if day %}
		<img src="/static/images/backgrounds/bg{{ day }}.jpg" alt="background couldn't be loaded" class="background-image"/>
	{% else %}
		<img src="/static/images/backgrounds/bg0.jpg" alt="background couldn't be loaded" class="background-image"/>
	{% endif %}
	<div class="background-overlay-black"></div>
{% endblock %}

{% block non_interactive_content %}
  
  <section id="keiken-intro" class="keiken-intro">
	<h2><span>{% trans "Welcome to KEIKEN!" %}</span></h2>
	<span>{% trans "KEIKEN_ABSTRACT" %}</span>
	{% block keiken_intro %}{% endblock %}
  </section>
  
<section id="keiken-login">
  <ul class="mp-login-register-tabs">
    <li class="mp-login-tabs"><a href="#mp-login">{% trans "Login" %}</a></li>
    <li class="mp-login-tabs"><a href="#mp-register">{% trans "Registration" %}</a></li>
    <li class="mp-login-toggle"><img src="/static/images/close-login.png" alt="Close" /></li>
  </ul>
  <!-- hide tabs to avoid ugly moving around during page load -->
  <div class="mp-login-tab" id="mp-login">
    <!-- action is necessary because this template is also populated by /test -->
    <form class="mp-form" action="/account/auth/login" method="post">
      <p>
        <label for="login_email">{% trans "Email" %}:</label>
        <input type="email" name="email" id="login_email" autofocus="autofocus" required="required" value="{{ email }}" placeholder="{% trans 'USER_EMAIL_PLACEHOLDER' %}" data-required/>
      </p>
      <p>
        <label for="login_password">{% trans "Password" %}:</label>
        <input type="password" name="password" id="login_password" required="required" value="" placeholder="{% trans 'USER_PASSWORD_PLACEHOLDER' %}" data-required/>
      </p>
      <p class="mp-nodisplay">
      	<input type="hidden" name="next" value="{{ next }}" />
      </p>
      <p class="mp-nodisplay">
      	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
      </p>
      <p>
		<input id="login_submit" class="mp-form-submit" type="submit" name="login" value='{% trans "Sign in" %}' />
      </p>
    </form>
    <a href="/account/password/reset" id="mp-user-password-forgot">{% trans "Help, I forgot my password!" %}</a>
  </div>
  <!-- hide tabs to avoid ugly moving around during page load -->
  <div class="mp-login-tab" id="mp-register">
    <!-- action is necessary because this template is also populated by /test -->
    <form class="mp-form" action="/register" method="post">
      <p>
        <label for="register_first_name">{% trans "First name" %}:</label>
        <input disabled="disabled" type="text" name="first_name" id="register_first_name" autofocus="autofocus" />
      </p>
      <p>
        <label for="register_last_name">{% trans "Last name" %}:</label>
        <input disabled="disabled" type="text" name="last_name" id="register_last_name" />
      </p>
      <p>
        <label for="register_email">{% trans "Email" %}:</label>
        <input disabled="disabled" type="text" name="email" id="register_email" />
      </p>
      <p>
        <label for="register_password">{% trans "Password" %}:</label>
        <input disabled="disabled" type="password" name="password" id="register_password" />
      </p>
      <p>
        <label for="id_confirm">{% trans "Confirm Password" %}:</label>
        <input disabled="disabled" type="password" name="confirm" id="register_confirm" />
      </p>
      <p>
	<input class="ui-widget mp-form-submit" type="submit" name="register" value='{% trans "Register" %}' disabled="disabled" />
      </p>
    </form>
  </div>
</section>
<!-- div for UIInput. The dimensions are defined in input.sty -->
<div id="mp-dialog"></div>

{% endblock %}

