{% extends "base.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Willkommen" %}{% endblock %}

{% block name %}{% trans "Willkommen" %}{% endblock %}

{% block mode %}
content="non-interactive"
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/x-stylus" href="static/css/noninteractive-main.styl" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="static/js/main/non-interactive.js" ></script>
	
	<script type="text/javascript" src="static/js/main/landingpage.js" ></script>
	
	<script type="text/javascript" src="static/js/ui/default/UI.js" ></script>
   <script type="text/javascript" src="static/js/ui/UIPanel.js" ></script>
   <script type="text/javascript" src="static/js/ui/UICursor.js" ></script>
   <script type="text/javascript" src="static/js/ui/UITools.js" ></script>

   <script type="text/javascript" src="static/js/main/default/Main.js" ></script>
{% endblock %}

{% block content %}
   <p style="text-align: center"> Die Seite ist noch in Bearbeitung. Der Login-Link für Beta-Tester befindet sich in der linken unteren Ecke.</p>
   <p style="text-align: center">Viel Spaß wünscht Euch das keiken-Team!</p>
   <p style="text-align: center"> <a href="/dashboard" title="dashboard">Zum Dashboard</a> </p>
{% endblock %}

