<div class="insert">
	<form class="jquery-validator mp-dialog" name="update-album" action="/insert-place" method="post">
		<div>
			<label for="title">name</label> 
			<input type="text" name="title" required="required" />
		</div>	
		<div>
			<label for="description">description</label>
			<textarea type="text" name="description" cols="50" rows="5"></textarea>
		</div>	
		<input type="hidden" name="lat" required="required" />
		<input type="hidden" name="lon" required="required" />
		<input type="hidden" name="album" required="required" />
		<input type="submit" value="submit" name="submit" />
	</form>
</div>
