{% extends "dialog.html" %}

{% load i18n %} <!-- we always need to load i18n -->

{% block title %}{% trans "INSERT_PLACE" %}{% endblock %}<!-- for the translation with django -->

{% block content %}
<form class="mp-dialog-content" name="update-album" action="/insert-place" method="post">
  <div>
    <label for="title">{% trans "NAME" %} <sup title="{% trans 'MANDATORY_FIELD' %}">*</sup></label>
    <input class="mp-input-name" type="text" name="title" required="required" size="40" />
  </div>	
  <div>
    <label for="description">{% trans "DESCRIPTION" %}</label>
    <textarea type="text" name="description" cols="50" rows="5"></textarea>
  </div>	
  <input type="hidden" name="lat" required="required" />
  <input type="hidden" name="lon" required="required" />
  <input type="hidden" name="album" required="required" />
</form>
{% endblock %}
