<!--<script type="text/javascript" src="static/javascripts/jquery.all.min.js"></script>-->
{% load compress %}
{% compress css file %}
<link rel="stylesheet" type="text/x-stylus" href="static/stylesheets/main.styl" />
{% endcompress %}
<!--<script type="text/javascript" src="/javascripts/insert-photo.js"></script>-->
<div>insert
	<form class="jquery-validator mp-dialog" id="insert-photo" method="post" action="/insert-photo" enctype="multipart/form-data">
	
		
		<input type="hidden" name="place" required="required" value="{{place}}"/>
		<div>
			<label for="title">name</label>
			<input type="text" name="title" required="required" />
		</div>
		<div>
			<label for="description">description</label>
			<textarea name="description"></textarea>
		</div>
		<div>
			<label for="photo">img</label>
			<input type="file" name="photo" required="required" />
		</div>

	
		<input type="submit" value="submit" name="submit" />
	</form>
	<script></script>
</div>
