<div class="insert">
	<form class="jquery-validator mp-dialog" name="update-album" action="/insert-album" method="post">
		<div>
			<label for="title">Name <sup title="Dieses Feld ist ein Pflichtfeld.">*</sup></label> 
			<input type="text" name="title" required="required" />
		</div>	
		<div>
			<label for="description">Beschreibung</label>
			<textarea type="text" name="description" cols="50" rows="5"></textarea>
		</div>	
		<input type="hidden" name="lat" required="required" />
		<input type="hidden" name="lon" required="required" />
		<input type="submit" value="Hinzufügen" name="submit" />
	</form>
</div>
