{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Login und Registrierung" %}{% endblock %}

{% block name %}{% trans "Login und Registrierung" %}{% endblock %}

{% block extrajs %}
	<script type="text/javascript" src="/static/js/main/login.js" ></script>
{% endblock %}

{% block non_interactive_content %}

   <section class="mp-tabs" >
     <span>Login</span>
     <span>Registration</span>
   </section>
   <section class="mp-panes">
	  <section class="mp-login" id="mp-login">
		 <h2 class="mp-font">Login</h2>
		 <form action="" method="post">
			{{login.as_p}}
			<p>
			  <input class="ui-widget" type="submit" name="login" value="Login" />
			</p>
		 </form>
	  </section>
	  <section class="mp-register" id="mp-register">
		 <h2 class="mp-font">Registration</h2>
		 <form action="" method="post">
			{{register.as_p}}
			<p>
			  <input class="ui-widget" type="submit" name="register" value="Registrieren" disabled="disabled" />
			</p>
		 </form>
	  </section>
   </section>
{% endblock %}



