{% load i18n %}
<form id="mp-login-form"
      class="mp-form"
      action="/account/login/"
      method="post">
  <h2>{% trans "Login" %}</h2>
  <p class="mp-form-errors">
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% endfor %}
  </p>
  <p>
    <label for="login_email">{% trans "Email" %}:</label>
    <input type="email"
           name="email"
           id="login_email"
           autofocus="autofocus"
           required="required"
           value="{{ form.email.value|default:'' }}"
           placeholder="{% trans 'USER_EMAIL_PLACEHOLDER' %}"
           data-required />
  </p>
  <p>
    <label for="login_password">{% trans "Password" %}:</label>
    <input type="password"
           name="password"
           id="login_password"
           required="required"
           placeholder="{% trans 'USER_PASSWORD_PLACEHOLDER' %}"
           data-required />
  </p>
  <input type="hidden"
         name="next"
         value="{{ next|default:'' }}" />
  <input type="hidden"
         name="csrfmiddlewaretoken"
         value="{{ csrf_token }}" />
  <p>
    <input id="login_submit"
           class="mp-form-submit"
           type="submit"
           name="login"
           value='{% trans "Sign in" %}' />
  </p>
  <p id="mp-user-password-forgot">
    <a href="{% url 'password_reset' %}">{% trans "Help, I forgot my password!" %}</a>
  </p>
</form>
