{% extends "account.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block name %}{% trans "Login Error" %}{% endblock %}

{% block account_info %}
	<p>{% trans "LOGIN_ERROR_NOTE" %}</p>
    <p style="text-align: center"><a href="/account/reset-password">{% trans "Help, I forgot my password!" %}</a></p>
{% endblock %}
{% block account_settings %}
	<form id="mp-login-form" class="mp-form" action="/login" method="post">
      <p>
        <label for="login_email">{% trans "Email" %}:</label>
        <input type="email" name="email" id="login_email" autofocus="autofocus" required="required" value="{{ email }}" placeholder="{% trans 'USER_EMAIL_PLACEHOLDER' %}" data-required/>
      </p>
      <p>
        <label for="login_password">{% trans "Password" %}:</label>
        <input type="password" name="password" id="login_password" required="required" value="" placeholder="{% trans 'USER_PASSWORD_PLACEHOLDER' %}" data-required/>
      </p>
      <p class="mp-nodisplay">
      	<input type="hidden" name="next" value="{{ next }}" />
      </p>
      <p class="mp-nodisplay">
      	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
      </p>
      <p>
		<input id="login_submit" class="mp-form-submit" type="submit" name="login" value='{% trans "Sign in" %}' />
      </p>
    </form>
{% endblock %}