{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Login und Registrierung" %}{% endblock %}

{% block name %}{% trans "Login und Registrierung" %}{% endblock %}

{% block extrajs %}
	<script type="text/javascript" src="/static/js/main/login.js" ></script>
{% endblock %}

{% block non_interactive_content %}

   <section id="mp-login-register">
     <ul class="mp-login-register-tabs">
       <li><a href="#mp-login">{% trans "Login" %}</a></li>
       <li><a href="#mp-test">{% trans "Test-Account" %}</a></li>
       <li><a href="#mp-demo">{% trans "Demo-Account" %}</a></li>
       <li><a href="#mp-register">{% trans "Registration" %}</a></li>
       <li><a href="#mp-guest">{% trans "Guest-Login" %}</a></li>
     </ul>
	  <section class="mp-login-tab" id="mp-login">
	    <h2 class="mp-font">{% trans "Login" %}</h2>
       <form action="" method="post">
	      <p>
           <label for="login_email">{% trans "Email" %}:</label><br />
           <input type="text" name="email" id="login_email" autofocus="autofocus"/>
         </p>
         <p>
           <label for="login_password">{% trans "Password" %}:</label><br />
           <input type="password" name="password" id="login_password" />
         </p>
	      <p>
		     <input class="ui-widget" type="submit" name="login" value='{% trans "Sign in" %}' />
	      </p>
	    </form>
	  </section>
	  <section class="mp-login-tab" id="mp-test">
	    <h2 class="mp-font">{% trans "Test-Account" %}</h2>
       <form action="" method="post">
	      <p>
           <label for="test_email">{% trans "Email" %}:</label><br />
           <input type="text" name="email" id="test_email" autofocus="autofocus"/>
         </p>
         <p>
           <label for="test_password">{% trans "Password" %}:</label><br />
           <input type="password" name="password" id="test_password" />
         </p>
	      <p>
		     <input class="ui-widget" type="submit" name="login" value='{% trans "Sign in" %}' />
	      </p>
	    </form>
	  </section>
	  <section class="mp-login-tab" id="mp-demo">
	    <h2 class="mp-font">{% trans "Demo-Account" %}</h2>
       <form action="" method="post">
	      <p>
           <label for="demo_email">{% trans "Email" %}:</label><br />
           <input type="text" name="email" id="id_email" autofocus="autofocus"/>
         </p>
         <p>
           <label for="demo_password">{% trans "Password" %}:</label><br />
           <input type="password" name="password" id="id_password" />
         </p>
	      <p>
		     <input class="ui-widget" type="submit" name="login" value='{% trans "Sign in" %}' />
	      </p>
	    </form>
	  </section>
	  <section class="mp-login-tab" id="mp-register">
	    <h2 class="mp-font">{% trans "Registration" %}</h2>
	    <form action="" method="post">
         <p>
           <label for="register_first_name">{% trans "First name" %}:</label><br />
           <input disabled="disabled" type="text" name="first_name" id="register_first_name" />
         </p>
         <p>
           <label for="register_last_name">{% trans "Last name" %}:</label><br />
           <input disabled="disabled" type="text" name="last_name" id="register_last_name" />
         </p>
         <p>
           <label for="register_email">{% trans "Email" %}:</label><br />
           <input disabled="disabled" type="text" name="email" id="register_email" />
         </p>
         <p>
           <label for="register_password">{% trans "Password" %}:</label><br />
           <input disabled="disabled" type="password" name="password" id="register_password" />
         </p>
         <p>
           <label for="id_confirm">{% trans "Confirm Password" %}:</label><br />
           <input disabled="disabled" type="password" name="confirm" id="register_confirm" />
         </p>
	      <p>
		     <input class="ui-widget" type="submit" name="register" value='{% trans "Register" %}' disabled="disabled" />
	      </p>
	    </form>
	  </section>
	  <section class="mp-login-tab" id="mp-guest">
	    <h2 class="mp-font">{% trans "Guest-Login" %}</h2>
       <form action="" method="post">
         <form class="jquery-validator" method="post" action="" >
           <label for="guest_password">{% trans "Password" %}:</label><br />
           <input type="password" name="password" id="guest_password">
	        <p>
		       <input class="ui-widget" type="submit" name="login" value='{% trans "Sign in" %}' />
	        </p>
           <p> {{ password_incorrect_error }} </p>
         </form>
	  </section>
	</section>
{% endblock %}



