{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Login und Registrierung" %}{% endblock %}

{% block name %}{% trans "Login und Registrierung" %}{% endblock %}

{% block non_interactive_content %}

<section id="mp-login-register">
  <ul class="mp-login-register-tabs">
    <li><a href="#mp-login">{% trans "Login" %}</a></li>
    <li><a href="#mp-register">{% trans "Registration" %}</a></li>
  </ul>
  <!-- hide tabs to avoid ugly moving around during page load -->
  <section class="mp-login-tab mp-nodisplay" id="mp-login">
    <!-- action is necessary because this template is also populated by /test -->
    <form class="mp-form" action="/login" method="post">
      <!-- displays the password || email wrong message -->
      {{ login.non_field_errors }}
      <p>
        <label for="login_email">{% trans "Email" %}:</label>
        <input type="text" name="email" id="login_email" autofocus="autofocus" required="required" value="{{ email }}"/>
        <!-- field required error -->
        {{ login.email.errors }}
      </p>
      <p>
        <label for="login_password">{% trans "Password" %}:</label>
        <input type="password" name="password" id="login_password" required="required" value="{{ password }}"/>
        <!-- field required error -->
        {{ login.password.errors }}
      </p>
      <p>
	<input class="mp-form-submit" type="submit" name="login" value='{% trans "Sign in" %}' />
      </p>
    </form>
  </section>
  <!-- hide tabs to avoid ugly moving around during page load -->
  <section class="mp-login-tab mp-nodisplay" id="mp-register">
    <!-- action is necessary because this template is also populated by /test -->
    <form action="/login" method="post">
      <p>
        <label for="register_first_name">{% trans "First name" %}:</label>
        <input disabled="disabled" type="text" name="first_name" id="register_first_name" autofocus="autofocus" />
      </p>
      <p>
        <label for="register_last_name">{% trans "Last name" %}:</label>
        <input disabled="disabled" type="text" name="last_name" id="register_last_name" />
      </p>
      <p>
        <label for="register_email">{% trans "Email" %}:</label>
        <input disabled="disabled" type="text" name="email" id="register_email" />
      </p>
      <p>
        <label for="register_password">{% trans "Password" %}:</label>
        <input disabled="disabled" type="password" name="password" id="register_password" />
      </p>
      <p>
        <label for="id_confirm">{% trans "Confirm Password" %}:</label>
        <input disabled="disabled" type="password" name="confirm" id="register_confirm" />
      </p>
      <p>
	<input class="ui-widget" type="submit" name="register" value='{% trans "Register" %}' disabled="disabled" />
      </p>
    </form>
  </section>
</section>
{% endblock %}

  <!-- <section class="mp-login-tab" id="mp-guest"> -->
  <!--   <h2 class="mp-font">{% trans "Guest-Login" %}</h2> -->
  <!--   <form action="" method="post"> -->
  <!--     <h1>{% trans "Welcome to Keiken" %}</h1> -->
  <!--     <p>{% trans "LOGIN_GUEST_WELCOME_1" %}</p> -->
  <!--     <p>{% trans "LOGIN_GUEST_WELCOME_2" %}<img width="50%" style="float:right;" src="/static/images/hierarchy.png">{% trans "LOGIN_GUEST_WELCOME_3" %}</p> -->
  <!--     <p>{% trans "LOGIN_GUEST_WELCOME_4" %}</p> -->
  <!--     <p> -->
  <!--       {% trans "LOGIN_GUEST_WELCOME_5" %}<br /> -->
  <!--       {% trans "LOGIN_GUEST_WELCOME_6" %} -->
  <!--     </p> -->
  <!--     <p>{% trans "Welcome to Keiken" %}</p> -->
  <!--     <form class="jquery-validator" method="post" action="" > -->
  <!--       <label for="guest_password">{% trans "Password" %}:</label><br /> -->
  <!--       <input type="password" name="password" id="guest_password"> -->
  <!--       <p> -->
  <!--         <input class="ui-widget" type="submit" name="login" value='{% trans "Sign in" %}' /> -->
  <!--       </p> -->
  <!--       <p> {{ password_incorrect_error }} </p> -->
  <!--     </form> -->
  <!-- </section> -->




