{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}Unsupported Browser{% endblock %}

{% block name %}Unsupported Browser{% endblock %}


{% block non_interactive_content %}
  
<!-- <style type="text/css"> -->

<!--   #content { -->
<!--   width: 780px; -->
<!--   padding: 50px 10px 0 10px; -->
<!--   margin: 0 auto; -->
<!--   background: #f4f4f4; -->
<!--   } -->
<!--   #main { -->
<!--   min-height: 300px; -->
<!--   } -->
      
<!-- </style> -->

<section>
  <header>
    <h1>No Support for any browser except Firefox >= Version 19 or Chrome >= Version 20</h1>
  </header>
  <section>
    <p>
      Supporting multiple browser is a lot of work.
      Therefore we decided to not support any browser except Mozilla Firefox or Chrome for now. We might 
      reconsider this decision once the app is working smoothly and we have enough time, to work on 
      a broader integration.
    </p>
    <p>
      <strong>We're sorry for any inconvenience this might cause!</strong>
    </p>
    <p>
      If you really want to use this app. You can download and install or upgrade firefox/chrome, which you use for this app.
    </p>
    <p>
      <a href="http://www.mozilla.org/">Download - Mozilla Firefox</a> <br />
      <a href="http://www.google.com/chrome">Download - Google Chrome</a>
    </p>
  </section>
</section>

{% endblock %}
