<div style="display : inline-block;">
  <div id="ui-editor"></div>
  <strong id="ui-editor-placeholder">Please select a photo first</strong>
  <img id="ui-editor-original" />
  <img id="ui-editor-preview" />


  <div id="ui-editor-controls">
    <fieldset>
      <!--   <legend></legend> -->
      <!-- <label for="amount">Amount</label> -->
      <div class="slider"></div>
      <input type="number" name="amount" min="0" max="1" value="0.5" dataType="float" disabled="disabled">
      <button name="sharpen" class="photo-operation">Sharpen</button>
    </fieldset>

    <fieldset>
      <!--   <legend></legend> -->
      <!-- <label for="amount">Amount</label> -->
      <div class="slider"></div>
      <input type="number" name="amount" min="-1" max="1" value="0.4" dataType="float" disabled="disabled">
      <button name="lighten" class="photo-operation">Lighten</button>
    </fieldset>

    <fieldset>
      <!--   <legend></legend> -->
      <label for="average">Use Average</label>
      <input type="checkbox" name="average">
      <button name="desaturate" class="photo-operation">Desaturate</button>
    </fieldset>

    <fieldset>
      <!--   <legend></legend> -->
      <button name="removenoise" class="photo-operation">Remove Noise</button>
      <button id="rotate" class="photo-operation">Rotate</button>
      <button id="revert" class="photo-operation">Revert</button>
    </fieldset>
  </div>
</div>

<!--
<div>
  <label for="brightness">Brightness</label>
  <input type="text" class="slider" min="-150" max="150" name="brightness" value="30">
  <label for="contrast">Contrast</label>
  <input type="text" class="slider" min="-1" name="contrast" value="0.3">
  <button id="brightness" class="photo-operation">Brightness</button>
</div>
<div>
  <label for="amount">Amount</label>
  <input type="text" class="slider" min="0" max="500" name="amount" value="13">
  <label for="radius">Radius</label>
  <input type="text" class="slider" min="0" max="5" name="radius" value="1.0">
  <label for="threshold">Threshould</label>
  <input type="text" class="slider" min="0" max="255" name="treshold" value="1.3">
  <button id="unsharpmask" class="photo-operation">Unsharp Mask</button>
</div>
<div>
  <label for="mono">Mono</label>
  <input name="mono" type="checkbox">
  <label for="invert">Invert</label>
  <input name="invert" type="checkbox">
  <button id="edges" class="photo-operation">Edge Detection</button>
</div>
<div>
  <button id="sepia" class="photo-operation">Sepia</button>
</div>
--!>
