{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}
{% trans "Datenschutz" as page_name %}

{% block title %}{{ page_name }}{% endblock %}

{% block name %}{{ page_name }}{% endblock %}

{% block non_interactive_content %}

	<article class="mp-textbox" id="privacy">
		<h3>{% trans "privacy-topic Datenschutzerklärung" %}</h3>
		<p>{% trans "privacy-topic Datenschutzerklärung -> description" %}</p>
		<h3>{% trans "privacy-topic Datenverarbeitung bei diesem Projekt" %}</h3>
		<p>{% trans "privacy-topic Datenverarbeitung bei diesem Projekt -> description" %}</p>
		<p>
			<strong>{% trans "privacy-subtopic Nutzung der email-Adresse" %}</strong>
			{% trans "privacy-subtopic Nutzung der email-Adresse -> description" %}
		</p>
		<div>
			<strong>{% trans "privacy-subtopic Nutzung des Namens" %}</strong>
			{% trans "privacy-subtopic Nutzung des Namens -> description" %}
			<aside>
				<h3>{% trans "privacy-sidenote Pseudonyme" %}</h3>
				{% trans "privacy-sidenote Pseudonyme -> description" %}.
			</aside>
		</div>
		<p>
			<strong>
				{% trans "privacy-topic Datenverarbeitung bei diesem Projekt -> guarantee" %}
			</strong>
		</p>
		<h3>{% trans "privacy-topic Webanalyse und Cookies" %}</h3>
		<p>
			{% trans "privacy-topic Webanalyse und Cookies -> description" %} <a href='{% trans "privacy-topic Webanalyse und Cookies -> link to wiki" %}'
			title='{% trans "link-title Wikipedia-Eintrag zu Cookies" %}'>{% trans "privacy-topic Webanalyse und Cookies -> name of link to wiki" %}</a>.
		</p>
		
		<h3 id="mp-emails">{% trans "privacy-topic Emails und Kontaktformulare" %}</h3>
		<p>{% trans "privacy-topic Emails und Kontaktformulare -> description" %}</p>
		<h3>{% trans "privacy-topic Auskunftsrecht" %}</h3>
		<p>
			{% trans "privacy-topic Auskunftsrecht -> description" %}<br />
			{% trans "privacy-topic Auskunftsrecht -> invitation to ask" %} <a href="/contact">{% trans "Kontaktformular" %}</a>.
		</p>
		<br /><br /><br /><br />
		<p>
			<img class="mp-construction" src="static/images/construction.png" title="Diese Seite ist noch in der Entwicklings-Phase">
		</p>
	</article>

{% endblock %}
