{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}
{% trans "Datenschutz" %}

{% block title %}{% trans "Datenschutz" %}{% endblock %}

{% block name %}{% trans "Richtlinien zum Datenschutz" %}{% endblock %}

{% block non_interactive_content %}

	<article class="mp-textbox" id="privacy">
		<h3>{% trans "privacy-topic Datenschutzerklärung" %}</h3>
		<p>{% trans "privacy-topic Datenschutzerklärung -> description" %}</p>
		<h3>{% trans "privacy-topic Datenverarbeitung bei diesem Projekt" %}</h3>
		<p>{% trans "privacy-topic Datenverarbeitung bei diesem Projekt -> description" %}</p>
		<p>
			<strong>{% trans "privacy-subtopic Nutzung der email-Adresse" %}</strong>
			{% trans "privacy-subtopic Nutzung der email-Adresse -> description" %}
		</p>
		<div>
			<strong>{% trans "privacy-subtopic Nutzung des Namens" %}</strong>
			{% trans "privacy-subtopic Nutzung des Namens -> description" %}
			<aside>
				<h3>{% trans "privacy-sidenote Pseudonyme" %}</h3>
				{% trans "privacy-sidenote Pseudonyme -> description" %}
			</aside>
		</div>
		<p>
			<strong>
				{% trans "privacy-topic Datenverarbeitung bei diesem Projekt -> guarantee" %}
			</strong>
		</p>
		<h3>{% trans "privacy-topic Cookies" %}</h3>
		<div>
			{% trans "privacy-topic Cookies -> cookie-introduction" %}
			<ol>
				<li>{% trans "privacy-topic Cookies - sessioncookie" %}</li>
				<li>{% trans "privacy-topic Cookies - 'visited'-cookie" %}</li>
			</ol>
		</div>
		<p>
			{% trans "privacy-topic Cookies -> redirection to wiki" %} <a href='{% trans "privacy-topic Cookies -> link to wiki" %}'
			title='{% trans "link-title Wikipedia-Eintrag zu Cookies" %}'>{% trans "privacy-topic Cookies -> name of link to wiki" %}</a>.
		</p>
		
		<h3 id="mp-emails">{% trans "privacy-topic Emails und Kontaktformulare" %}</h3>
		<div>
			<ol>
				<li>{% trans "privacy-topic Emails und Kontaktformulare list-item-1" %}</li>
				<li>{% trans "privacy-topic Emails und Kontaktformulare list-item-2" %}</li>
				<li>{% trans "privacy-topic Emails und Kontaktformulare list-item-3" %}</li>
				<li>{% trans "privacy-topic Emails und Kontaktformulare list-item-4" %}</li>
				<li>{% trans "privacy-topic Emails und Kontaktformulare list-item-5" %}</li>
			</ol>
		</div>
		<h3>{% trans "privacy-topic Auskunftsrecht" %}</h3>
		<p>
			{% trans "privacy-topic Auskunftsrecht -> paragraph1" %}
			<a href="/contact">{% trans "Kontaktformular" %}</a>.
			{% trans "privacy-topic Auskunftsrecht -> paragraph2" %}
		</p>
	</article>

{% endblock %}
