{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Password Reset Info" %}{% endblock %}

{% block name %}{% trans "Password Reset Info" %}{% endblock %}

{% block pageID %}passwordreset{% endblock %}

{% block non_interactive_content %}

{% if success %}
	<p>{% trans "PASSWORD_RESET_SUCCESS_NOTIFY" %}</p>
{% else %}
	<p>{% trans "PASSWORD_RESET_FAILURE_NOTIFY" %}</p>
{% endif %}

<p><a class="mp-button" href="/login">{% trans "Back to landingpage" %}</a></p>
	
{% endblock %}
