{% extends "dialog.html" %}

{% load i18n %} <!-- we always need to load i18n -->

{% block title %}{% trans "INSERT_PHOTO" %}{% endblock %}
  
{% block content %}
	<form class="mp-dialog-content" id="reset-user-password" method="post" action="/reset-user-password">
	  <div>
	    <label for="user-email">{% trans "Email" %} <sup title='{% trans "MANDATORY_FIELD" %}'>*</sup></label>
	    <input type="email" name="email" id="user-email" required="required" autofocus="autofocus" size="40" placeholder="{% trans 'INPUT_USER_RESET_EMAIL' %}" />
	  </div>
	</form>
	<p>{% trans "PASSWORD_RESET_HELP" %}</p>
{% endblock %}