{% extends "account.html" %}

{% load i18n %} <!-- we always need to load i18n -->

{% block name %}{% trans "Reset Password" %}{% endblock %}
  
{% block account_info %}
	<p>{% trans "RESET_PASSWORD_GIVE_EMAIL" %}</p>
{% endblock %}

{% block account_settings %}
<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p>
    	<label for="id_email">{% trans "Email" %}</label>
    	{{ form.email }}
    	<input type="submit" value="Reset password" />
    </p>
</form>
{% endblock %}