<html>
  <head>
    <script type="text/javascript" src="/static/js/lib/jquery-1.7.2-min.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.validate.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.tools.notabs.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery-ui-1.10.0.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/util/constants.js"></script>
    <script type="text/javascript" src="/static/js/lib/pixastic.custom.js"></script>

    <!-- HIER IST DEIN SANDBOX.JS -->
    <script type="text/javascript" src="/static/js/main/sandbox-marc.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/lib/overcast/jquery-ui-1.9.2.custom.css" />
    <style>
      img{
      max-width : 200px;
      max-height : 300px;
      }
      /*prevent the img from moving around */
      #container {
      width : 200px;
      height : 300px;
      }
      #photo2{
      visibility : hidden;
      }
    </style>
    {% load compress %}
    {% compress css %}
    <link rel="stylesheet" type="text/x-stylus" href="/static/css/viewalbum-main.styl"/>
    {% endcompress %}
  </head>
  <body>
    <div id="container">
      <img src="/static/test/photo1.jpg" id="photo1">
    </div>
    <img src="/static/test/photo2.jpg" id="photo2">
    <button id="start">Start</button>
  </body>

</html>
  
