<html>
	<head>
		<script type="text/javascript" src="/static/js/lib/jquery-1.7.2-min.js"></script>
		<script type="text/javascript" src="/static/js/lib/jquery.tools.no-jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/lib/jquery-ui-1.9.0.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/lib/pixastic.custom.js"></script>
		<script type="text/javascript" src="/static/js/main/sandbox-test.js"></script>
		<style type="text/css">
                  .preview { height: 500px; width: 300px;}
      .preview { border: 1px solid black; }

    	</style>
	</head>
	<body>


		<div>
			<img id="image" class="preview" src="/static/images/preview.png"/>
			<button id="sepia"> Sepia </button>
			<button id="revert"> Revert </button>

	</body>

</html>
