<html>
	<head>
		<script type="text/javascript" src="/static/js/lib/jquery-1.7.2-min.js"></script>
                <script type="text/javascript" src="/static/js/lib/jquery.validate.js"></script>
		<script type="text/javascript" src="/static/js/lib/jquery.tools.notabs.min.js"></script>
		<script type="text/javascript" src="/static/js/lib/jquery-ui-1.10.0.custom.min.js"></script>
	        <script type="text/javascript" src="/static/js/util/constants.js"></script>
		<script type="text/javascript" src="/static/js/lib/pixastic.custom.js"></script>
		<script type="text/javascript" src="/static/js/main/sandbox.js"></script>
                <script type="text/javascript" src="/static/js/ui/UIPhotoEditor.js"></script>
                <link rel="stylesheet" type="text/css" href="/static/css/lib/overcast/jquery-ui-1.9.2.custom.css" />
                {% load compress %}
                {% compress css %}
                <link rel="stylesheet" type="text/x-stylus" href="/static/css/viewalbum-main.styl"/>
                {% endcompress %}


	</head>
	<body>
          <div id="tabs">
            <ul>
              <li><a href="#tabs-1">Title & Description</a></li>
              <li><a href="#tabs-2">Photoeditor</a></li>
            </ul>
	    <div id="tabs-1">
	      <form class="jquery-validator mp-dialog" id="insert-photo" method="post" action="/insert-photo" enctype="multipart/form-data">

	        <input type="text" name="place" required="required" value="6"/>
	        <div>
		  <label for="title">Title <sup title="Dieses Feld ist ein Pflichtfeld.">*</sup></label>
		  <input class="mp-input-name" type="text" name="title" required="required"/>
	        </div>
	        <div>
		  <label for="description">Description</label>
		  <textarea type="text" name="description" cols="50" rows="5"></textarea>
	        </div>
	        <div>
		  <label name="file-upload" for="photo">Photo<sup title="Dieses Feld ist ein Pflichtfeld.">*</sup></label>
		  <input id="file-input" class="mp-input-drop" type="file" name="photo" required="required" size="40"/>
	        </div>

	        <button class="mp-button mp-single-upload" id="submit" value='' name="submit">Save</button>
	        <button class="mp-button mp-multiple-upload" value='' name="submit" >Save and next</button>
	      </form>
            </div>
            <div id="tabs-2">
              {% include "photo-editor.html" %}
            </div>
          </div>



	</body>
</html>
