{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Team" %}{% endblock %}

{% block name %}{% trans "Team" %}{% endblock %}

{% block non_interactive_content %}
	<h2>{% trans "Team" %}</h2>
	<section class="mp-content-interior-wrapper" id="contributors">
		<article class="mp-profile" id="frederik-claus">
			<h3>Frederik Claus</h3>
			<img class="mp-introduction-picture" src="/static/images/team/frederik.jpg" title="Frederik Claus" style="max-height: 100px;" />
			<ul>
				<li>{% trans "Name" %}:</li>
				<li class="mp-profile-text">Frederik Claus</li>
				<li>{% trans "Verantwortlich für" %}: </li>
				<li class="mp-profile-text">{% trans "Back End" %}, {% trans "Front End" %}, {% trans "Design" %}</li>
				<li>{% trans "Email" %}: </li>
				<li class="mp-profile-text">
              <span class="mp-email-jsenabled mp-nodisplay">12rtfjfr,.erFgv§r§r.t5z1c 5sBl3tAwageh-u"ryxsteRf@gmx2gswsFoffioosvsWgssfRlsfsSecfg2msab"asasTisasTltsg-.Löpyc.dewosasrm</span>
              <noscript>{% trans "EMAIL_ONLY_WITH_JS" %} <a href="/contact" style="text-decoration: underline">{% trans "Kontaktformular" %}</a></noscript>
            </li>
			</ul>
		</article>
		<article class="mp-profile" id="philipp-banhardt">
			<h3>Philipp Banhardt</h3>
			<img class="mp-introduction-picture" src="/static/images/team/philipp.jpg" title="Philipp Banhardt" style="max-height: 100px;" />
			<ul>
				<li>{% trans "Name" %}:</li>
				<li class="mp-profile-text">Philipp Banhardt</li>
				<li>{% trans "Verantwortlich für" %}: </li>
				<li class="mp-profile-text">{% trans "Back End" %}</li>
				<li>{% trans "Email" %}: </li>
				<li class="mp-profile-text">
              <span class="mp-email-jsenabled mp-nodisplay">ljukpztRRhsrw2issfRl25w6iwRR5pHnO0pOpÜ0b2242aFs TnNjDDhxyxyanGfhr98-jdGGGGtöloI@web.gkliPofsfNo.-8ighthdllötbemseamrwSsatstTilö2!l.des.dscLcpphJoläasm</span>
              <noscript>{% trans "EMAIL_ONLY_WITH_JS" %} <a href="/contact" style="text-decoration: underline">{% trans "Kontaktformular" %}</a></noscript>
            </li>
			</ul>
		</article>
		<article class="mp-profile" id="marc-leon-roemer">
			<h3>Marc-Leon Römer</h3>
			<img class="mp-introduction-picture" src="/static/images/team/marc.jpg" title="Marc-Leon Römer" style="max-height: 100px;" />
			<ul>
				<li>{% trans "Name" %}:</li>
				<li class="mp-profile-text">Marc-Leon Römer</li>
				<li>{% trans "Verantwortlich für" %}: </li>
				<li class="mp-profile-text">{% trans "Front End" %}, {% trans "Design" %}</li>
				<li>{% trans "Email" %}: </li>
				<li class="mp-profile-text">
              <span class="mp-email-jsenabled mp-nodisplay">asfRmffsWakh7ir66iocL89olBVgTexxdFothJPn-96jrIiIlodfdeeegdRmffsRek.8urllkö@yahggttR4msgsTassgTilopÖlQ902..de csgstolloPm</span>
              <noscript>{% trans "EMAIL_ONLY_WITH_JS" %} <a href="/contact" style="text-decoration: underline">{% trans "Kontaktformular" %}</a></noscript>
            </li>
			</ul>
		</article>
	</section>

{% endblock %}
