{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Team" %}{% endblock %}

{% block name %}{% trans "Team" %}{% endblock %}

{% block non_interactive_content %}
	<h2>{% trans "Team" %}</h2>
	<section class="mp-content-interior-wrapper" id="contributors">
		<article class="mp-profile" id="frederik-claus">
			<h3>Frederik Claus</h3>
			<img class="mp-introduction-picture" src="/static/images/profile.png" title="Frederik Claus" />
			<ul>
				<li>{% trans "Name" %}:</li>
				<li class="mp-profile-text">Frederik Claus</li>
				<li>{% trans "Email" %}:</li>
				<li class="mp-profile-text">f.v.claus <em>at</em> googlemail.com</li>
				<li>{% trans "Verantwortlich für" %}: </li>
				<li class="mp-profile-text">{% trans "Back End" %}, {% trans "Design" %}, {% trans "Ideen" %}</li>
				<li>{% trans "Motivation am Projekt" %}: </li>
				<li class="mp-profile-text"></li>
			</ul>
		</article>
		<article class="mp-profile" id="philipp-banhardt">
			<h3>Philipp Banhardt</h3>
			<img class="mp-introduction-picture" src="/static/images/profile.png" title="Philipp Banhardt" />
			<ul>
				<li>{% trans "Name" %}:</li>
				<li class="mp-profile-text">Philipp Banhardt</li>
				<li>{% trans "Email" %}:</li>
				<li class="mp-profile-text">philippbanhardt <em>at</em> googlemail.com</li>
				<li>{% trans "Verantwortlich für" %}: </li>
				<li class="mp-profile-text">{% trans "Back End" %}, {% trans "Design" %}, {% trans "Ideen" %}</li>
				<li>{% trans "Motivation am Projekt" %}: </li>
				<li class="mp-profile-text"></li>
			</ul>
		</article>
		<article class="mp-profile" id="marc-leon-roemer">
			<h3>Marc-Leon Römer</h3>
			<img class="mp-introduction-picture" src="/static/images/profile.png" title="Marc-Leon Römer" />
			<ul>
				<li>{% trans "Name" %}:</li>
				<li class="mp-profile-text">Marc-Leon Römer</li>
				<li>{% trans "Email" %}:</li>
				<li class="mp-profile-text">marcleonroemer <em>at</em> gmail.com</li>
				<li>{% trans "Verantwortlich für" %}: </li>
				<li class="mp-profile-text">{% trans "Front End" %}, {% trans "Design" %}, {% trans "Ideen" %}</li>
				<li>{% trans "Motivation am Projekt" %}: </li>
				<li class="mp-profile-text"></li>
			</ul>
		</article>
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<p>
			<img class="mp-construction" src="static/images/construction.png" title="Diese Seite ist noch in der Entwicklings-Phase">
		</p>
	</section>
		
{% endblock %}
