{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}Team{% endblock %}

{% block name %}{% trans "Projekt und Team" %}{% endblock %}

{% block non_interactive_content %}
	
	<h2>Projekt</h2>
	<article class="mp-textbox" id="project-introduction">Project-Introduction</article>
	<h2>Team</h2>
	<section class="mp-content-interior-wrapper" id="contributors">
		<article class="mp-textbox" id="frederik-claus">
			<h3>Legolas aka Frederik Claus</h3>
			<img class="mp-introduction-picture" src="" title="Frederik Claus" />
			<p class="mp-introduction-text">Legolas'-Profile</p>
		</article>
		<article class="mp-textbox" id="philipp-banhardt">
			<h3>Gambit aka Philipp Banhardt</h3>
			<img class="mp-introduction-picture" src="" title="Philipp Banhardt" />
			<p class="mp-introduction-text">Gambits-Profile</p>
		</article>
		<article class="mp-textbox" id="marc-leon-roemer">
			<h3>Harry Potter aka Marc-Leon Römer</h3>
			<img class="mp-introduction-picture" src="" title="Marc-Leon Römer" />
			<p class="mp-introduction-text">Harry Potters-Profile</p>
		</article>
		<br /><br /><br />
		<p>
			<img class="mp-construction" src="static/images/construction.png" title="Diese Seite ist noch in der Entwicklings-Phase">
		</p>
	</section>
		
{% endblock %}
