<div class="mp-invisible">
  <!-- the delete button will really only show the delete dialog, the confirm-delete will press the confirm buttton -->
  
  <!-- PHOTO -->
  <button class="mp-insert-photo"></button>
  <button class="mp-show-photo"></button>
  <button class="mp-update-photo"></button>
  <button class="mp-delete-photo"></button>
  <p id="test-photo-path">{{testphotopath}}</p>

  <!-- PLACE -->
  <button class="mp-insert-place"></button>  
  <button class="mp-show-place"></button>
  <button class="mp-update-place"></button>
  <button class="mp-delete-place"></button>

  <!-- ALBUM -->
  <button class="mp-insert-album"></button>
  <button class="mp-update-album"></button>
  <button class="mp-delete-album"></button>
  <button class="mp-show-album-share"></button>

  <!-- GENERAL -->
  <!-- this is needed to press the 'yes' button in the dialog form -->
  <button class="mp-confirm-delete"></button>

</div>
