<div class="mp-invisible">
  <!-- the delete button will really only show the delete dialog, the confirm-delete will press the confirm buttton -->
  
  <!-- PHOTO -->
  <button class="mp-insert-photo"></button>
  <button class="mp-show-photo"></button>
  <button class="mp-update-photo"></button>
  <button class="mp-delete-photo"></button>
  <p id="test-photo-mountain">{{ test_photo_mountain }}</p>
  <p id="test-photo-water">{{ test_photo_water }}</p>

  <!-- PLACE -->
  <button class="mp-insert-place"></button>  
  <button class="mp-show-place"></button>
  <!-- <button class="mp-update-place"></button> -->
  <!-- <button class="mp-delete-place"></button> -->
  <button class="mp-mouseover-place"></button>

  <!-- ALBUM -->
  <button class="mp-insert-album"></button>
  <!-- <button class="mp-update-album"></button> -->
  <!-- <button class="mp-delete-album"></button> -->
  <button class="mp-mouseover-album"></button>
  <button class="mp-show-album-share"></button>

  <!-- GENERAL -->
  <!-- this is needed to press the 'yes' button in the dialog form -->
  <button class="mp-confirm-delete"></button>
  <button id="mp-test-reset"></button>
</div>
