{% extends "dialog.html" %}

{% load i18n %} <!-- we always need to load i18n -->

{% block title %}{% trans "UPDATE_PLACE" %}{% endblock %}
  
{% block content %}

<form class="mp-dialog-content" name="update-album" action="/update-place" method="post">
  <input type="hidden" name="id" value="" />
  <div>
    <label for="title">{% trans "NAME" %} <sup title="{% trans 'MANDATORY_FIELD' %}">*</sup></label> 
    <input class="mp-input-name" type="text" name="title" required="required" size="40" />
  </div>	
  <div>
    <label for="description">{% trans "DESCRIPTION" %}</label>
    <textarea type="text" name="description" cols="50" rows="5"></textarea>
  </div>
</form>

{% endblock %}
