<div class="insert">
	<form class="jquery-validator mp-dialog" name="update-album" action="/update-photo" method="post">
		<input type="hidden" name="id" required="required" />
		<input type="hidden" name="order" />
		<div>
			<label for="title">Name <sup title="Dieses Feld ist ein Pflichtfeld.">*</sup></label> 
			<input type="text" name="title"/>
		</div>	
		<div>
			<label for="description">Beschreibung</label>
			<textarea name="description" cols="50" rows="5"></textarea>
		</div>	
		<br /><br />
		<input type="submit" value="Ändern" name="submit" />
	</form>
</div>



