{% load i18n %}
<!-- <div <\!-- id="mp-share" -\-> class="mp-dialog-content"> -->
<div class="mp-dialog-content">
  <h2>Update Album Password</h2>
  <form class="jquery-validator mp-dialog-content" method="post" action="/update-album-password">
    <input type="hidden" name="place" required="required"/>
    <label for="album-password">New Password</label>
    <input name="album-password" type="password" required="required"/>
    <input type="submit" class="mp-button" />
  </form>
  <!-- <span <\!-- class="mp-share-overlay" rel="#mp-share" -\->></span> -->
  <p>
    <input name="share" disabled="disabled"/>
    <button id="mp-copy-share"> {% trans "mp-copy-link-title" %}</button>
  </p>
  <aside>
    <p>
      <strong>{% trans "How to Share" %}</strong>
    </p>
    <p>
      {% trans "How to Share -> description" %}
    </p>
    <p>
      <strong>{% trans "How to Share -> attention!" %}</strong>
    </p>
  </aside>
</div>
