{% extends "dialog.html" %}

{% load i18n %}

{% block title %}{% trans "UPDATE_ALBUM_PASSWORD" %}{% endblock %}

{% block content %}
<div class="mp-dialog-content">
  <p>
    <input name="share" disabled="disabled"/>
    <button id="mp-copy-share"> {% trans "mp-copy-link-title" %}</button>
  </p>
  <form class="jquery-validator" method="post" action="/update-album-password">
    <input type="hidden" name="album" required="required"/>
    <label for="password">New Password</label>
    <input name="password" type="password" required="required"/>
  </form>

  <aside>
    <p>
      <strong>{% trans "How to Share" %}</strong>
    </p> 
    <p>
      {% trans "How to Share -> description" %}
    </p>
    <p>
      <strong>{% trans "How to Share -> attention!" %}</strong>
    </p>
  </aside>
</div>
{% endblock %}
