{% extends "dialog.html" %}

{% load i18n %}

{% block title %}{% trans "UPDATE_ALBUM_PASSWORD" %}{% endblock %}

{% block content %}
<div class="mp-dialog-content">
  <div>
    <p style="width: 3em; max-width: 10%; float: left;">URL:</p>
    <p style="max-width: 90%; float: left; text-align: left;">
    	<a id="album-url" href="#" title='{% trans "Album share url" %}'>Here should be the url!</a>
	</p>  
  </div>
  <hr style="clear: both;"/>
  <button id="mp-open-album-share-help">{% trans "INPUT_SHARE_ALBUM_TITEL" %}</button>
  <button id="mp-open-album-password-form">{% trans "Assign new album password" %}</button>
  <hr />
  <article id="mp-album-share-help">
    <p>
      <strong>{% trans "INPUT_SHARE_ALBUM_TITEL" %}</strong>
    </p> 
    <p>
      {% trans "INPUT_SHARE_ALBUM_INFO" %}
    </p>
  </article>
  <form id="mp-album-password-form" class="jquery-validator" name="update-album-password" method="post" action="">
    <label for="album-password">{% trans "New Password" %}</label>
    <input id="album-password" name="password" type="password" required="required" placeholder="{% trans 'INPUT_PLACEHOLDER_SHARE_PASSWORD' %}"/>
  </form>
</div>
{% endblock %}
