{% extends "base-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Albumsansicht" %}{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/x-stylus" href="static/css/viewalbum-main.styl" />
{% endblock %}

{% block js_interactive %}
	
	<script type="text/javascript" src="static/js/ui/UIFullscreen.js" ></script>
	<script type="text/javascript" src="static/js/ui/UISlideshow.js" ></script>
	<script type="text/javascript" src="static/js/ui/UIGallery.js" ></script>
	
	<script type="text/javascript" src="static/js/ui/album/UI.js" ></script>

	<script type="text/javascript" src="static/js/util/album/ClientServer.js" ></script>
	<script type="text/javascript" src="static/js/util/file-upload.js" ></script>

	<script type="text/javascript" src="static/js/model/Place.js" ></script>	
	<script type="text/javascript" src="static/js/model/Photo.js" ></script>
	
	<script type="text/javascript" src="static/js/main/view-album.js" ></script>

{% endblock %}

{% block options %}
	{% trans "link-title-dashboard" as dashboard_link %}
	<a class="mp-option-to-dashboard mp-controls" href="/dashboard" title='{{ dashboard_link }}'>{{ dashboard_link }}</a> 
	<span class="mp-option-toggle-gallery mp-controls" title='{% trans "Toggle Gallery"%}'><span class="mp-gallery-hidden">{% trans "Show Gallery" %}</span><span class="mp-gallery-visible">{% trans "Hide Gallery" %}</span></span>
{% endblock %}

{% block slideshow/??? %}
	<section class="mp-slideshow" id="mp-slideshow">
	  <div class="mp-slideshow-info">
       <span class="mp-photo-title mp-option-information">No Title</span>
     </div>
     <div class="mp-slideshow-inner">
       <div class="mp-slideshow-nav column">
	      <img class="mp-slideshow-nav-prev mp-control" src="static/images/album-arrow-left.png" title='{% trans "Previous Image" %}'></img>
       </div>
	    <div class="mp-slideshow-image column">
	      <img class="mp-current-image"></img>
	    </div>
       <div class="mp-slideshow-nav column">
   	   <img class="mp-slideshow-nav-next mp-control" src="static/images/album-arrow-right.png" title='{% trans "Next Image" %}'></img>
       </div>
       <span class="mp-image-number"></span>
     </div>
	</section>
{% endblock %}
{% block gallery/news-feed %}
	<section class="mp-gallery" id="mp-gallery">
		<div class="mp-title-bar mp-nodisplay">
		  <span class="mp-gallery-controls">
			 <img class="mp-option-add mp-control" src="static/images/add.png" title='{% trans "Add Image" %}'></img>
        </span>  
      <span class="mp-place-title mp-option-information">No Title</span>
		</div>
      <div class="mp-gallery-nav column" id="mp-gallery-left-nav">
        <img class="mp-gallery-nav-prev mp-control" src="static/images/album-arrow-left.png" title='{% trans "Previous Page" %}'></img>
      </div>
      <div class="mp-gallery-main column" id="mp-gallery-main">
        <div class="mp-gallery-thumbs" id="mp-gallery-thumbs">
          <div class="mp-gallery-inner" id="mp-gallery-inner">
          </div>
		  </div>
      </div>
      <div class="mp-gallery-nav column" id="mp-gallery-right-nav">
        <img class="mp-gallery-nav-next mp-control" src="static/images/album-arrow-right.png" title='{% trans "Next Page" %}'></img>
      </div>
	</section>
{% endblock %}



{% block content_interactive %}

	
	<!-- jqote2 templates for gallery and fullscreen -->
	<script id="galleryTmpl" type="text/html">
	  <div class="mp-thumb-page">
       <% for (thumb in this.thumbAddress) { %>
	    <img class="sortable mp-thumb mp-control" src="<%= this.thumbAddress[thumb] %>"></img>
	    <% }; %>
     </div>
	</script>

	<script id="galleryFullscreenTmpl" type="text/html">
		<div id="mp-image-overlay" class="mp-image-overlay">
			<img class="mp-loading"></img>
			<img class="mp-image-zoom" src="static/images/zoom.png" ></img>
			<img class="mp-image-full" src="<%= this.tmplPhotoData.source %>" style="display:none;"></img>
			<div class="mp-image-overlay-desc">
				<div class="mp-image-nav">
					<img class="mp-image-nav-prev mp-control" src="static/images/image-arrow-left.png" ></img>
					<img class="mp-image-nav-next mp-control" src="static/images/image-arrow-right.png" ></img>
					<img class="mp-image-overlay-close mp-control" src="static/images/close.png" ></img>
				</div>
				<h2 class="mp-label"><%= this.tmplPhotoData.description %></h2>
			</div>
		</div>
	</script>

	
	<!-- helpers for selenium ide. remove from production system -->
	<div class="mp-invisible">
		<button class="mp-insert-place"></button>
		<button class="mp-show-place"></button>
		<button class="mp-show-photo"></button>
		<button class="mp-update-place"></button>
		<button class="mp-update-photo"></button>
		<button class="mp-delete-place"></button>
		<button class="mp-delete-photo"></button>
		<p id="test-photo-path">{{testphotopath}}</p>
	</div>
	

{% endblock %}
