{% extends "base-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Albumsansicht" %}{% endblock %}

{% block js %}
	
	<script type="text/javascript" src="static/js/ui/UIFullscreen.js" ></script>
	<script type="text/javascript" src="static/js/ui/UISlideshow.js" ></script>
	<script type="text/javascript" src="static/js/ui/UIAlbum.js" ></script>

	<script type="text/javascript" src="static/js/ui/UIInformation.js" ></script>
	
	<script type="text/javascript" src="static/js/ui/UIGallery.js" ></script>
	<script type="text/javascript" src="static/js/ui/UITest.js" ></script>
	
	<script type="text/javascript" src="static/js/ui/album/UI.js" ></script>
	
	<script type="text/javascript" src="static/js/util/ClientState.js" ></script>
	<script type="text/javascript" src="static/js/util/album/ClientServer.js" ></script>
	
	<script type="text/javascript" src="static/js/main/Main.js" ></script>
	<script type="text/javascript" src="static/js/model/Place.js" ></script>	
	<script type="text/javascript" src="static/js/model/Photo.js" ></script>
	
	<script type="text/javascript" src="static/js/main/view-album.js" ></script>

{% endblock %}

{% block options %}
	{% trans "link-title-dashboard" as dashboard_link %}
	<a class="mp-option-to-dashboard mp-controls" href="/dashboard" title='{{ dashboard_link }}'>{{ dashboard_link }}</a> 
	<span class="mp-option-toggle-gallery mp-controls" title='{% trans "control-title toggle gallery"%}'><span class="mp-gallery-hidden">{% trans "Show Gallery" %}</span><span class="mp-gallery-visible">{% trans "Hide Gallery" %}</span></span>
{% endblock %}

{% block content_interactive %}
	
	<section class="mp-map" id="mp-map">
		<div class="mp-map-container">
			<div class="mp-map-wrapper" id="map"></div>
			<img class="mp-option-center" src="static/images/center.png" title="Karte auf ausgewählten Platz zentrieren."></img>
		</div>
		<div id="mp-description">
			<img class="mp-description-overlay-close mp-control" src="static/images/close.png"></img>
			<div class="mp-font mp-description-title">
				<span class="mp-font mp-image-number"></span>
				<span>{% trans "Beschreibung" %}</span>
			</div>
			<div class="mp-font mp-description-wrapper">
				<div class="force-scroll">
					<p></p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="mp-album" id="mp-album">
		<div class="mp-gallery-title-bar">
			<span class="mp-place-title mp-option-information"></span>
			<span class="mp-photo-title"> | <span class="mp-option-information"></span></span>
		</div>
		<img class="mp-image-loading-small" id="mp-image-loading-small" src="static/images/ajax-loader.gif"></img>
		<div class="mp-album-wrapper" id="mp-album-wrapper">
		</div>
		<div class="mp-slideshow-background"></div>
		<div class="mp-slideshow" id="mp-slideshow">
			<div class="mp-album-nav">
				<img class="mp-album-nav-prev mp-control" src="static/images/album-arrow-left.png"></img>
				<img class="mp-album-nav-next mp-control" src="static/images/album-arrow-right.png"></img>
			</div>
			<div class="mp-album-image">
				<img class="mp-album-zoom" src="static/images/magnify.png"></img>
				<img class="mp-current-image"></img>
			</div>
			<img class="mp-slideshow-close mp-control" src="static/images/close.png"></img>
		</div>
	</section>
	
	<!-- jqote2 templates for gallery and fullscreen and progress bar-->
	<script id="galleryTmpl" type="text/html">
	<div class="mp-gallery-outer">
		<div class="mp-gallery">
			<% for (thumb in this.thumbAddress) { %>
			<img class="overlay-description sortable mp-control" src="<%= this.thumbAddress[thumb] %>"></img>
			<% }; %>
			<% if this.isInteractive {%>
				<img class="mp-option-add mp-control" src="static/images/add.png" title={% trans "control-title add-photo" %}></img>
			<%  }; %>
		</div>
	</div>
	</script>

	<script id="galleryFullscreenTmpl" type="text/html">
		<div id="mp-image-overlay" class="mp-image-overlay">
			<img class="mp-loading"></img>
			<img class="mp-image-zoom" src="static/images/zoom.png" ></img>
			<img class="mp-image-full" src="<%= this.tmplPhotoData.source %>" style="display:none;"></img>
			<div class="mp-image-overlay-desc">
				<div class="mp-image-nav">
					<img class="mp-image-nav-prev mp-control" src="static/images/image-arrow-left.png" ></img>
					<img class="mp-image-nav-next mp-control" src="static/images/image-arrow-right.png" ></img>
					<img class="mp-image-overlay-close mp-control" src="static/images/close.png" ></img>
				</div>
				<h2 class="mp-label"><%= this.tmplPhotoData.description %></h2>
			</div>
		</div>
	</script>
	<script id="progressBarTmpl" type="text/html">
		<div id="mp-progress-bar-<%= this.bar %>" class="mp-progress-bar-wrapper">
			<span class=".mp-progress-bar-outer"><span class="mp-progress-bar"></span></span><em class="mp-progress-info"></em>
		</div>
	</script>

	
	<!-- helpers for selenium ide. remove from production system -->
	<div class="mp-invisible">
		<button class="mp-insert-place"></button>
		<button class="mp-show-place"></button>
		<button class="mp-show-photo"></button>
		<button class="mp-update-place"></button>
		<button class="mp-update-photo"></button>
		<button class="mp-delete-place"></button>
		<button class="mp-delete-photo"></button>
		<p id="test-photo-path">{{testphotopath}}</p>
	</div>
	

{% endblock %}
