{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Account" %}{% endblock %}

{% block name %}{% trans "DELETE_ACCOUNT" %}{% endblock %}

{% block non_interactive_content %}

<div id="mp-account-settings" class="">
  <p><strong>{% trans "DELETE_ACCOUNT_INFO" %}</strong></p>
  <div style="width:50%">
    <form class="mp-form" method="POST" action="">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      {{ form.non_field_errors }}
      <p>
        <label for="user-email">{% trans "Email" %} <sup title='{% trans "MANDATORY_FIELD" %}'>*</sup></label>
        <input type="email" name="user_email" id="user-email" required="required" size="40" autofocus="autofocus" placeholder="{% trans 'USER_EMAIL_PLACEHOLDER' %}" data-required value="{{ form.data.user_email }}"/>
        {{ form.user_email.errors }}

      </p>
      <p>
        <label for="user-password">{% trans "Password" %} <sup title='{% trans "MANDATORY_FIELD" %}'>*</sup></label>
        <input type="password" name="user_password" id="user-password" required="required" size="40" placeholder="{% trans 'USER_PASSWORD_PLACEHOLDER' %}" data-required value="{{ form.data.user_password }}"/>
        {{ form.user_password.errors }}
      </p>
      <p>
        <input id="cause_testing" type="radio" name="cause" value="{% trans 'DELETION_FORM_CAUSE_TESTING' %}" />{% trans "DELETION_FORM_CAUSE_TESTING" %}<br />
        <input id="cause_alternative" type="radio" name="cause" value="{% trans 'DELETION_FORM_CAUSE_ALTERNATIVE' %}" />{% trans 'DELETION_FORM_CAUSE_ALTERNATIVE' %}<br />
        <input id="cause_service" type="radio" name="cause" value="{% trans 'DELETION_FORM_CAUSE_SERVICE' %}" />{% trans 'DELETION_FORM_CAUSE_SERVICE' %}<br />
        <input id="cause_usage" type="radio" name="cause" value="{% trans 'DELETION_FORM_CAUSE_USAGE' %}" />{% trans 'DELETION_FORM_CAUSE_USAGE' %}<br />
        <input id="cause_limitations" type="radio" name="cause" value="{% trans 'DELETION_FORM_CAUSE_LIMITATIONS' %}" />{% trans 'DELETION_FORM_CAUSE_LIMITATIONS' %}<br />
        <input id="cause_need" type="radio" name="cause" value="{% trans 'DELETION_FORM_CAUSE_NEED' %}" />{% trans 'DELETION_FORM_CAUSE_NEED' %}<br />
        <input id="cause_like" type="radio" name="cause" value="{% trans 'DELETION_FORM_CAUSE_LIKE' %}" />{% trans 'DELETION_FORM_CAUSE_LIKE' %}
      </p>
      <p>
        <label id="cause-label" for="cause_message">{% trans "DELETION_FORM_CAUSE_MESSAGE" %}</label>
        <textarea id="cause_message" name="cause_message" rows="5"></textarea>
      </p>
      <p>
      <p>
        <input type="submit" class="mp-form-submit mp-settings-form-submit" value='{% trans "Delete Account" %}' />
      </p>
    </form>
    </div>
</div>

{% endblock %}
