{% extends "account/base.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block name %}
	{% if validlink %}
		{% trans "Define New Password" %}
	{% else %}
		{% trans "Link Invalid" %}
	{% endif %}

{% endblock %}

{% block account_info %}

    {% if validlink %}
        <p>{% trans "RESET_PASSWORD_GIVE_NEW_PASSWORD" %}</p>
        <form class="mp-form" action="" method="post">
            <div class="mp-nodisplay">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div>
                <p>
                	<p>{{ form.new_password1.errors }}</p>
                    <p>
                        <label for="id_new_password1">{% trans "New Password" %} <sup title='{% trans "MANDATORY_FIELD" %}'>*</sup></label>
                    </p>
                    <p>{{ form.new_password1 }}</p>
                </p>
                <p>
                	<p>{{ form.new_password2.errors }}</p>
                    <p>
                        <label for="id_new_password2">{% trans "Repeat New Password" %} <sup title='{% trans "MANDATORY_FIELD" %}'>*</sup></label>
                    </p>
                    <p>{{ form.new_password2 }}</p>
                </p>
                <p>
                    <input class="mp-form-submit" type="submit" value='{% trans "Save" %}' />
                </p>
            </div>
        </form>
    {% else %}
        <h1>{% trans "RESET_PASSWORD_ERROR" %}</h1>
        <p>{% trans "RESET_PASSWORD_ERROR_EXPLANATION" %}</p>
    {% endif %}
	
{% endblock %}
