{% extends "index.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block keiken_intro %}
  <div class="mp-guest-login-explain">{% trans "KEIKEN_GUEST_LOGIN" %}</div>
  <form class="mp-guest-login jquery-validator" method="post" action="">
    <p>
      <input type="password" id="guest-password" name="album_password" placeholder='{% trans "Enter password..." %}' autofocus="autofocus"/>
      <input class="submit-guest-password" type="submit" value='{% trans "View Album" %}' />
    </p>
    <p> {{ password_incorrect_error }} </p>
  </form>
{% endblock %}