{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
<!-- pull in the compiled css from base.html -->
{{ block.super }}
{% load compress %}
{% compress css %}
<link rel="stylesheet"
      type="text/x-stylus"
      href="/static/styles/viewalbum-main.styl" />
{% endcompress %}
{% endblock %}


{% block js %}
<!-- pull in the compressed javascript from base.html -->
{{ block.super }}
{% load compress %}
{% compress js %}
<script type="text/javascript"
        src="/static/js/lib/jquery.jqote2.js"></script>
<script type="text/javascript"
        src="/static/js/lib/jquery.hotkeys.js"></script>
<script type="text/javascript"
        src="/static/js/keiken/main/dashboard.js"></script>
<!-- Feature currently disabled -->
<!-- <script type="text/javascript" src="/static/js/lib/pixastic.custom.js"></script> -->
<!-- <script type="text/javascript" src="/static/js/lib/jquery.mousewheel.min.js" ></script> -->
{% endcompress %}
{% endblock %}


{% block content %}

<section id="app" />

{% if not compress_enabled %}
<script type="text/javascript">
  var dojoConfig = {
    async: true
  };

</script>
<script type="text/javascript">
  var dojoConfig = {
    async: true,
    isDebug: true,
    packages: [{
        name: "keiken",
        location: "/static/js/keiken"
      },
      {
        name: "dojo",
        location: "/static/dojo"
      },
      {
        name: "dijit",
        location: "/static/dijit"
      },
      {
        name: "dojox",
        location: "/static/dojox"
      }
    ]
  }

</script>
<script type="text/javascript"
        src="{% static 'dojo/dojo.js' %}"></script>

<script type="text/javascript"
        src="{% static 'js/keiken/main/init.js' %}"></script>

{% else %}
<script type="text/javascript">
  var dojoConfig = {
    baseUrl: "/static/CACHE/js/",
    async: true
  };

</script>
<script type="text/javascript"
        src="/static/CACHE/js/main.js"> </script>
<script type="text/javascript">
  require(["keiken/main/init"], function() {});

</script>
{% endif %}
{% endblock %}
