{% extends "base-non-interactive.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block title %}{% trans "Willkommen" %}{% endblock %}

{% block name %}{% trans "Willkommen" %}{% endblock %}

{% block pageID %}landingpage{% endblock %}

{% block background_image %}
<!-- if passed along the "day"-parameter gives the current weekday from sunday = 0 to saturday = 6; each day there is a different background -->
{% if day %}
<img src="/static/images/backgrounds/bg{{ day }}.jpg"
     class="background-image" />
{% else %}
<img src="/static/images/backgrounds/bg0.jpg"
     class="background-image" />
{% endif %}
<div class="background-overlay-black"></div>
{% endblock %}

{% block non_interactive_content %}

<section id="keiken-intro"
         class="keiken-intro">
  <h2><span>{% trans "Welcome to KEIKEN!" %}</span></h2>
  <span>{% trans "KEIKEN_ABSTRACT" %}</span>
  {% block keiken_intro %}
  <div class="mp-landing-page-links">
    {% if user.is_authenticated %}
    <p>
      <a href="{% url 'dashboard' %}"
         class="mp-landingpage-button"
         value='{% trans "TO_DASHBOARD" %}'>
        {% trans "TO_DASHBOARD" %}
      </a>
    </p>
    {% else %}
    <p>
      <!-- TODO This does not work -->
      <a href='{% url "registration_register" %}'
         class="mp-landingpage-button">{% trans "VIEW_ALBUM" %}</a>
    </p>
    <p>
      <a href='{% url "login_test_user" %}'
         class="mp-landingpage-button">{% trans "TRY_KEIKEN" %}</a>
    </p>
    {% endif %}
  </div>
  {% endblock %}
</section>

{% endblock %}
