<section class="mp-fullscreen"
         id="mp-fullscreen">
  <img class="mp-image-zoom"
       src="/static/images/zoom.png"
       data-dojo-attach-point="zoomNode"></img>
  <header class="mp-fullscreen-header"
          id="mp-fullscreen-header">
    <div class="mp-fullscreen-nav">
      <img class="mp-cursor-pointer mp-control"
           src="/static/images/image-arrow-left.png"
           data-dojo-attach-point="navLeftNode"
           data-dojo-attach-event="onclick: _navigateLeft"></img>
    </div>
    <div class="mp-fullscreen-title-wrapper">
      <h2 id="mp-fullscreen-title"
          data-dojo-attach-point="titleNode"></h2>
    </div>
    <div class="mp-fullscreen-nav">
      <img class="mp-cursor-pointer mp-control"
           src="/static/images/image-arrow-right.png"
           data-dojo-attach-point="navRightNode"
           data-dojo-attach-event="onclick: _navigateRight"></img>
    </div>
    <div class="mp-fullscreen-close mp-cursor-pointer"
         id="mp-fullscreen-close"
         data-dojo-attach-point="closeNode"
         data-dojo-attach-event="onclick: hide">
      {% trans "close" %}
    </div>
  </header>
  <div data-dojo-attach-point="carouselNode">
  </div>
</section>
