<section class="mp-gallery"
         id="mp-gallery">
  <div class="mp-nodisplay"
       id="mp-gallery-thumbs">
  </div>
  <div class="mp-gallery-nav column"
       id="mp-gallery-left-nav">
    <span>
      <img class="mp-cursor-pointer mp-control"
           id="mp-gallery-nav-left"
           src="/static/images/album-arrow-left.png"
           data-dojo-attach-point="navLeftNode"
           data-dojo-attach-event="onclick: _navigateLeft"></img>
    </span>
  </div>
  <!-- photo: .mp-thumb mp-cursor-pointer mp-control !-->
  <!-- loader: .mp-gallery-loader !-->
  <div data-dojo-attach-point="carouselNode">
  </div>
  <div class="mp-gallery-nav column"
       id="mp-gallery-right-nav">
    <span>
      <img class="mp-cursor-pointer mp-control"
           id="mp-gallery-nav-right"
           src="/static/images/album-arrow-right.png"
           data-dojo-attach-point="navRightNode"
           data-dojo-attach-event="onclick: _navigateRight"></img>
    </span>
    {% if _isAdmin %}
    <span>
      <img class="mp-option-insert-photo mp-cursor-pointer mp-control mp-nodisplay"
           src="/static/images/add.png"
           data-dojo-attach-point="insertNode"
           data-dojo-attach-event="onclick: _insert"></img>
    </span>
    {% endif %}
  </div>
  <div data-dojo-type="keiken/widget/InfoTextWidget"
       data-widget-instance-name="_infoText"></div>
</section>
