<section class="mp-gallery" id="mp-gallery">
  <div class="mp-nodisplay" id="mp-gallery-thumbs">
  </div>
  <div class="mp-gallery-nav column" id="mp-gallery-left-nav">
    <span>
      <img class="mp-cursor-pointer mp-control" id="mp-gallery-nav-left" src="/static/images/album-arrow-left.png" title='${messages.previousPage}' data-dojo-attach-point="navLeftNode" />
    </span>
    <span>
      <img class="mp-open-full-gallery mp-cursor-pointer mp-control mp-nodisplay" src="/static/images/openEdit.png" title='${messages.openAdminGallery}' data-dojo-attach-point="openNode"/>
    </span>
  </div>
  <div class="mp-gallery-inner column" id="mp-gallery-inner" data-dojo-attach-point="innerNode">
    <div class="mp-gallery-tile" data-dojo-attach-point="tileNode">
      <!-- hide img tag while page loads. mp-nodisplay is overwritten by mp-thumb -->
      <img class="mp-gallery-loader mp-light-loader mp-nodisplay" src="/static/images/light-loader.gif" />
      <img class="mp-thumb mp-cursor-pointer mp-control" />
      <img class="mp-thumb-visited" src="/static/images/visited.png" />
    </div>
  </div>
  <div class="mp-gallery-nav column" id="mp-gallery-right-nav">
    <span>
      <img class="mp-cursor-pointer mp-control" id="mp-gallery-nav-right" src="/static/images/album-arrow-right.png" title='${messages.nextPage}' data-dojo-attach-point="navRightNode"/>
    </span>
    <span>
      <img class="mp-option-insert-photo mp-cursor-pointer mp-control mp-nodisplay" src="/static/images/add.png" title='${messages.insertPhoto}' data-dojo-attach-point="insertNode" />
    </span>
  </div>
</section>
