<section class="mp-gallery"
         id="mp-gallery">
  <div class="mp-nodisplay"
       id="mp-gallery-thumbs">
  </div>
  <div class="mp-gallery-nav column"
       id="mp-gallery-left-nav">
    <span>
      <img class="mp-cursor-pointer mp-control"
           id="mp-gallery-nav-left"
           src="/static/images/album-arrow-left.png"
           title='${messages.previousPage}'
           data-dojo-attach-point="navLeftNode" />
    </span>
  </div>
  <!-- photo: .mp-thumb mp-cursor-pointer mp-control !-->
  <!-- loader: .mp-gallery-loader !-->
  <!-- .mp-thumb-visited /static/images/visited.png!-->
  <div class="mp-gallery-inner column"
       data-dojo-attach-point="carouselNode">
  </div>
  <div class="mp-gallery-nav column"
       id="mp-gallery-right-nav">
    <span>
      <img class="mp-cursor-pointer mp-control"
           id="mp-gallery-nav-right"
           src="/static/images/album-arrow-right.png"
           title='${messages.nextPage}'
           data-dojo-attach-point="navRightNode" />
    </span>
    {% if _isAdmin %}
    <span>
      <img class="mp-option-insert-photo mp-cursor-pointer mp-control mp-nodisplay"
           src="/static/images/add.png"
           title='${messages.insertPhoto}'
           data-dojo-attach-point="insertNode" />
    </span>
    {% endif %}
  </div>
</section>
