<section class="mp-slideshow">
  <div class="mp-slideshow-carousel-wrapper">
    <div class="mp-slideshow-nav">
      <img class="mp-cursor-pointer mp-control"
           id="mp-slideshow-nav-prev"
           data-dojo-attach-point="navLeftNode"
           data-dojo-attach-event="onclick: _navigateLeft"
           src="/static/images/album-arrow-left.png" />
    </div>
    <div data-dojo-attach-point="carouselNode">
    </div>
    <div class="mp-slideshow-nav">
      <img class="mp-cursor-pointer mp-control"
           id="mp-slideshow-nav-next"
           data-dojo-attach-point="navRightNode"
           data-dojo-attach-event="onclick: _navigateRight"
           src="/static/images/album-arrow-right.png" />
    </div>
  </div>
  <div class="mp-slideshow-info">

    <span class="mp-image-number"
          data-dojo-attach-point="photoNumberNode">
    </span>
  </div>
  <div data-dojo-type="keiken/widget/InfoTextWidget"
       data-widget-instance-name="_infoText"></div>
</section>
