{% extends "account/base.html" %}

<!-- for the translation with django -->
{% load i18n %}

{% block name %}{% trans "REGISTRATION" %}{% endblock %}

{% block account_info %}
<h2>{% trans "Registration Information" %}</h2>
<p>{% trans "REGISTRATION_INFO" %}</p>
{% endblock %}

{% block account_settings %}
<form class="mp-form"
      action="{% url 'registration_register' %}"
      method="post">
  {% csrf_token %}
  <h2>{% trans "Registration" %}</h2>

  <p class="mp-form-errors">
    {{ form.non_field_errors}}
  </p>
  {% for field in form %}
  <p>
    {{ field.label_tag }}
    {{ field }}
    {{ field.errors}}
  </p>
  {% endfor %}
  <p>
    <input class="mp-form-submit"
           type="submit"
           name="register"
           value='{% trans "Sign Up" %}' />
  </p>
</form>

{% endblock %}
