centerWithTranslate()
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  display: inline



#testBody
  margin: 10px
  padding: 5px
  border: 1px solid black
  height: 500px
  position: relative

#DetailWidgetWithChildren
  height: 100%

  & .mp-description
    &__container
      text-align: center
      height: 50%
    &__short-description
      height: 50%


#PhotoCarouselWidget
  height: 200px
  display: flex
  flex-direction: row
  justify-content: flex-start
  & > .mp-carousel-photo-wrapper
    flex-basis: 18%
    height: 100%
    position: relative
    display: inline-block
    text-align: center
    & > .mp-carousel-photo
      max-height: 95%
      max-width: 95%
      centerWithTranslate()
    & > .mp-carousel-photo-loader
      centerWithTranslate()

#CarouselAnimation-transform
  position: relative
  height: 100%
  width: 100%
  > .mp-carousel-animation-item
    width: 200px
    height: 200px
    display: block
    background-color: red
    centerWithTranslate()
    // transition-timing-function: linear
    // transition: transform .5s ease
    // transition-property: all
    // animation: slidein 2s infinite
  > .mp-carousel-animation-loader
    width: 20px
    height: 20px
    animation: rotate 2s infinite
    border: 1px solid black
    centerWithTranslate()
    display: none

#CarouselAnimation-flex
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  width: 100%
  > .mp-carousel-animation-item
    width: 200px
    height: 200px
    display: block
    background-color: red
  > .mp-carousel-animation-loader
    width: 20px
    height: 20px
    animation: rotate 2s infinite
    border: 1px solid black
    display: none



@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  50% {
    transform: rotate(180deg)
  }
  to {
    transform: rotate(360deg)
  }
}

@keyframes slidein {
  from {
    transform: matrix(1, 0, 0, 1, -100, -100);
  }
  to {
    transform: matrix(0.01, 0, 0, 1, -100, -100);
  }
}
