centerWithTranslate()
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  display: inline



#testBody
  margin: 10px
  padding: 5px
  border: 1px solid black


#PhotoCarouselWidget
  height: 200px
  display: flex
  flex-direction: row
  justify-content: flex-start
  & > .mp-carousel-photo-wrapper
    flex-basis: 18%
    height: 100%
    position: relative
    display: inline-block
    text-align: center
    & > .mp-carousel-photo
      max-height: 95%
      max-width: 95%
      centerWithTranslate()
    & > .mp-carousel-photo-loader
      centerWithTranslate()
