
<script id="galleryTmpl" type="text/html">
			<![CDATA[
			<div class="mp-album-outer">
				<div class="mp-album">
					<% for(i=0; i<tmplPhotosData.length(); ++i){ %>
					<img class="overlay-description" src="<%= tmplPhotosData[i] %>" rel="#overlayed-description"></img>
					<% }; %>
				</div>
			</div>
			]]>
		</script>	

		<script id="galleryFullscreenTmpl" type="text/html">
			<![CDATA[
			<div id="mp-image-overlay" class="mp-image-overlay">
				<img class="mp-loading"></img>
				<img class="mp-image-zoom" src="images/zoom.png" ></img>
				<img class="mp-image-full" src="<%= tmplPhotoData.source %>" style="display:none;"></img>
				<div class="mp-image-overlay-desc">
					<div class="mp-image-nav">
						<img class="mp-image-nav-prev" src="images/image-arrow-left.png" ></img>
						<img class="mp-image-nav-next" src="images/image-arrow-right.png" ></img>
						<img id="mp-image-overlay-close" class="mp-image-overlay-close" src="images/close.png" ></img>
					</div>
					<h2 class="mp-label"><%= tmplPhotoData.description %></h2>
				</div>
			</div>
			]]>
		</script>
						
		<script id="descriptionTmpl" type="text/html">
			<![CDATA[
			<div class="mp-font mp-description-wrapper">
				<div class="mp-font mp-status-image"></div>
				<p class="mp-font mp-label mp-description-name"></p>
				<div class="mp-font mp-description"></div>
			</div>	
			]]>	
		</script>
		
		_____________________________________
		<script id="galleryFullscreenTmpl" type="text/html">
			<div id="mp-image-overlay" class="mp-image-overlay">
				<img class="mp-loading"></img>
				<img class="mp-image-zoom" src="images/zoom.png" ></img>
				<img class="mp-image-full" src="<%= tmplPhotoData.source %>" style="display:none;"></img>
				<div class="mp-image-overlay-desc">
					<div class="mp-image-nav">
						<img class="mp-image-nav-prev" src="images/image-arrow-left.png" ></img>
						<img class="mp-image-nav-next" src="images/image-arrow-right.png" ></img>
						<img id="mp-image-overlay-close" class="mp-image-overlay-close" src="images/close.png" ></img>
					</div>
					<h2 class="mp-label"><%= tmplPhotoData.description %></h2>
				</div>
			</div>
		</script>
______________-
titelleiste

				<div class="mp-title-wrapper">
					<div class="mp-title">
						<p class="mp-label mp-title-name">Photo Map</p>
					</div>
				</div>
