div.insert
	form.jquery-validator.mp-dialog(name="update-album",action="/insert-place",method="post")
		div
			label(for="place-name") name
			input(type="text",name="place-name",required="required")
		div
			label(for="place-desc") description
			textarea(type="text",name="place-desc",cols="50",rows="5")
		input(type="hidden",name="place-lat",required="required")
		input(type="hidden",name="place-lng",required="required")
		input(type="submit",value="submit",name="submit")
