!!! html
head
	script(type="text/javascript",src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
	script
		$(document).ready(function(){
			var error = $("div.error").html();
			//change into parentframe and close popup
			alert(error);
			window.parent.jQuery.fancybox.close();
		});
body
	div.error #{error}
