<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets-plain/jquery.jscrollpane.css" />
		<script type="text/javascript" src="/javascripts/jquery.all.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.jscrollpane.min.js"></script>
		<script type="text/javascript" src="/javascripts/test.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.mousewheel.min.js"></script>
		<script type="text/javascript" src="/javascripts/tzoom.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	</head>
	
	<body>
		<div class="outer mp-image-overlay-wrapper" style="margin-left: -626.5px; margin-top: -173px; overflow: hidden;width: 1253px; height: 346px;  cursor: auto;">
			<div class="inner" style= "width: 1253px; height: 346px;  cursor: auto;">
				<img src="photos/f644433f41681f02e64fd68904678738.jpg" />
			</div>
		</div>
	</body>

</html>
