<div>
	<form class="mp-dialog" action="update-history" method="post">
		<input type="hidden" name="mp-history-content" />
		<input type="hidden" name="mp-history-method" />
		<div>
			<label for="mp-history-slot">Name</label> 
			<input type="text" name="mp-history-slot" required="required" min-length=4 />
		</div>	
		<div>
			<label class="mp-dialog-long" for="mp-history-save">Automatisch speichern</label>
			<input type="checkbox" name="mp-history-save" />
		</div>	
		
		<input type="submit" value="Speichern" name="submit" />
	</form>
</div>
